{% extends "base.html.twig" %}

{% block Template %}
    {% include "OutilsTemplates/Carrousel.html.twig" %}
{% endblock %}

{% block Body %}
<h1>Bienvenue sur la page d'accueil</h1>
<h2>Test de fork and merge avec modif</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
    officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nis
    ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Excepteur sint occaecat cupidatat non proident, sunt in culpa
    qui officia deserunt mollit anim id est laborum.</p>

<div class="container-fluid">
<div class="row justify-content-md-center">
    <div class="card">
        <div class="card-header"> <h4>Actualités</h4> </div><!-- .card-body -->
            <div class="card-body">
                <div class="row justify-content-md-center">
                    <!-- Inserer boucle ici-->
                    <div class="col-lg-5">
                        <div class="card">
                            <!-- .card-header -->
                            <div class="card-body">
                                <h5 class="card-title"> Special title treatment </h5>
                                <h6 class="card-subtitle text-muted"> Support card subtitle </h6>
                            </div><!-- /.card-body -->
                            <!-- 16:9 aspect ratio -->
                            <figure class="embed-responsive embed-responsive-16by9 mb-0">
                                <img class="embed-responsive-item" src="looper/dist/assets/images/dummy/img-1.jpg" alt="Card image">
                            </figure><!-- /.embed-responsive -->
                            <!-- .card-body -->
                            <div class="card-body">
                                <p class="card-text"> 
                                    Blanditiis architecto quaerat fugit sit ab veritatis ipsam assumenda doloremque repellendus expedita. 
                                    <a href="#" class="mention">@stilearningTwit</a>
                                    . 
                                    <a href="#" class="hashtag">#looper</a>
                                    <a href="#" class="hashtag">#admin</a><br>
                                <time datetime="2018-02-12">Feb 12, 2018 at 08:19pm</time>
                                </p>
                            </div><!-- /.card-body -->
                        </div>
                    </div>
                    <div class="col-lg-5">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title"> Special title treatment </h5>
                                        <h6 class="card-subtitle text-muted"> Support card subtitle </h6>
                                    </div><!-- /.card-body -->
                                    <!-- 16:9 aspect ratio -->
                                    <figure class="embed-responsive embed-responsive-16by9 mb-0">
                                        <img class="embed-responsive-item" src="looper/dist/assets/images/dummy/img-1.jpg" alt="Card image">
                                    </figure><!-- /.embed-responsive -->
                                    <!-- .card-body -->
                                    <div class="card-body">
                                        <p class="card-text"> 
                                            Blanditiis architecto quaerat fugit sit ab veritatis ipsam assumenda doloremque repellendus expedita. 
                                            <a href="#" class="mention">@stilearningTwit</a>
                                            . 
                                            <a href="#" class="hashtag">#looper</a>
                                            <a href="#" class="hashtag">#admin</a><br>
                                        <time datetime="2018-02-12">Feb 12, 2018 at 08:19pm</time>
                                        </p>
                                    </div><!-- /.card-body -->
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</div>
{% endblock %}
