<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- End Required meta tags -->

    {% include seo.html %}

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600" rel="stylesheet">
    <!-- End Google font -->

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="theme-color" content="#070B0F">
    <!-- End Favicons -->

    <!-- BEGIN PLUGINS STYLES -->
    <link rel="stylesheet" href="vendor/open-iconic/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="vendor/fontawesome/css/all.css">
    <link rel="stylesheet" href="vendor/highlightjs/styles/ocean.css">
    <!-- END PLUGINS STYLES -->

    <!-- BEGIN THEME STYLES -->
    <link rel="stylesheet" href="stylesheets/theme.min.css" data-skin="default">
    <link rel="stylesheet" href="stylesheets/theme-dark.min.css" data-skin="dark">
    <!-- Disable unused skin immediately -->
    <script>
      var skin = localStorage.getItem('skin') || 'default';
      var unusedLink = document.querySelector('link[data-skin]:not([data-skin="'+ skin +'"])');

      unusedLink.setAttribute('rel', '');
      unusedLink.setAttribute('disabled', true);
    </script>
    <!-- END THEME STYLES -->
  </head>

  <body data-spy="scroll" data-target="#nav-content" data-offset="76">
    <!-- .app -->
    <div class="app">
      <!--[if lt IE 10]>
      <div class="page-message" role="alert">You are using an <strong>outdated</strong> browser. Please <a class="alert-link" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</div>
      <![endif]-->

      <!-- .app-header -->
      {% include header-docs.html %}
      <!-- /.app-header -->

      <!-- .app-aside -->
      {% include aside-docs.html %}
      <!-- /.app-aside -->

      <!-- .app-main -->
      <main class="app-main">
        <!-- .wrapper -->
        <div class="wrapper">
          {{content}}
        </div>
        <!-- /.wrapper -->
      </main>
      <!-- /.app-main -->
    </div>
    <!-- /.app -->


    <!-- BEGIN BASE JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- END BASE JS -->

    <!-- BEGIN PLUGINS JS -->
    <script src="vendor/highlightjs/highlight.pack.js"></script>
    <!-- END PLUGINS JS -->

    <!-- BEGIN THEME JS -->
    <script src="javascript/theme.min.js"></script>
    <!-- END THEME JS -->

    <script>
      hljs.initHighlightingOnLoad();

      function highlightText(el) {
        if (document.selection) {
          var range = document.body.createTextRange();
          range.moveToElementText(el);
          range.select();
        } else if (window.getSelection) {
          var range = document.createRange();
          range.selectNodeContents(el);
          window.getSelection().removeAllRanges();
          window.getSelection().addRange(range);
        }
      }
    </script>
  </body>
</html>
