<!-- .section-block -->
<div class="section-block">
  <h2 class="section-title">Containers</h2>
</div>
<!-- /.section-block -->

<!-- .jumbotron -->
<div class="jumbotron">
  <h1 class="display-3">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
<!-- /.jumbotron -->

<!-- .section-block -->
<div class="section-block">
  <h2 class="section-title">Cards</h2>
  <p class="text-muted">Provide a flexible and extensible content container with multiple variants and options.</p>

  <!-- grid row -->
  <div class="row">
    <!-- grid column -->
    <div class="col-lg-6">
      <!-- .card -->
      <div class="card">
        <!-- .card-header -->
        <div class="card-header">Components</div>
        <!-- .card-body -->
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <h6 class="card-subtitle text-muted">Support card subtitle</h6>
        </div>
        <!-- /.card-body -->
        <!-- 16:9 aspect ratio -->
        <figure class="embed-responsive embed-responsive-16by9 mb-0">
          <img class="embed-responsive-item" src="assets/images/dummy/img-1.jpg" alt="Card image">
        </figure>
        <!-- /.embed-responsive -->
        <!-- .card-body -->
        <div class="card-body">
          <p class="card-text">
            Blanditiis architecto quaerat fugit sit ab veritatis ipsam assumenda doloremque repellendus expedita.
            <a href="#" class="mention">@stilearningTwit</a> . <a href="#" class="hashtag">#looper</a> <a href="#" class="hashtag">#admin</a>
            <br>
            <time datetime="2018-02-12">Feb 12, 2018 at 08:19pm</time>
          </p>
        </div>
        <!-- /.card-body -->
        <!-- .card-footer -->
        <div class="card-footer">
          <div class="card-footer-content text-muted">Card Footer</div>
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /grid column -->

    <!-- grid column -->
    <div class="col-lg-6">
      <!-- .card -->
      <div class="card">
        <!-- .card-header -->
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#card-home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active show" data-toggle="tab" href="#card-profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
        </div>
        <!-- /.card-header -->
        <!-- .card-body -->
        <div class="card-body">
          <!-- .tab-content -->
          <div id="myTabCard" class="tab-content">
            <div class="tab-pane fade" id="card-home">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="tab-pane fade active show" id="card-profile">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-danger">Go somewhere</a>
            </div>
          </div>
          <!-- /.tab-content -->
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

      <!-- .card -->
      <div class="card">
        <!-- .card-body -->
        <div class="card-body">
          <h4 class="card-title">Special title treatment</h4>
          <h6 class="card-subtitle mb-2 text-muted">Support card subtitle</h6>
          <p class="card-text">
            Blanditiis architecto quaerat fugit sit ab veritatis ipsam assumenda doloremque repellendus expedita.
            <a href="#" class="mention">@stilearningTwit</a> . <a href="#" class="hashtag">#looper</a> <a href="#" class="hashtag">#admin</a>
            <br>
            <time datetime="2018-02-12">Feb 12, 2018 at 08:19pm</time>
          </p>
        </div>
        <!-- /.card-body -->
        <!-- .list-group -->
        <ul class="list-group list-group-flush list-group-bordered border-top border-bottom">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <!-- /.list-group -->
        <!-- .card-body -->
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /grid column -->
  </div>
  <!-- /grid row -->

  <!-- grid row -->
  <div class="row">
    <!-- grid column -->
    <div class="col-lg-4">
      <!-- .card -->
      <div class="card">
        <div class="card-header">Components</div>
        <!-- .card-body -->
        <div class="card-body">
          <p class="card-text">
            Blanditiis architecto quaerat fugit sit ab veritatis ipsam assumenda doloremque repellendus expedita.
            <a href="#" class="mention">@stilearningTwit</a> . <a href="#" class="hashtag">#looper</a> <a href="#" class="hashtag">#admin</a>
            <br>
            <time datetime="2018-02-12">Feb 12, 2018 at 08:19pm</time>
          </p>
        </div>
        <!-- /.card-body -->
        <!-- .card-footer -->
        <div class="card-footer">
          <a href="#" class="card-footer-item card-footer-item-bordered">Save</a>
          <a href="#" class="card-footer-item card-footer-item-bordered">Edit</a>
          <a href="#" class="card-footer-item card-footer-item-bordered">Delete</a>
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /grid column -->

    <!-- grid column -->
    <div class="col-lg-4">
      <!-- .card -->
      <div class="card card-inverse bg-primary">
        <div class="card-header">Components</div>
        <!-- .card-body -->
        <div class="card-body">
          <p class="card-text">
            Blanditiis architecto quaerat fugit sit ab veritatis ipsam assumenda doloremque repellendus expedita.
            <a href="#" class="mention card-link">@stilearningTwit</a> . <a href="#" class="hashtag card-link">#looper</a> <a href="#" class="hashtag card-link">#admin</a>
            <br>
            <time datetime="2018-02-12">Feb 12, 2018 at 08:19pm</time>
          </p>
        </div>
        <!-- /.card-body -->
        <!-- .card-footer -->
        <div class="card-footer">
          <a href="#" class="card-footer-item card-footer-item-bordered card-link">Save</a>
          <a href="#" class="card-footer-item card-footer-item-bordered card-link">Edit</a>
          <a href="#" class="card-footer-item card-footer-item-bordered card-link">Delete</a>
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /grid column -->

    <!-- grid column -->
    <div class="col-lg-4">
      <!-- .card -->
      <div class="card bg-secondary">
        <div class="card-header">Components</div>
        <!-- .card-body -->
        <div class="card-body">
          <p class="card-text">
            Blanditiis architecto quaerat fugit sit ab veritatis ipsam assumenda doloremque repellendus expedita.
            <a href="#" class="mention">@stilearningTwit</a> . <a href="#" class="hashtag">#looper</a> <a href="#" class="hashtag">#admin</a>
            <br>
            <time datetime="2018-02-12">Feb 12, 2018 at 08:19pm</time>
          </p>
        </div>
        <!-- /.card-body -->
        <!-- .card-footer -->
        <div class="card-footer">
          <a href="#" class="card-footer-item card-footer-item-bordered">Save</a>
          <a href="#" class="card-footer-item card-footer-item-bordered">Edit</a>
          <a href="#" class="card-footer-item card-footer-item-bordered">Delete</a>
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /grid column -->

    <!-- grid column -->
    <div class="col-lg-4">
      <!-- .card -->
      <div class="card card-inverse bg-success">
        <div class="card-header">Components</div>
        <!-- .card-body -->
        <div class="card-body">
          <p class="card-text">
            Blanditiis architecto quaerat fugit sit ab veritatis ipsam assumenda doloremque repellendus expedita.
            <a href="#" class="mention card-link">@stilearningTwit</a> . <a href="#" class="hashtag card-link">#looper</a> <a href="#" class="hashtag card-link">#admin</a>
            <br>
            <time datetime="2018-02-12">Feb 12, 2018 at 08:19pm</time>
          </p>
        </div>
        <!-- /.card-body -->
        <!-- .card-footer -->
        <div class="card-footer">
          <a href="#" class="card-footer-item card-footer-item-bordered card-link">Save</a>
          <a href="#" class="card-footer-item card-footer-item-bordered card-link">Edit</a>
          <a href="#" class="card-footer-item card-footer-item-bordered card-link">Delete</a>
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /grid column -->

    <!-- grid column -->
    <div class="col-lg-4">
      <!-- .card -->
      <div class="card card-inverse bg-danger">
        <div class="card-header">Components</div>
        <!-- .card-body -->
        <div class="card-body">
          <p class="card-text">
            Blanditiis architecto quaerat fugit sit ab veritatis ipsam assumenda doloremque repellendus expedita.
            <a href="#" class="mention card-link">@stilearningTwit</a> . <a href="#" class="hashtag card-link">#looper</a> <a href="#" class="hashtag card-link">#admin</a>
            <br>
            <time datetime="2018-02-12">Feb 12, 2018 at 08:19pm</time>
          </p>
        </div>
        <!-- /.card-body -->
        <!-- .card-footer -->
        <div class="card-footer">
          <a href="#" class="card-footer-item card-footer-item-bordered card-link">Save</a>
          <a href="#" class="card-footer-item card-footer-item-bordered card-link">Edit</a>
          <a href="#" class="card-footer-item card-footer-item-bordered card-link">Delete</a>
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /grid column -->

    <!-- grid column -->
    <div class="col-lg-4">
      <!-- .card -->
      <div class="card text-black bg-warning">
        <div class="card-header">Components</div>
        <!-- .card-body -->
        <div class="card-body">
          <p class="card-text">
            Blanditiis architecto quaerat fugit sit ab veritatis ipsam assumenda doloremque repellendus expedita.
            <a href="#" class="mention">@stilearningTwit</a> . <a href="#" class="hashtag">#looper</a> <a href="#" class="hashtag">#admin</a>
            <br>
            <time datetime="2018-02-12">Feb 12, 2018 at 08:19pm</time>
          </p>
        </div>
        <!-- /.card-body -->
        <!-- .card-footer -->
        <div class="card-footer">
          <a href="#" class="card-footer-item card-footer-item-bordered">Save</a>
          <a href="#" class="card-footer-item card-footer-item-bordered">Edit</a>
          <a href="#" class="card-footer-item card-footer-item-bordered">Delete</a>
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /grid column -->

    <!-- grid column -->
    <div class="col-lg-4">
      <!-- .card -->
      <div class="card card-inverse bg-info">
        <div class="card-header">Components</div>
        <!-- .card-body -->
        <div class="card-body">
          <p class="card-text">
            Blanditiis architecto quaerat fugit sit ab veritatis ipsam assumenda doloremque repellendus expedita.
            <a href="#" class="mention card-link">@stilearningTwit</a> . <a href="#" class="hashtag card-link">#looper</a> <a href="#" class="hashtag card-link">#admin</a>
            <br>
            <time datetime="2018-02-12">Feb 12, 2018 at 08:19pm</time>
          </p>
        </div>
        <!-- /.card-body -->
        <!-- .card-footer -->
        <div class="card-footer">
          <a href="#" class="card-footer-item card-footer-item-bordered card-link">Save</a>
          <a href="#" class="card-footer-item card-footer-item-bordered card-link">Edit</a>
          <a href="#" class="card-footer-item card-footer-item-bordered card-link">Delete</a>
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /grid column -->

    <!-- grid column -->
    <div class="col-lg-4">
      <!-- .card -->
      <div class="card text-dark bg-light">
        <div class="card-header">Components</div>
        <!-- .card-body -->
        <div class="card-body">
          <p class="card-text">
            Blanditiis architecto quaerat fugit sit ab veritatis ipsam assumenda doloremque repellendus expedita.
            <a href="#" class="mention">@stilearningTwit</a> . <a href="#" class="hashtag">#looper</a> <a href="#" class="hashtag">#admin</a>
            <br>
            <time datetime="2018-02-12">Feb 12, 2018 at 08:19pm</time>
          </p>
        </div>
        <!-- /.card-body -->
        <!-- .card-footer -->
        <div class="card-footer">
          <a href="#" class="card-footer-item card-footer-item-bordered">Save</a>
          <a href="#" class="card-footer-item card-footer-item-bordered">Edit</a>
          <a href="#" class="card-footer-item card-footer-item-bordered">Delete</a>
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /grid column -->

    <!-- grid column -->
    <div class="col-lg-4">
      <!-- .card -->
      <div class="card text-light bg-dark">
        <div class="card-header">Components</div>
        <!-- .card-body -->
        <div class="card-body">
          <p class="card-text">
            Blanditiis architecto quaerat fugit sit ab veritatis ipsam assumenda doloremque repellendus expedita.
            <a href="#" class="mention">@stilearningTwit</a> . <a href="#" class="hashtag">#looper</a> <a href="#" class="hashtag">#admin</a>
            <br>
            <time datetime="2018-02-12">Feb 12, 2018 at 08:19pm</time>
          </p>
        </div>
        <!-- /.card-body -->
        <!-- .card-footer -->
        <div class="card-footer">
          <a href="#" class="card-footer-item card-footer-item-bordered">Save</a>
          <a href="#" class="card-footer-item card-footer-item-bordered">Edit</a>
          <a href="#" class="card-footer-item card-footer-item-bordered">Delete</a>
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /grid column -->
  </div>
  <!-- /grid row -->
</div>
<!-- /.section-block -->

<!-- .section-block -->
<div class="section-block">
  <h2 class="section-title">Expansion Cards</h2>
  <p class="text-muted">A lightweight container that may either stand alone or be connected to a larger surface, such as a card.</p>

  <!-- grid row -->
  <div class="row">
    <!-- grid column -->
    <div class="col-lg-6">
      <!-- #accordion -->
      <div id="accordion" class="card-expansion">
        <!-- .card -->
        <div class="card card-expansion-item expanded">
          <div class="card-header border-0" id="headingOne">
            <button class="btn btn-reset" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <span class="collapse-indicator mr-2"><i class="fa fa-fw fa-caret-right"></i></span>
              <span>Expandable Item #1</span>
            </button>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body pt-0">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <!-- /.card -->

        <!-- .card -->
        <div class="card card-expansion-item">
          <div class="card-header border-0" id="headingTwo">
            <button class="btn btn-reset collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <span class="collapse-indicator mr-2"><i class="fa fa-fw fa-caret-right"></i></span>
              <span>Expandable Item #2</span>
            </button>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body pt-0">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <!-- /.card -->

        <!-- .card -->
        <div class="card card-expansion-item">
          <div class="card-header border-0" id="headingThree">
            <button class="btn btn-reset collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <span class="collapse-indicator mr-2"><i class="fa fa-fw fa-caret-right"></i></span>
              <span>Expandable Item #3</span>
            </button>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body pt-0">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /#accordion -->
    </div>
    <!-- /grid column -->

    <!-- grid column -->
    <div class="col-lg-6">
      <!-- #accordion2 -->
      <div id="accordion2" class="card-expansion">
        <!-- .card -->
        <div class="card card-expansion-item expanded">
          <div class="card-header border-0" id="headingOne2">
            <button class="btn btn-reset d-flex justify-content-between w-100" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
              <span>Expandable Item #1</span>
              <span class="collapse-indicator"><i class="fa fa-fw fa-chevron-down"></i></span>
            </button>
          </div>
          <div id="collapseOne2" class="collapse show" aria-labelledby="headingOne2" data-parent="#accordion2">
            <div class="card-body pt-0">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <!-- /.card -->

        <!-- .card -->
        <div class="card card-expansion-item">
          <div class="card-header border-0" id="headingTwo2">
            <button class="btn btn-reset d-flex justify-content-between w-100 collapsed" data-toggle="collapse" data-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
              <span>Expandable Item #2</span>
              <span class="collapse-indicator"><i class="fa fa-fw fa-chevron-down"></i></span>
            </button>
          </div>
          <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2" data-parent="#accordion2">
            <div class="card-body pt-0">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <!-- /.card -->

        <!-- .card -->
        <div class="card card-expansion-item">
          <div class="card-header border-0" id="headingThree2">
            <button class="btn btn-reset d-flex justify-content-between w-100 collapsed" data-toggle="collapse" data-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
              <span>Expandable Item #3</span>
              <span class="collapse-indicator"><i class="fa fa-fw fa-chevron-down"></i></span>
            </button>
          </div>
          <div id="collapseThree2" class="collapse" aria-labelledby="headingThree2" data-parent="#accordion2">
            <div class="card-body pt-0">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /#accordion2 -->
    </div>
    <!-- /grid column -->
  </div>
  <!-- /grid row -->
</div>
<!-- /.section-block -->

