<!-- .section-block -->
<div class="section-block">
  <h2 class="section-title">Indicators</h2>
  <p class="text-muted">Provide contextual feedback messages for typical user actions and labeling components.</p>
</div>
<!-- /.section-block -->

<!-- Alerts -->
<div class="section-block">
  <div class="alert alert-secondary has-icon alert-dismissible fade show">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <div class="alert-icon">
      <span class="oi oi-flag"></span>
    </div>
    <h4 class="alert-heading">Warning!</h4>
    <p class="mb-0">Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
  </div>
  <!-- grid row -->
  <div class="row">
    <!-- grid column -->
    <div class="col-lg-4">
      <div class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
      </div>
    </div>
    <!-- /grid column -->
    <!-- grid column -->
    <div class="col-lg-4">
      <div class="alert alert-success alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
      </div>
    </div>
    <!-- /grid column -->
    <!-- grid column -->
    <div class="col-lg-4">
      <div class="alert alert-info alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
      </div>
    </div>
    <!-- /grid column -->
    <!-- grid column -->
    <div class="col-lg-4">
      <div class="alert alert-primary has-icon" role="alert">
        <div class="alert-icon">
          <span class="oi oi-info"></span>
        </div>
        This is a primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
      </div>
    </div>
    <!-- /grid column -->
    <!-- grid column -->
    <div class="col-lg-4">
      <div class="alert alert-warning has-icon" role="alert">
        <div class="alert-icon">
          <span class="fa fa-bullhorn"></span>
        </div>
        This is a warning alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
      </div>
    </div>
    <!-- /grid column -->
    <!-- grid column -->
    <div class="col-lg-4">
      <div class="alert alert-dark has-icon" role="alert">
        <div class="alert-icon">
          <span class="oi oi-bell"></span>
        </div>
        This is a dark alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
      </div>
    </div>
    <!-- /grid column -->
  </div>
  <!-- /grid row -->
</div>
<!-- /Alerts -->

<!-- .log-divider -->
<div class="log-divider">
  <span class="bg-light"><i class="fa fa-fw fa-comment-alt"></i> This is a log divider</span>
</div>
<!-- /.log-divider -->

<!-- Badges & Mention -->
<div class="section-block">
  <!-- grid row -->
  <div class="row">
    <!-- grid column -->
    <div class="col-lg-6">
      <p>
        <span class="badge badge-primary">Primary</span>
        <span class="badge badge-secondary">Secondary</span>
        <span class="badge badge-success">Success</span>
        <span class="badge badge-danger">Danger</span>
        <span class="badge badge-warning">Warning</span>
        <span class="badge badge-info">Info</span>
        <span class="badge badge-light">Light</span>
        <span class="badge badge-dark">Dark</span>
      </p>
      <p>
        <span class="badge badge-subtle badge-primary">Primary</span>
        <span class="badge badge-subtle badge-secondary">Secondary</span>
        <span class="badge badge-subtle badge-success">Success</span>
        <span class="badge badge-subtle badge-danger">Danger</span>
        <span class="badge badge-subtle badge-warning">Warning</span>
        <span class="badge badge-subtle badge-info">Info</span>
        <span class="badge badge-subtle badge-light">Light</span>
        <span class="badge badge-subtle badge-dark">Dark</span>
      </p>
    </div>
    <!-- /grid column -->
    <!-- grid column -->
    <div class="col-lg-6">
      <p>
        <span class="badge badge-pill badge-primary">Primary</span>
        <span class="badge badge-pill badge-secondary">Secondary</span>
        <span class="badge badge-pill badge-success">Success</span>
        <span class="badge badge-pill badge-danger">Danger</span>
        <span class="badge badge-pill badge-warning">Warning</span>
        <span class="badge badge-pill badge-info">Info</span>
        <span class="badge badge-pill badge-light">Light</span>
        <span class="badge badge-pill badge-dark">Dark</span>
      </p>
      <p>
        <span class="badge badge-lg badge-danger"><span class="oi oi-media-record pulse mr-1"></span>Live View</span>
      </p>
    </div>
    <!-- /grid column -->
  </div>
  <!-- /grid row -->

  <p>
    <a href="#" class="mention">@mention</a>
  </p>
</div>
<!-- /Badges & Mention -->
