<!-- .section-block -->
<div class="section-block">
  <h2 class="section-title">Nestable</h2>
  <p class="text-muted">Drag & drop hierarchical list with mouse and touch compatibility.</p>
</div>
<!-- /.section-block -->

<!-- grid row -->
<div class="row">
  <!-- grid column -->
  <div class="col-lg-6">
    <!-- .card -->
    <div class="card card-fluid">
      <div class="card-header border-bottom-0">Footer Menus</div>
      <!-- .nestable -->
      <div id="nestable01" class="dd" data-toggle="nestable" data-group="1" data-max-depth="5">
        <!-- .dd-list -->
        <ol class="dd-list">
          <li class="dd-item" data-id="1">
            <div class="dd-handle">
              <span class="drag-indicator"></span>
              <div>Tracking Order</div>
              <div class="dd-nodrag btn-group ml-auto">
                <button class="btn btn-sm btn-secondary">Edit</button>
                <button class="btn btn-sm btn-secondary"><i class="far fa-trash-alt"></i></button>
              </div>
            </div>
          </li>
          <li class="dd-item" data-id="2">
            <div class="dd-handle">
              <span class="drag-indicator"></span>
              <div>Shipping Policy</div>
              <div class="dd-nodrag btn-group ml-auto">
                <button class="btn btn-sm btn-secondary">Edit</button>
                <button class="btn btn-sm btn-secondary"><i class="far fa-trash-alt"></i></button>
              </div>
            </div>
          </li>
          <li class="dd-item" data-id="3">
            <div class="dd-handle">
              <span class="drag-indicator"></span>
              <div>Return & Exchanges</div>
              <div class="dd-nodrag btn-group ml-auto">
                <button class="btn btn-sm btn-secondary">Edit</button>
                <button class="btn btn-sm btn-secondary"><i class="far fa-trash-alt"></i></button>
              </div>
            </div>
          </li>
          <li class="dd-item" data-id="4">
            <div class="dd-handle">
              <span class="drag-indicator"></span>
              <div>Privacy Statement</div>
              <div class="dd-nodrag btn-group ml-auto">
                <button class="btn btn-sm btn-secondary">Edit</button>
                <button class="btn btn-sm btn-secondary"><i class="far fa-trash-alt"></i></button>
              </div>
            </div>
          </li>
          <li class="dd-item" data-id="5">
            <div class="dd-handle">
              <span class="drag-indicator"></span>
              <div>Term Of Services</div>
              <div class="dd-nodrag btn-group ml-auto">
                <button class="btn btn-sm btn-secondary">Edit</button>
                <button class="btn btn-sm btn-secondary"><i class="far fa-trash-alt"></i></button>
              </div>
            </div>
          </li>
        </ol>
        <!-- /.dd-list -->
      </div>
      <!-- /.nestable -->
      <!-- .card-footer -->
      <div class="card-footer">
        <a href="#" class="card-footer-item justify-content-start">
          <span><i class="fa fa-plus-circle mr-1"></i> Add Menu Item</span>
        </a>
      </div>
      <!-- /.card-footer -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->

  <!-- grid column -->
  <div class="col-lg-6">
    <!-- .card -->
    <div class="card card-fluid">
      <div class="card-header border-bottom-0">Primary Menus</div>
      <!-- .nestable -->
      <div id="nestable02" class="dd" data-toggle="nestable" data-group="1" data-max-depth="5">
        <!-- .dd-list -->
        <ol class="dd-list">
          <li class="dd-item" data-id="6">
            <div class="dd-handle">
              <span class="drag-indicator"></span>
              <div>Homepage</div>
              <div class="dd-nodrag btn-group ml-auto">
                <button class="btn btn-sm btn-secondary">Edit</button>
                <button class="btn btn-sm btn-secondary"><i class="far fa-trash-alt"></i></button>
              </div>
            </div>
          </li>
          <li class="dd-item" data-id="7">
            <div class="dd-handle">
              <span class="drag-indicator"></span>
              <div>Shops</div>
              <div class="dd-nodrag btn-group ml-auto">
                <button class="btn btn-sm btn-secondary">Edit</button>
                <button class="btn btn-sm btn-secondary"><i class="far fa-trash-alt"></i></button>
              </div>
            </div>
          </li>
          <li class="dd-item" data-id="8">
            <div class="dd-handle">
              <span class="drag-indicator"></span>
              <div>About Us</div>
              <div class="dd-nodrag btn-group ml-auto">
                <button class="btn btn-sm btn-secondary">Edit</button>
                <button class="btn btn-sm btn-secondary"><i class="far fa-trash-alt"></i></button>
              </div>
            </div>
          </li>
          <li class="dd-item" data-id="9">
            <div class="dd-handle">
              <span class="drag-indicator"></span>
              <div>Our Teams</div>
              <div class="dd-nodrag btn-group ml-auto">
                <button class="btn btn-sm btn-secondary">Edit</button>
                <button class="btn btn-sm btn-secondary"><i class="far fa-trash-alt"></i></button>
              </div>
            </div>
          </li>
          <li class="dd-item" data-id="10">
            <div class="dd-handle">
              <span class="drag-indicator"></span>
              <div>Inquiries</div>
              <div class="dd-nodrag btn-group ml-auto">
                <button class="btn btn-sm btn-secondary">Edit</button>
                <button class="btn btn-sm btn-secondary"><i class="far fa-trash-alt"></i></button>
              </div>
            </div>
          </li>
        </ol>
        <!-- /.dd-list -->
      </div>
      <!-- /.nestable -->
      <!-- .card-footer -->
      <div class="card-footer">
        <a href="#" class="card-footer-item justify-content-start">
          <span><i class="fa fa-plus-circle mr-1"></i> Add Menu Item</span>
        </a>
      </div>
      <!-- /.card-footer -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->
</div>
<!-- /grid row -->

<!-- .card -->
<div class="card card-fluid">
  <div class="card-header border-bottom-0">JSON Generation</div>
  <!-- .nestable -->
  <div id="nestable03" class="dd">
    <ol class="dd-list"></ol>
  </div>
  <!-- /.nestable -->
  <!-- .card-footer -->
  <div class="card-footer">
    <a href="#" class="card-footer-item justify-content-start">
      <span><i class="fa fa-plus-circle mr-1"></i> Add Menu Item</span>
    </a>
  </div>
  <!-- /.card-footer -->
</div>
<!-- /.card -->

<!-- .section-block -->
<div class="section-block">
  <pre id="nestableOutput"></pre>
</div>
<!-- /.section-block -->
