

{% block Body %}
    <div class="modal fade" id="seConnecter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" xmlns="http://www.w3.org/1999/html">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h1 class="modal-header">
                        <h1 class=modal-title">Se connecter</h1>
                </div>
                <div class="modal-body">
                    <form action="{{ path('security_login') }}" method="post">

                        <div class="form-group">

                                <input type="email" class="form-control" id="fl1" required name="_username"  placeholder="Adresse E-mail">

                        </div>


{#                        <div class="form_group">#}
{#                            <input placeholder="Adresse email..." required name="_username" type="text" class="form-control">#}
{#                        </div>#}
                        <div class="form-group">

                            <input type="password" class="form-control"  id="lbl5" required name="_password"  placeholder="Mot de Passe">
                            <label class="d-flex justify-content-between" for="lbl5">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="ckb7" name="_remember_me">
                                    <label class="custom-control-label" for="ckb7" >Rester connecté</label>
                                </div>

                                <a href="#lbl5" data-toggle="password"><i class="fa fa-eye fa-fw"></i> <span>Afficher</span></a>
                            </label>
                        </div>
{#                        <div class="form_group">#}
{#                            <input placeholder="Mot de passe" required name="_password" type="password" class="form-control">#}
{#                        </div>#}

                        <div class="form_group">
                            <button type="submit" class="btn btn-secondary">Connexion</button>
                            <a href="/inscription" target="_self"><input type="button" class="btn btn-light" value="Créer un compte"></a>


                            <p class="text-right">
                                <a href="{{ path('app_forgotten_password') }}" target="_self" class="btn btn-link" >Mot de passe oublié</a></p>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock Body %}
