{% extends 'base.html.twig'%}

{% block Body %}
    {% if not app.user%}
    <div align="center">
    <div class="col-lg-4" >
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Compte créé !</strong> Vous pouvez maintenant vous connecter ou <a href="{{ path('home_page') }}" class="alert-link">revenir sur la page d'accueil</a>.
        </div>
    </div>
    </div>
    {% endif %}
           <h1>Se connecter</h1>


                    <form action="{{ path('security_login') }}" method="post">

                        <div class="form-group">

                                <input type="email" class="form-control" id="fl1" required name="_username"  placeholder="Adresse E-mail">

                        </div>


{#                        <div class="form_group">#}
{#                            <input placeholder="Adresse email..." required name="_username" type="text" class="form-control">#}
{#                        </div>#}
                        <div class="form-group">

                            <input type="password" class="form-control"  id="lbl5" required name="_password"  placeholder="Mot de Passe">
                            <label class="d-flex justify-content-between" for="lbl5">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="ckb7" name="_remember_me">
                                    <label class="custom-control-label" for="ckb7" >Rester connecté</label>
                                </div>

                                <a href="#lbl5" data-toggle="password"><i class="fa fa-eye fa-fw"></i> <span>Afficher</span></a>
                            </label>
                        </div>
{#                        <div class="form_group">#}
{#                            <input placeholder="Mot de passe" required name="_password" type="password" class="form-control">#}
{#                        </div>#}

                        <div class="form_group">
                            <button type="submit" class="btn btn-secondary">Connexion</button>
                            <a href="/inscription" target="_self"><input type="button" class="btn btn-light" value="Créer un compte"></a>


                            <p class="text-right">
                                <a href="{{ path('app_forgotten_password') }}" target="_self" class="btn btn-link" >Mot de passe oublié</a></p>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </form>


{% endblock Body %}
