{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe !{% endblock %}

{% block Body %}
    <form method="post">

        <h1 class="h3 mb-3 font-weight-normal">Nouveau mot de passe</h1>
        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
        <input type="hidden" name="token" value="{{ token }}">

        <button class="btn btn-lg btn-primary" type="submit">
            Enregistrer
        </button>
    </form>
{% endblock %}
