{% extends 'base.html.twig' %}

{% block Body %}
    <form method="post">

        <h1 class="h3 mb-3 font-weight-normal">Nouveau mot de passe</h1>
        <div class="checkbox mb-3">
            <label for="inputPassword" class="sr-only">Mot de passe</label>
        </div>
        <div class="form_group">
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
        </div>
        <input type="hidden" name="token" value="{{ token }}">
        <button class="btn btn-success" type="submit">
            Enregistrer nouveau mot de passe!
        </button>

    </form>
{% endblock %}
