<h1> Test afficher doc</h1>

<img src=".\upload\user\5cb37786a5c88069475085.png" alt="test1" />

<img src="file:\\\C:\wamp64\tmp\cat.jpg" alt="test10" />

<!--
<img src=".\upload\user\5cb37786a5c88069475085.png" alt="test1" />

<img src="./upload/user/5cb37786a5c88069475085.png" alt="test2" />

<img src="\upload\user\5cb37786a5c88069475085.png" alt="test3" />

<img src="/upload/user/5cb37786a5c88069475085.png" alt="test4" />
Les 4 affichent l'image
-->
