<h1> Test afficher doc</h1>

<img src=".\upload\user\5cb37786a5c88069475085.png" alt="test1" />

<img src=".\upload\cat1.jpg" alt="chat1" />

<img src=".\upload\cat2.png" alt="chat2" />

<img src=".\upload\fiche\cat1.jpg" alt="chat11" />

<img src=".\upload\fiche\cat2.png" alt="chat22" />

<img src=".\upload\fiche\fiche20182019V2.png" alt="testpdf" />

<img src="./upload/fiche/fiche20182019V2.png" alt="testpdf2" />

<!--
<img src=".\upload\user\5cb37786a5c88069475085.png" alt="test1" />

<img src="./upload/user/5cb37786a5c88069475085.png" alt="test2" />

<img src="\upload\user\5cb37786a5c88069475085.png" alt="test3" />

<img src="/upload/user/5cb37786a5c88069475085.png" alt="test4" />
Les 4 affichent l'image
-->
