{% extends 'base.html.twig' %}

{% block body %}

    <h1> Modification des données personnelles </h1>

    {{ form_start(formUser) }}

    {{ form_end(formUser)}}

    <button type="submit" class="btn btn-success">
            Enregister modification(s)
    </button>

{% endblock %}