{% extends 'base.html.twig'%}

{% block Body %}


    {{ form_start(form) }}
    {{ form_widget(form.remark) }}
    <button type="submit" class="btn btn-secondary">Confirmer</button>
    {{ form_end(form)}}



{% endblock %}