<html>
    <head>
        <meta charset="UTF-8">
        <title>Fiche membre</title>
    </head>
    <body>
        <h1>Villeneuve Karaté do Association</h1>
        <h2>Fiche d'inscription ........ / ........</h2>
        <h4>Numéro dossier: ........</h4>
        <h4>Nom: {{ user.name }}</h4>
        <h4>Prénom: {{ user.firstName }}</h4>
        <h4>Sexe: {{ user.sex }}</h4>
        <h4>Date de naissance: {{ user.birthdate }}</h4>
    </body>
</html>
