{% extends 'base.html.twig' %}

{% block Body %}
    <form method="post">

        <h1 class="h3 mb-3 font-weight-normal">Recevoir la fiche de renseignements!</h1>
        <div class="checkbox mb-3">
            <label for="inputEmail" class="sr-only">Email</label>
        </div>
        <div class="form_group">
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        </div>
        </br>
        <button class="btn btn-success" type="submit">
            Envoyer email!
        </button>

    </form>
{% endblock %}
