<!-- .section-block -->
<div class="section-block">
  <h2 class="section-title">Sortable</h2>
  <p class="text-muted">JavaScript library for reorderable drag-and-drop lists on modern browsers and touch devices. No jQuery. </p>
</div>
<!-- /.section-block -->

<!-- grid row -->
<div class="row" data-toggle="sortable" data-draggable=".sortable-tile" data-handle=".drag-handle">
  <!-- grid column -->
  <div class="col-lg-6 sortable-tile">
    <!-- .card -->
    <div class="card card-fluid">
      <div class="card-header drag-handle">Draft Items</div>
      <!-- .sortable-lists -->
      <ul class="sortable-lists list-group list-group-flush list-group-bordered" data-toggle="sortable" data-group="pages">
        <li class="list-group-item align-items-center drag-handle">
          <span class="drag-indicator"></span>
          <div>Tracking Order</div>
          <div class="btn-group ml-auto">
            <button class="btn btn-sm btn-secondary">Edit</button>
            <button class="btn btn-sm btn-secondary"><i class="far fa-trash-alt"></i></button>
          </div>
        </li>
        <li class="list-group-item align-items-center drag-handle">
          <span class="drag-indicator"></span>
          <div>Shipping Policy</div>
          <div class="btn-group ml-auto">
            <button class="btn btn-sm btn-secondary">Edit</button>
            <button class="btn btn-sm btn-secondary"><i class="far fa-trash-alt"></i></button>
          </div>
        </li>
        <li class="list-group-item align-items-center drag-handle">
          <span class="drag-indicator"></span>
          <div>Return & Exchanges</div>
          <div class="btn-group ml-auto">
            <button class="btn btn-sm btn-secondary">Edit</button>
            <button class="btn btn-sm btn-secondary"><i class="far fa-trash-alt"></i></button>
          </div>
        </li>
        <li class="list-group-item align-items-center drag-handle">
          <span class="drag-indicator"></span>
          <div>Privacy Statement</div>
          <div class="btn-group ml-auto">
            <button class="btn btn-sm btn-secondary">Edit</button>
            <button class="btn btn-sm btn-secondary"><i class="far fa-trash-alt"></i></button>
          </div>
        </li>
        <li class="list-group-item align-items-center drag-handle">
          <span class="drag-indicator"></span>
          <div>Term Of Services</div>
          <div class="btn-group ml-auto">
            <button class="btn btn-sm btn-secondary">Edit</button>
            <button class="btn btn-sm btn-secondary"><i class="far fa-trash-alt"></i></button>
          </div>
        </li>
      </ul>
      <!-- /.sortable-lists -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->

  <!-- grid column -->
  <div class="col-lg-6 sortable-tile">
    <!-- .card -->
    <div class="card card-fluid">
      <div class="card-header drag-handle">Publish Items</div>
      <!-- .sortable-lists -->
      <ul class="sortable-lists list-group list-group-flush list-group-bordered" data-toggle="sortable" data-group="pages">
        <li class="list-group-item align-items-center drag-handle">
          <span class="drag-indicator"></span>
          <div>Homepage</div>
          <div class="btn-group ml-auto">
            <button class="btn btn-sm btn-secondary">Edit</button>
            <button class="btn btn-sm btn-secondary"><i class="far fa-trash-alt"></i></button>
          </div>
        </li>
        <li class="list-group-item align-items-center drag-handle">
          <span class="drag-indicator"></span>
          <div>Shops</div>
          <div class="btn-group ml-auto">
            <button class="btn btn-sm btn-secondary">Edit</button>
            <button class="btn btn-sm btn-secondary"><i class="far fa-trash-alt"></i></button>
          </div>
        </li>
        <li class="list-group-item align-items-center drag-handle">
          <span class="drag-indicator"></span>
          <div>About Us</div>
          <div class="btn-group ml-auto">
            <button class="btn btn-sm btn-secondary">Edit</button>
            <button class="btn btn-sm btn-secondary"><i class="far fa-trash-alt"></i></button>
          </div>
        </li>
        <li class="list-group-item align-items-center drag-handle">
          <span class="drag-indicator"></span>
          <div>Our Teams</div>
          <div class="btn-group ml-auto">
            <button class="btn btn-sm btn-secondary">Edit</button>
            <button class="btn btn-sm btn-secondary"><i class="far fa-trash-alt"></i></button>
          </div>
        </li>
        <li class="list-group-item align-items-center drag-handle">
          <span class="drag-indicator"></span>
          <div>Inquiries</div>
          <div class="btn-group ml-auto">
            <button class="btn btn-sm btn-secondary">Edit</button>
            <button class="btn btn-sm btn-secondary"><i class="far fa-trash-alt"></i></button>
          </div>
        </li>
      </ul>
      <!-- /.sortable-lists -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->
</div>
<!-- /grid row -->
