<!-- .card -->
<div class="card">
  <!-- .card-body -->
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <h2 id="client-billing-contact-tab" class="card-title">Billing Address</h2>
      <button type="button" class="btn btn-link" data-toggle="modal" data-target="#clientBillingEditModal">Edit</button>
    </div>
    <address>
      280 Suzanne Throughway, Breannabury<br>
      San Francisco, 45801<br>
      United States
    </address>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
