<!-- .dropdown-menu -->
<div class="dropdown-menu dropdown-menu-rich dropdown-menu-right">
  <!-- .dropdown-sheets -->
  <div class="dropdown-sheets">
    <!-- .dropdown-sheet-item -->
    <div class="dropdown-sheet-item">
      <a href="#" class="tile-wrapper">
        <span class="tile tile-lg bg-indigo"><i class="oi oi-people"></i></span>
        <span class="tile-peek">Teams</span>
      </a>
    </div>
    <!-- /.dropdown-sheet-item -->
    <!-- .dropdown-sheet-item -->
    <div class="dropdown-sheet-item">
      <a href="#" class="tile-wrapper">
        <span class="tile tile-lg bg-teal"><i class="oi oi-fork"></i></span>
        <span class="tile-peek">Projects</span>
      </a>
    </div>
    <!-- /.dropdown-sheet-item -->
    <!-- .dropdown-sheet-item -->
    <div class="dropdown-sheet-item">
      <a href="#" class="tile-wrapper">
        <span class="tile tile-lg bg-pink"><i class="fa fa-tasks"></i></span>
        <span class="tile-peek">Tasks</span>
      </a>
    </div>
    <!-- /.dropdown-sheet-item -->
    <!-- .dropdown-sheet-item -->
    <div class="dropdown-sheet-item">
      <a href="#" class="tile-wrapper">
        <span class="tile tile-lg bg-yellow"><i class="oi oi-fire"></i></span>
        <span class="tile-peek">Feeds</span>
      </a>
    </div>
    <!-- /.dropdown-sheet-item -->
    <!-- .dropdown-sheet-item -->
    <div class="dropdown-sheet-item">
      <a href="#" class="tile-wrapper">
        <span class="tile tile-lg bg-cyan"><i class="oi oi-document"></i></span>
        <span class="tile-peek">Files</span>
      </a>
    </div>
    <!-- /.dropdown-sheet-item -->
  </div>
  <!-- .dropdown-sheets -->
</div>
<!-- .dropdown-menu -->
