<!-- .dropdown-menu -->
<div class="dropdown-menu dropdown-menu-md stop-propagation" id="dntmAssignees" aria-labelledby="dropdownAssignee1" style="max-height: 30rem; overflow-y: auto;">
  <h6 id="dropdownAssignee1" class="dropdown-header">Add assignee</h6>
  <div class="dropdown-divider"></div>
  <div class="form-group px-3 py-2 mb-0">
    <input type="text" class="form-control" data-filter="#dntmAssignees .filterable" placeholder="Search members" autofocus>
  </div>
  <label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input task-unassignees" name="taskAssignees[]" value="0" data-label="Unassigned">
    <span class="custom-control-label">Unassigned</span>
  </label>
  <div class="dropdown-divider"></div>
  <h6 class="dropdown-header">Assignee(s)</h6>
  <label class="custom-control custom-checkbox filterable" data-sort="Beni Arisandi">
    <input type="checkbox" class="custom-control-input task-assignees" name="taskAssignees[]" value="4" data-label="Beni Arisandi" checked>
    <span class="custom-control-label custom-control-label-media">
      <span class="media">
        <span class="mr-2">
          <span class="user-avatar">
            <img src="assets/images/avatars/uifaces1.jpg" alt="">
          </span>
        </span>
        <span class="media-body">Beni Arisandi <br> <span class="text-muted">@benz</span></span>
      </span>
    </span>
  </label>
  <label class="custom-control custom-checkbox filterable" data-sort="Melissa Day">
    <input type="checkbox" class="custom-control-input task-assignees" name="taskAssignees[]" value="2" data-label="Melissa Day" checked>
    <span class="custom-control-label custom-control-label-media">
      <span class="media">
        <span class="mr-2">
          <span class="user-avatar">
            <img src="assets/images/avatars/uifaces4.jpg" alt="">
          </span>
        </span>
        <span class="media-body">Melissa Day <br> <span class="text-muted">@melday</span></span>
      </span>
    </span>
  </label>
  <div id="dntDivider" class="dropdown-divider"></div>
  <label class="custom-control custom-checkbox filterable" data-sort="Adam Medina">
    <input type="checkbox" class="custom-control-input task-assignees" name="taskAssignees[]" value="3" data-label="Adam Medina">
    <span class="custom-control-label custom-control-label-media">
      <span class="media">
        <span class="mr-2">
          <span class="user-avatar">
            <img src="assets/images/avatars/uifaces15.jpg" alt="">
          </span>
        </span>
        <span class="media-body">Adam Medina <br> <span class="text-muted">@amed</span></span>
      </span>
    </span>
  </label>
  <label class="custom-control custom-checkbox filterable" data-sort="Diana Miller">
    <input type="checkbox" class="custom-control-input task-assignees" name="taskAssignees[]" value="1" data-label="Diana Miller">
    <span class="custom-control-label custom-control-label-media">
      <span class="media">
        <span class="mr-2">
          <span class="user-avatar">
            <img src="assets/images/avatars/uifaces7.jpg" alt="">
          </span>
        </span>
        <span class="media-body">Diana Miller <br> <span class="text-muted">@dmiller</span></span>
      </span>
    </span>
  </label>
  <label class="custom-control custom-checkbox filterable" data-sort="Douglas Lucas">
    <input type="checkbox" class="custom-control-input task-assignees" name="taskAssignees[]" value="5" data-label="Douglas Lucas">
    <span class="custom-control-label custom-control-label-media">
      <span class="media">
        <span class="mr-2">
          <span class="user-avatar">
            <img src="assets/images/avatars/uifaces5.jpg" alt="">
          </span>
        </span>
        <span class="media-body">Douglas Lucas <br> <span class="text-muted">@lucaldoug</span></span>
      </span>
    </span>
  </label>
</div>
<!-- /.dropdown-menu -->
