<!-- .list-group -->
<div class="list-group list-group-flush list-group-divider">
  {% for people in site.data.people %}
  <!-- .list-group-item -->
  <div class="list-group-item">
    <!-- .list-group-item-figure -->
    <div class="list-group-item-figure">
      <a href="#" class="user-avatar">
        <img src="assets/images/avatars/{{people.avatar}}" alt="{{people.name}}">
      </a>
    </div>
    <!-- /.list-group-item-figure -->
    <!-- .list-group-item-body -->
    <div class="list-group-item-body">
      <h4 class="list-group-item-title"><a href="#">{{people.name}}</a></h4>
      <p class="list-group-item-text">{{people.job}}</p>
    </div>
    <!-- /.list-group-item-body -->
    <!-- .list-group-item-figure -->
    <div class="list-group-item-figure">
      <button class="btn btn-sm btn-secondary">Following</button>
    </div>
    <!-- /.list-group-item-figure -->
  </div>
  <!-- /.list-group-item -->
  {% endfor %}
</div>
<!-- /.list-group -->
