<!-- .card-body -->
<div class="card-body">
  <button type="button" class="close mt-n1 d-none d-xl-none d-sm-block" onclick="Looper.toggleSidebar()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="card-title">Summary</h4>
  <!-- grid row -->
  <div class="row">
    <!-- grid column -->
    <div class="col-6">
      <!-- .metric -->
      <div class="metric">
        <h6 class="metric-value">$83,743</h6>
        <p class="metric-label mt-1">Incomes</p>
      </div>
      <!-- /.metric -->
    </div>
    <!-- /grid column -->
    <!-- grid column -->
    <div class="col-6">
      <!-- .metric -->
      <div class="metric">
        <h6 class="metric-value">$18,821</h6>
        <p class="metric-label mt-1">Expenses</p>
      </div>
      <!-- /.metric -->
    </div>
    <!-- /grid column -->
    <!-- grid column -->
    <div class="col-6">
      <!-- .metric -->
      <div class="metric">
        <h6 class="metric-value">2,630</h6>
        <p class="metric-label mt-1">Leads</p>
      </div>
      <!-- /.metric -->
    </div>
    <!-- /grid column -->
    <!-- grid column -->
    <div class="col-6">
      <!-- .metric -->
      <div class="metric">
        <h6 class="metric-value">40</h6>
        <p class="metric-label mt-1">Clients</p>
      </div>
      <!-- /.metric -->
    </div>
    <!-- /grid column -->
  </div>
  <!-- /grid row -->
</div>
<!-- /.card-body -->
