<!-- .card -->
<div class="card card-fluid">
  <!-- .card-body -->
  <div class="card-body text-center">
    <!-- .user-avatar -->
    <a href="user-profile.html" class="user-avatar user-avatar-xxl my-3">
      <img src="assets/images/avatars/uifaces16.jpg" alt="">
    </a>
    <!-- /.user-avatar -->

    <h3 class="card-title text-truncate"><a href="user-profile.html">Samantha Gonzales</a></h3>
    <h6 class="card-subtitle text-muted mb-3">Product Designer @CreativeDivision</h6>

    <!-- .skills -->
    <p class="skills">
      <a href="#" class="btn btn-xs btn-outline-secondary circle mt-1">react</a>
      <a href="#" class="btn btn-xs btn-outline-secondary circle mt-1">angular</a>
      <a href="#" class="btn btn-xs btn-outline-secondary circle mt-1">vue</a>
      <a href="#" class="btn btn-xs btn-outline-secondary circle mt-1">html5</a>
      <a href="#" class="btn btn-xs btn-outline-secondary circle mt-1">css3</a>
      <a href="#" class="btn btn-xs btn-warning circle mt-1">3+</a>
    </p>
    <!-- /.skills -->

    <p class="text-muted">I make stunning and cool responsive web and app design which suitable for any project purpose for your business.</p>
    <p>
      <a href="#" class="btn btn-primary circle">View Profile <i class="fa fa-arrow-right ml-2"></i></a>
    </p>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
