<!-- .section-deck -->
<div class="section-deck">
  <!-- .card -->
  <div class="card card-fluid">
    <!-- .card-body -->
    <div class="card-body">
      <h5 class="card-title">User Avatar</h5>
      <a href="#" class="btn-account" role="button">
        <span class="user-avatar user-avatar-md">
          <img src="assets/images/avatars/profile.jpg" alt="">
        </span>
        <span class="account-summary">
          <span class="account-name">Beni Arisandi</span>
          <span class="account-description">Administrator</span>
        </span>
      </a>

      <hr>

      <h5 class="card-title">Sizing</h5>
      <figure class="user-avatar user-avatar-xxl">
        <img src="assets/images/avatars/profile.jpg" alt="">
      </figure>
      <figure class="user-avatar user-avatar-xl">
        <img src="assets/images/avatars/profile.jpg" alt="">
      </figure>
      <figure class="user-avatar user-avatar-lg">
        <img src="assets/images/avatars/profile.jpg" alt="">
      </figure>
      <figure class="user-avatar">
        <img src="assets/images/avatars/profile.jpg" alt="">
      </figure>
      <figure class="user-avatar user-avatar-sm">
        <img src="assets/images/avatars/profile.jpg" alt="">
      </figure>
      <figure class="user-avatar user-avatar-xs">
        <img src="assets/images/avatars/profile.jpg" alt="">
      </figure>

      <hr>

      <h5 class="card-title">Grouping</h5>
      <div class="avatar-group">
        <figure class="user-avatar">
          <img src="assets/images/avatars/uifaces4.jpg" alt="">
        </figure>
        <figure class="user-avatar">
          <img src="assets/images/avatars/uifaces5.jpg" alt="">
        </figure>
        <figure class="user-avatar">
          <img src="assets/images/avatars/uifaces6.jpg" alt="">
        </figure>
        <figure class="user-avatar">
          <img src="assets/images/avatars/uifaces7.jpg" alt="">
        </figure>
      </div>

      <hr>

      <h5 class="card-title">With badge</h5>
      <figure class="user-avatar">
        <img src="assets/images/avatars/uifaces4.jpg" alt="">
        <span class="avatar-badge online"></span>
      </figure>
      <figure class="user-avatar">
        <img src="assets/images/avatars/uifaces5.jpg" alt="">
        <span class="avatar-badge idle"></span>
      </figure>
      <figure class="user-avatar">
        <img src="assets/images/avatars/uifaces6.jpg" alt="">
        <span class="avatar-badge busy"></span>
      </figure>
      <figure class="user-avatar">
        <img src="assets/images/avatars/uifaces7.jpg" alt="">
        <span class="avatar-badge offline"></span>
      </figure>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

  <!-- .card -->
  <div class="card card-fluid">
    <!-- .card-body -->
    <div class="card-body">
      <h5 class="card-title">Badge indicator</h5>
      <figure class="user-avatar user-avatar-lg">
        <img src="assets/images/avatars/uifaces4.jpg" alt="">
        <span class="avatar-badge has-indicator online"><i class="fa fa-check"></i></span>
      </figure>
      <figure class="user-avatar user-avatar-lg">
        <img src="assets/images/avatars/uifaces5.jpg" alt="">
        <span class="avatar-badge has-indicator idle"><i class="fa fa-minus"></i></span>
      </figure>
      <figure class="user-avatar user-avatar-lg">
        <img src="assets/images/avatars/uifaces6.jpg" alt="">
        <span class="avatar-badge has-indicator busy"><i class="fa fa-times"></i></span>
      </figure>
      <figure class="user-avatar user-avatar-lg">
        <img src="assets/images/avatars/uifaces7.jpg" alt="">
        <span class="avatar-badge has-indicator offline"></span>
      </figure>

      <hr>

      <h5 class="card-title">Anchor</h5>
      <a href="#" class="user-avatar">
        <img src="assets/images/avatars/uifaces4.jpg" alt="">
        <span class="avatar-badge online"></span>
      </a>
      <a href="#" class="user-avatar">
        <img src="assets/images/avatars/uifaces5.jpg" alt="">
        <span class="avatar-badge idle"></span>
      </a>
      <a href="#" class="user-avatar">
        <img src="assets/images/avatars/uifaces6.jpg" alt="">
        <span class="avatar-badge busy"></span>
      </a>
      <a href="#" class="user-avatar">
        <img src="assets/images/avatars/uifaces7.jpg" alt="">
        <span class="avatar-badge offline"></span>
      </a>

      <hr>

      <h5 class="card-title">Anchor group</h5>
      <div class="avatar-group">
        <a href="#" class="user-avatar user-avatar-lg">
          <img src="assets/images/avatars/uifaces4.jpg" alt="">
        </a>
        <a href="#" class="user-avatar user-avatar-lg">
          <img src="assets/images/avatars/uifaces5.jpg" alt="">
        </a>
        <a href="#" class="user-avatar user-avatar-lg">
          <img src="assets/images/avatars/uifaces6.jpg" alt="">
        </a>
        <a href="#" class="user-avatar user-avatar-lg">
          <img src="assets/images/avatars/uifaces7.jpg" alt="">
        </a>
      </div>

      <hr>

      <h5 class="card-title">Dropdowns</h5>
      <figure class="user-avatar user-avatar-lg dropdown">
        <a href="#" data-toggle="dropdown">
          <img src="assets/images/avatars/uifaces4.jpg" alt="">
          <span class="avatar-badge has-indicator online">
            <i class="fa fa-check"></i>
          </span>
        </a>
        <div class="dropdown-menu">
          <a href="#" class="dropdown-item">Online</a>
          <a href="#" class="dropdown-item">Warning</a>
          <a href="#" class="dropdown-item">Busy</a>
          <a href="#" class="dropdown-item">Offline</a>
        </div>
      </figure>
      <figure class="user-avatar user-avatar-lg dropdown">
        <a href="#" data-toggle="dropdown">
          <img src="assets/images/avatars/uifaces5.jpg" alt="">
          <span class="avatar-badge has-indicator idle"><i class="fa fa-minus"></i></span>
        </a>
        <div class="dropdown-menu">
          <a href="#" class="dropdown-item">Online</a>
          <a href="#" class="dropdown-item">Warning</a>
          <a href="#" class="dropdown-item">Busy</a>
          <a href="#" class="dropdown-item">Offline</a>
        </div>
      </figure>
      <figure class="user-avatar user-avatar-lg dropdown">
        <a href="#" data-toggle="dropdown">
          <img src="assets/images/avatars/uifaces6.jpg" alt="">
          <span class="avatar-badge has-indicator busy"><i class="fa fa-times"></i></span>
        </a>
        <div class="dropdown-menu">
          <a href="#" class="dropdown-item">Online</a>
          <a href="#" class="dropdown-item">Warning</a>
          <a href="#" class="dropdown-item">Busy</a>
          <a href="#" class="dropdown-item">Offline</a>
        </div>
      </figure>
      <figure class="user-avatar user-avatar-lg dropdown">
        <a href="#" data-toggle="dropdown">
          <img src="assets/images/avatars/uifaces7.jpg" alt="">
          <span class="avatar-badge has-indicator offline">
            <i class="fa fa-media-record"></i>
          </span>
        </a>
        <div class="dropdown-menu">
          <a href="#" class="dropdown-item">Online</a>
          <a href="#" class="dropdown-item">Warning</a>
          <a href="#" class="dropdown-item">Busy</a>
          <a href="#" class="dropdown-item">Offline</a>
        </div>
      </figure>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.section-deck -->

<!-- .masonry-layout -->
<div class="masonry-layout">
  <!-- .masonry-item -->
  <div class="masonry-item col-lg-6">
    {% include ui/user-card-01.html %}
  </div>
  <!-- /.masonry-item -->

  <!-- .masonry-item -->
  <div class="masonry-item col-lg-6">
    {% include ui/user-card-02.html %}
  </div>
  <!-- /.masonry-item -->

  <!-- .masonry-item -->
  <div class="masonry-item col-lg-6">
    {% include ui/user-card-03.html %}
  </div>
  <!-- /.masonry-item -->

  <!-- .masonry-item -->
  <div class="masonry-item col-lg-6">
    {% include ui/user-card-04.html %}
  </div>
  <!-- /.masonry-item -->

  <!-- .masonry-item -->
  <div class="masonry-item col-lg-6">
    {% include ui/user-card-05.html %}
  </div>
  <!-- /.masonry-item -->
</div>
<!-- /.masonry-layout -->
