<!-- .section-block -->
<div class="section-block">
  <h2 class="section-title">Figures</h2>
  <p class="text-muted">Easily display grids of images, videos, text, and more.</p>
</div>
<!-- /.section-block -->

<!-- grid row -->
<div class="row">
  <!-- grid column -->
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <!-- .card -->
    <div class="card card-figure">
      <!-- .card-figure -->
      <figure class="figure">
        <img class="img-fluid" src="assets/images/dummy/img-1.jpg" alt="Card image cap">
        <!-- .figure-caption -->
        <figcaption class="figure-caption">
          <h6 class="figure-title">Simple figure</h6>
          <p class="text-muted mb-0">Give some text description</p>
        </figcaption>
        <!-- /.figure-caption -->
      </figure>
      <!-- /.card-figure -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->

  <!-- grid column -->
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <!-- .card -->
    <div class="card card-figure is-hoverable">
      <!-- .card-figure -->
      <figure class="figure">
        <img class="img-fluid" src="assets/images/dummy/img-2.jpg" alt="Card image cap">
        <!-- .figure-caption -->
        <figcaption class="figure-caption">
          <h6 class="figure-title">Hoverable figure</h6>
          <p class="text-muted mb-0">Give some text description</p>
        </figcaption>
        <!-- /.figure-caption -->
      </figure>
      <!-- /.card-figure -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->

  <!-- grid column -->
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <!-- .card -->
    <div class="card card-figure">
      <!-- .card-figure -->
      <figure class="figure">
        <img class="img-fluid" src="assets/images/dummy/img-3.jpg" alt="Card image cap">
        <!-- .figure-caption -->
        <figcaption class="figure-caption">
          <h6 class="figure-title"><a href="#">Clickable title</a></h6>
          <p class="text-muted mb-0">Hit the title to view details</p>
        </figcaption>
        <!-- /.figure-caption -->
      </figure>
      <!-- /.card-figure -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->

  <!-- grid column -->
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <!-- .card -->
    <div class="card card-figure">
      <!-- .card-figure -->
      <figure class="figure">
        <!-- .figure-img -->
        <div class="figure-img">
          <img class="img-fluid" src="assets/images/dummy/img-4.jpg" alt="Card image cap">
          <a href="#" class="img-link">
            <div class="tile tile-circle bg-danger"><span class="oi oi-eye"></span></div>
          </a>
        </div>
        <!-- /.figure-img -->
        <!-- .figure-caption -->
        <figcaption class="figure-caption">
          <h6 class="figure-title"><a href="#">Zoom action</a></h6>
          <p class="text-muted mb-0">Give some text description</p>
        </figcaption>
        <!-- /.figure-caption -->
      </figure>
      <!-- /.card-figure -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->

  <!-- grid column -->
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <!-- .card -->
    <div class="card card-figure">
      <!-- .card-figure -->
      <figure class="figure">
        <!-- .figure-img -->
        <div class="figure-img">
          <img class="img-fluid" src="assets/images/dummy/img-5.jpg" alt="Card image cap">
          <div class="figure-action">
            <a href="#" class="btn btn-block btn-sm btn-primary">Quick Action</a>
          </div>
        </div>
        <!-- /.figure-img -->
        <!-- .figure-caption -->
        <figcaption class="figure-caption">
          <h6 class="figure-title"><a href="#">Call action</a></h6>
          <p class="text-muted mb-0">Give some text description</p>
        </figcaption>
        <!-- /.figure-caption -->
      </figure>
      <!-- /.card-figure -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->

  <!-- grid column -->
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <!-- .card -->
    <div class="card card-figure">
      <!-- .card-figure -->
      <figure class="figure">
        <!-- .figure-img -->
        <div class="figure-img">
          <img class="img-fluid" src="assets/images/dummy/img-6.jpg" alt="Card image cap">
          <div class="figure-tools">
            <a href="#" class="tile tile-circle tile-sm mr-auto">
              <span class="oi oi-data-transfer-download"></span>
            </a>
            <span class="badge badge-danger">Illustration</span>
          </div>
          <div class="figure-action">
            <a href="#" class="btn btn-block btn-sm btn-primary">Quick Action</a>
          </div>
        </div>
        <!-- /.figure-img -->
        <!-- .figure-caption -->
        <figcaption class="figure-caption">
          <h6 class="figure-title"><a href="#">Figure tools</a></h6>
          <p class="text-muted mb-0">Give some text description</p>
        </figcaption>
        <!-- /.figure-caption -->
      </figure>
      <!-- /.card-figure -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->

  <!-- grid column -->
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <!-- .card -->
    <div class="card card-figure">
      <!-- .card-figure -->
      <figure class="figure">
        <!-- .figure-img -->
        <div class="figure-img">
          <img class="img-fluid" src="assets/images/dummy/img-7.jpg" alt="Card image cap">
          <div class="figure-description">
            <h6 class="figure-title">Figure description</h6>
            <p class="text-muted mb-0"><small>Laboriosam neque officia adipisci quo ut placeat labore? Doloribus, ipsam? Voluptates, minus.</small></p>
          </div>
          <div class="figure-tools">
            <a href="#" class="tile tile-circle tile-sm mr-auto">
              <span class="oi oi-data-transfer-download"></span>
            </a>
            <span class="badge badge-warning">Gadget</span>
          </div>
          <div class="figure-action">
            <a href="#" class="btn btn-block btn-sm btn-primary">Quick Action</a>
          </div>
        </div>
        <!-- /.figure-img -->
        <figcaption class="figure-caption">
          <ul class="list-inline d-flex text-muted mb-0">
            <li class="list-inline-item mr-auto"><span class="oi oi-paperclip"></span> 2MB</li>
            <li class="list-inline-item"><span class="oi oi-calendar"></span> {{site.time | date: "%b %d, %Y"}}</li>
          </ul>
        </figcaption>
      </figure>
      <!-- /.card-figure -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->

  <!-- grid column -->
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <!-- .card -->
    <div class="card card-figure">
      <!-- .card-figure -->
      <figure class="figure">
        <!-- .figure-img -->
        <div class="figure-img">
          <img class="img-fluid" src="assets/images/dummy/img-2.jpg" alt="Card image cap">
          <div class="figure-description">
            <h6 class="figure-title">Long title text can be place here</h6>
            <p class="text-muted mb-0"><small>Laboriosam neque officia adipisci quo ut placeat labore? Doloribus, ipsam? Voluptates, minus.</small></p>
          </div>
          <div class="figure-tools">
            <a href="#" class="tile tile-circle tile-sm mr-auto">
              <span class="oi oi-data-transfer-download"></span>
            </a>
            <span class="badge badge-danger">Social</span>
          </div>
          <div class="figure-action">
            <a href="#" class="btn btn-block btn-sm btn-primary">Quick Action</a>
          </div>
        </div>
        <!-- /.figure-img -->
      </figure>
      <!-- /.card-figure -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->

  <!-- grid column -->
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <!-- .card -->
    <div class="card card-figure">
      <!-- .card-figure -->
      <figure class="figure">
        <!-- .figure-img -->
        <div class="figure-attachment">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x text-primary"></i>
            <i class="fa fa-file-pdf fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <!-- /.figure-img -->
        <figcaption class="figure-caption">
          <ul class="list-inline d-flex text-muted mb-0">
            <li class="list-inline-item text-truncate mr-auto"><span class="fa fa-file-pdf-o"></span> Attachment.pdf</li>
            <li class="list-inline-item"><button type="button" class="btn btn-reset text-muted" title="Download"><span class="oi oi-data-transfer-download"></span></button></li>
            <li class="list-inline-item"><button type="button" class="btn btn-reset text-muted" title="More actions"><span class="oi oi-caret-bottom"></span></button></li>
          </ul>
        </figcaption>
      </figure>
      <!-- /.card-figure -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->

  <!-- grid column -->
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <!-- .card -->
    <div class="card card-figure">
      <!-- .card-figure -->
      <figure class="figure">
        <!-- .figure-img -->
        <div class="figure-attachment">
          <img src="assets/images/dummy/img-8.jpg" alt="Card image cap">
        </div>
        <!-- /.figure-img -->
        <figcaption class="figure-caption">
          <ul class="list-inline d-flex text-muted mb-0">
            <li class="list-inline-item text-truncate mr-auto">Image attachment</li>
            <li class="list-inline-item"><button type="button" class="btn btn-reset text-muted" title="Download"><span class="oi oi-data-transfer-download"></span></button></li>
            <li class="list-inline-item"><button type="button" class="btn btn-reset text-muted" title="More actions"><span class="oi oi-caret-bottom"></span></button></li>
          </ul>
        </figcaption>
      </figure>
      <!-- /.card-figure -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->
</div>
<!-- /grid row -->
