<!-- .section-block -->
<div class="section-block">
  <h2 class="section-title">Video Player</h2>
  <p class="text-muted">A simple, accessible and customisable media player for HTML5 Video, HTML5 Audio, YouTube and Vimeo.</p>
</div>
<!-- /.section-block -->

<!-- grid row -->
<div class="row">
  <!-- grid column -->
  <div class="col-xl-4 col-sm-6">
    <!-- .card -->
    <div class="card">
      <video data-toggle="plyr" controls crossorigin playsinline poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg">
        <!-- Video files -->
        <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" type="video/mp4" size="576">
        <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-720p.mp4" type="video/mp4" size="720">
        <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-1080p.mp4" type="video/mp4" size="1080">
        <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-1440p.mp4" type="video/mp4" size="1440">

        <!-- Caption files -->
        <track kind="captions" label="English" srclang="en" src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt" default>
        <track kind="captions" label="Français" srclang="fr" src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.fr.vtt">

        <!-- Fallback for browsers that don't support the <video> element -->
        <a href="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" download>Download</a>
      </video>
      <!-- /#video -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->

  <!-- grid column -->
  <div class="col-xl-4 col-sm-6">
    <!-- .card -->
    <div class="card">
      <!-- youtube -->
      <div data-toggle="plyr" data-plyr-provider="youtube" data-plyr-embed-id="bTqVqk7FSmY"></div>
      <!-- /youtube -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->

  <!-- grid column -->
  <div class="col-xl-4 col-sm-6">
    <!-- .card -->
    <div class="card">
      <!-- vimeo -->
      <div data-toggle="plyr" data-plyr-provider="vimeo" data-plyr-embed-id="147865858"></div>
      <!-- /vimeo -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->

  <!-- grid column -->
  <div class="col-xl-4 col-sm-6">
    <!-- .card -->
    <div class="card">
      <!-- audio -->
      <audio data-toggle="plyr" controls>
        <source src="https://cdn.plyr.io/static/demo/Kishi_Bashi_-_It_All_Began_With_a_Burst.mp3" type="audio/mp3">
        <source src="https://cdn.plyr.io/static/demo/Kishi_Bashi_-_It_All_Began_With_a_Burst.ogg" type="audio/ogg">
      </audio>
      <!-- /audio -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->
</div>
<!-- /grid row -->
