<!-- .section-block -->
<div class="section-block">
  <h3 class="section-title">Form-element list</h3>
</div>
<!-- /.section-block -->


<!-- grid row -->
<div class="row">
  <!-- grid column -->
  <div class="col-lg-6">
    <!-- .card -->
    <div class="card card-fluid">
      <!-- .list-group -->
      <div class="list-group list-group-flush list-group-bordered">
        <div class="list-group-header">Input Checkbox</div>
        <label class="list-group-item custom-control custom-checkbox">
          <input name="listcheckbox" type="checkbox" class="custom-control-input" checked>
          <span class="custom-control-label">List checkbox #1</span>
        </label>
        <label class="list-group-item custom-control custom-checkbox">
          <input name="listcheckbox" type="checkbox" class="custom-control-input" checked>
          <span class="custom-control-label">List checkbox #2</span>
        </label>

        <div class="list-group-header">Input Radio</div>
        <label class="list-group-item custom-control custom-radio">
          <input name="listradio" type="radio" class="custom-control-input" checked>
          <span class="custom-control-label">List radio #1</span>
        </label>
        <label class="list-group-item custom-control custom-radio">
          <input name="listradio" type="radio" class="custom-control-input" checked>
          <span class="custom-control-label">List radio #2</span>
        </label>
      </div>
      <!-- /.list-group -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->

  <!-- grid column -->
  <div class="col-lg-6">
    <!-- .card -->
    <div class="card card-fluid">
      <!-- .list-group -->
      <div class="list-group list-group-flush list-group-bordered">
        <div class="list-group-header">I have switcher</div>
        <div class="list-group-item d-flex justify-content-between align-items-center">
          Switch me!
          <label class="switcher-control switcher-control-success">
            <input type="checkbox" name="onoffswitch" class="switcher-input" checked>
            <span class="switcher-indicator"></span>
          </label>
        </div>
        <div class="list-group-header">Control Input</div>
        <input type="text" class="list-group-item" placeholder="Username">
        <input type="password" class="list-group-item" placeholder="Password">
        <select class="list-group-item custom-select">
          <option selected>Select one</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <!-- /.list-group -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->
</div>
<!-- /grid row -->
