<!-- .section-block -->
<div class="section-block">
  <h3 class="section-title">Media list</h3>
</div>
<!-- /.section-block -->

<!-- .section-block -->
<div class="section-block">
  <!-- grid row -->
  <div class="row">
    <!-- grid column -->
    <div class="col-lg-6">
      <!-- .list-group -->
      <div class="list-group list-group-media mb-3">
        <a href="#" class="list-group-item list-group-item-action">
          <div class="list-group-item-figure rounded-left">
            <img src="assets/images/dummy/img-5.jpg" alt="placeholder image">
          </div>
          <div class="list-group-item-body">
            <h4 class="list-group-item-title">Expanding Your Home Network’s Reach</h4>
            <p class="list-group-item-text">A incidunt, corrupti. Quasi, incidunt ab, vel quidem debitis fuga? Delectus, ipsam...</p>
          </div>
        </a>

        <a href="#" class="list-group-item list-group-item-action">
          <div class="list-group-item-figure rounded-left">
            <img src="assets/images/dummy/img-1.jpg" alt="placeholder image">
          </div>
          <div class="list-group-item-body">
            <h4 class="list-group-item-title">The Wealth of New Choices With Robot Vacuum Cleaners</h4>
            <p class="list-group-item-text">Fugiat beatae vel neque, minus voluptatum in. Placeat repellat qui impedit, consectetur...</p>
          </div>
        </a>
      </div>
      <!-- /.list-group -->
    </div>
    <!-- /grid column -->

    <!-- grid column -->
    <div class="col-lg-6">
      <!-- .list-group -->
      <div class="list-group list-group-media mb-3">
        <a href="#" class="list-group-item list-group-item-action">
          <div class="list-group-item-figure rounded-left">
            <img src="assets/images/dummy/img-4.jpg" alt="placeholder image">
          </div>
          <div class="list-group-item-body">
            <h4 class="list-group-item-title">Meet the People Who Train the Robots</h4>
            <p class="list-group-item-text">Veritatis dicta expedita dolorem repudiandae nemo odit quos optio vero libero quia...</p>
          </div>
        </a>

        <a href="#" class="list-group-item list-group-item-action">
          <div class="list-group-item-figure rounded-left">
            <img src="assets/images/dummy/img-2.jpg" alt="placeholder image">
          </div>
          <div class="list-group-item-body">
            <h4 class="list-group-item-title">Daily Report: Cloud Computing Asserts Itself</h4>
            <p class="list-group-item-text">Reprehenderit iure et, fugit libero harum doloremque culpa...</p>
          </div>
        </a>
      </div>
      <!-- /.list-group -->
    </div>
    <!-- /grid column -->
  </div>
  <!-- /grid row -->
</div>
<!-- /.section-block -->

