<html>
    <footer class="app-footer">
        <div class="row">
            <div class="col-4">
                <h5><a class="text-muted">Liens</a></h5>
                <div class="container">
                    <!-- Ajouter une boucle à partir d'ici-->
                    <li>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;"><a class="text" href="#">Nom du site internet</a></font>
                        </font>
                    </li>
                    <!-- Ajouter une boucle jusque là-->
                </div>
            </div>
            <div class="col-4"> 
                    <h5><a class="text-muted" href="#">Contacts</a></h5>
                    <ul class="list-unstyled">
                        <!-- Ajouter une boucle à partir d'ici-->
                        <li><strong>Aziz MAANINOU</strong></li>
                        <abbr title="Téléphone">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">P:</font>
                                </font>
                        </abbr>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;"> (+33) 06.20.37.85.83</font>
                        </font>
                        <br>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;"> vi.ka.59@hotmail.fr</font>
                        </font>
                        <!-- Ajouter une boucle jusque là-->
                    </ul>
                </div>
    
            <div class="col-4">
                <h5><a class="text-muted">Maps</a></h5>
            </div>
        </div>

        <div class="copyright"> © 2019-2024 Vika - Site réalisé par les étudiants de <a class="text" href="https://web.umons.ac.be/fpms/fr/">l'UMons</a></div>
    </footer>
</html>