<html>
    <footer class="app-footer">
        <div class="row">
            <div class="col-4">
                <h5><a class="text-muted">Liens</a></h5>
                <div class="container">
                    <!-- Ajouter une boucle à partir d'ici-->
                    <li>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;"><a class="text" href="#">Nom du site internet</a></font>
                        </font>
                    </li>
                    <!-- Ajouter une boucle jusque là-->
                </div>
            </div>
            <div class="col-4"> 
                    <h5><a class="text-muted" href="#">Contacts</a></h5>
                    <ul class="list-unstyled">
                        <!-- Ajouter une boucle à partir d'ici-->
                        <li><strong>Aziz MAANINOU</strong></li>
                        <abbr title="Téléphone">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">P:</font>
                                </font>
                        </abbr>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;"> (+33) 06.20.37.85.83</font>
                        </font>
                        <br>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;"> vi.ka.59@hotmail.fr</font>
                        </font>
                        <!-- Ajouter une boucle jusque là-->
                    </ul>
                </div>
    
            <div class="col-4">
                <h5><a class="text-muted">Maps</a></h5>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2542.4109706176264!2d4.448761215459205!3d50.414814197813456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2260e396b00e3%3A0xd4150cb9db7807f1!2sUMons+Campus+Charleroi!5e0!3m2!1sfr!2sbe!4v1553626305658" width="200" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>

        <div class="copyright"> © 2019-2024 Vika - Site réalisé par les étudiants de <a class="text" href="https://web.umons.ac.be/fpms/fr/">l'UMons</a></div>
    </footer>
</html>