<html>
    <div class="app has-fullwidth">
        <header class="app-header app-header-dark">
            <!-- .top-bar -->
            <div class="top-bar">
                <!-- .top-bar-brand -->
                <div class="top-bar-brand bg-transparent">
                    <!-- toggle menu -->
                    <a href="looper/dist/index.html"><img src="Logo_Vika.png" alt="" style="height: 32px;width: auto;"></a>
                </div><!-- /.top-bar-list -->
            </div><!-- /.top-bar -->
        </header><!-- /.app-header -->
    </div>
</html>