<html>
                <nav class="page-navs">
                  <!-- .nav-scroller -->
                  <div class="nav-scroller">
                    <!-- .nav -->
                    <div class="nav nav-tabs">
                      <a class="nav-link active" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tableau de bord </font></font></a> <a class="nav-link" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Activités </font></font><span class="badge"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">16</font></font></span></a> <a class="nav-link" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Équipes </font></font></a> <a class="nav-link" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Projets </font></font></a> <a class="nav-link" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tâches </font></font></a> <a class="nav-link" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Paramètres</font></font></a>
                      <li class="nav-item dropdown">
                            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <div class="dropdown-arrow"></div>
                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: top, left; top: 56px; left: 0px;">
                              <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                              <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>
                    </div><!-- /.nav -->
                  </div><!-- /.nav-scroller -->
                </nav><!-- /.page-navs -->
</html>