<html>
    <nav class="page-navs">
        <!-- .nav-scroller -->
        <div class="nav-scroller">
            <!-- .nav -->
            <div class="nav nav-tabs">
                <a class="nav-link active" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mon profil </font></font></a> 
                <a class="nav-link" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mes activités</font></font></a>
                <a class="nav-link" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mon parcours</font></font></a>
                <a class="nav-link" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mon matériel</font></font></a> 
                <a class="nav-link" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mes documents</font></font></a> 
            </div><!-- /.nav -->
        </div><!-- /.nav-scroller -->
    </nav><!-- /.page-navs -->
</html>