<html>
{% if app.user %}
    <nav class="page-navs">
        <!-- .nav-scroller -->
        <div class="nav-scroller">
            <!-- .nav -->
            <div class="nav nav-tabs">
                {% if (is_granted('ROLE_ADMIN')) %}
                    <a class="nav-link" href="{{ path('admin_show',{'id':app.user.id}) }}"><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mon
                                profil </font></font></a>
                    <a class="nav-link" href="#"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Mes activités</font></font></a>
                    <a class="nav-link" href="{{ path('admin_history',{'id':app.user.id}) }}"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Mon parcours</font></font></a>
                    <a class="nav-link" href="#"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Mes documents</font></font></a>
                {% else %}
                    <a class="nav-link" href="{{ path('profile_show',{'id':app.user.id}) }}"><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mon
                                profil </font></font></a>
                    <a class="nav-link" href="#"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Mes activités</font></font></a>
                    <a class="nav-link" href="{{ path('profile_history',{'id':app.user.id}) }}"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Mon parcours</font></font></a>
                    <a class="nav-link" href="#"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Mes documents</font></font></a>
                {% endif %}
            </div><!-- /.nav -->
        </div><!-- /.nav-scroller -->
    </nav><!-- /.page-navs -->
{% endif %}
</html>