---
layout: default
title: Inline Charts
active: collections.inline-charts
pluginsJs:
  - jquery-sparkline/jquery.sparkline.min.js
  - easy-pie-chart/jquery.easypiechart.min.js
  - jquery-knob/jquery.knob.min.js
pageJs:
  - pages/sparkline-demo.js
---

<!-- .page -->
<div class="page">
  <!-- .page-inner -->
  <div class="page-inner">
    <!-- .page-title-bar -->
    <header class="page-title-bar">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">
            <a href="#">
              <i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Collections
            </a>
          </li>
        </ol>
      </nav>
      <h1 class="page-title mr-sm-auto">Inline Charts</h1>
      <p class="text-muted">Generate small sparkline charts directly in the browser.</p>
    </header>
    <!-- /.page-title-bar -->

    <!-- .page-section -->
    <div class="page-section">
      {% include snippets/collections/sparklines.html %}

      <hr class="my-5">

      {% include snippets/collections/easypiechart.html %}

      <hr class="my-5">

      {% include snippets/collections/knob.html %}
    </div>
    <!-- /.page-section -->
  </div>
  <!-- /.page-inner -->
</div>
<!-- /.page -->
