---
layout: default
title: Metrics
active: components.metrics
---

<!-- .page -->
<div class="page">
  <!-- .page-inner -->
  <div class="page-inner">
    <!-- .page-title-bar -->
    <header class="page-title-bar">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">
            <a href="#">
              <i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Components
            </a>
          </li>
        </ol>
      </nav>
      <h1 class="page-title">Metrics</h1>
      <p class="text-muted">Get a clear view of a key performance values that you're measuring.</p>
    </header>
    <!-- /.page-title-bar -->

    <!-- .page-section -->
    <div class="page-section">
      <!-- .section-block -->
      <div class="section-block">
        {% include ui/metrics-01.html %}

        <hr>

        {% include ui/metrics-02.html %}
      </div>
      <!-- /.section-block -->

      <hr class="my-5">

      <!-- .section-block -->
      <div class="section-block">
        <h2 class="section-title">Decorations</h2>
        {% include ui/metrics-03.html %}
      </div>
      <!-- /.section-block -->

      <hr class="my-5">

      <!-- .section-block -->
      <div class="section-block">
        <h2 class="section-title">Card</h2>
        {% include ui/metrics-04.html %}
      </div>
      <!-- /.section-block -->

      <hr class="my-5">

      <!-- .section-block -->
      <div class="section-block">
        <h2 class="section-title">Bordered</h2>
        {% include ui/metrics-05.html %}
      </div>
      <!-- /.section-block -->

      <hr class="my-5">

      <!-- .section-block -->
      <div class="section-block">
        <h2 class="section-title">Nesting</h2>
        {% include ui/metrics-06.html %}
      </div>
      <!-- /.section-block -->
    </div>
    <!-- /.page-section -->
  </div>
  <!-- /.page-inner -->
</div>
<!-- /.page -->
