---
layout: default
title: Project
active: pages.project.project-overview
footer: false
pluginsCss:
  - tributejs/tribute.css
pluginsJs:
  - tributejs/tribute.min.js
  - chart.js/Chart.min.js
pageJs:
  - pages/project-overview-demo.js
---

<!-- .page -->
<div class="page has-sidebar">
  <!-- .page-navs -->
  <header class="page-navs shadow-sm pr-3">
    <!-- btn-account -->
    <a href="page-team-projects.html" class="btn-account">
      <div class="user-avatar mr-2">
        <img src="assets/images/avatars/team4.jpg" alt="">
      </div>
      <div class="account-summary">
        <h1 class="card-title">Creative Division</h1>
        <h6 class="card-subtitle text-muted">53 days left &middot; Last update 1h</h6>
      </div>
    </a>
    <!-- /btn-account -->

    <!-- right actions -->
    <div class="ml-auto">
      <!-- invite members -->
      <div class="dropdown d-inline-block">
        <button type="button" class="btn btn-light btn-icon" title="Invite members" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-plus"></i>
        </button>
        <div class="dropdown-arrow"></div>
        {% include ui/dropdown-invite-members.html %}
      </div>
      <!-- /invite members -->
      <button type="button" class="btn btn-light btn-icon" data-toggle="sidebar">
        <i class="fa fa-angle-double-left"></i>
      </button>
    </div>
    <!-- /right actions -->
  </header>
  <!-- /.page-navs -->

  <!-- .page-inner -->
  <div class="page-inner">
    <!-- .page-title-bar -->
    <header class="page-title-bar">
      <!-- grid row -->
      <div class="row text-center text-sm-left">
        <!-- grid column -->
        <div class="col-sm-auto col-12 mb-2">
          <span class="tile tile-xl bg-pink">SP</span>
        </div>
        <!-- /grid column -->
        <!-- grid column -->
        <div class="col">
          <h1 class="page-title">Syrena Project</h1>
          <p>Is a Responsive Admin Theme designed with focus on simplicity, user experience, interactions, and flows. It enables you to build rich and beautiful experiences for your project. <a href="#">Read more...</a></p>
        </div>
        <!-- /grid column -->
      </div>
      <!-- /grid row -->

      <!-- .nav-scroller -->
      <div class="nav-scroller border-bottom">
        <!-- .nav -->
        <div class="nav nav-tabs">
          <a class="nav-link active" href="page-project.html">Overview</a>
          <a class="nav-link" href="page-project-board.html">Board</a>
          <a class="nav-link" href="page-project-gantt.html">Gantt View</a>
          <a class="nav-link" href="#">Settings</a>
        </div>
        <!-- /.nav -->
      </div>
      <!-- /.nav-scroller -->
    </header>
    <!-- /.page-title-bar -->

    <!-- .page-section -->
    <div class="page-section">
      <!-- .section-block -->
      <div class="section-block">
        {% include ui/metrics-03.html %}
      </div>
      <!-- /.section-block -->

      <!-- .section-deck -->
      <div class="section-deck">
        <!-- .card -->
        <div class="card card-fluid">
          <!-- .card-body -->
          <div class="card-body">
            <h3 class="card-title">Activity by day</h3>
            <div class="chartjs">
              <canvas id="canvas-achievement"></canvas>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- .card -->
        <div class="card card-fluid">
          <!-- .card-body -->
          <div class="card-body">
            <h3 class="card-title">Balance: $3,150</h3>
            <div class="row align-items-center">
              <div class="col-12 col-sm-8">
                <div class="chartjs">
                  <canvas id="canvas-invoices"></canvas>
                </div>
              </div>
              <div class="col-12 col-sm-4 pl-3 pt-3 p-sm-0">
                <ul class="list-unstyled">
                  <li><i class="fa fa-square text-teal mr-2"></i> Balance</li>
                  <li><i class="fa fa-square text-pink mr-2"></i> Expenses</li>
                  <li><i class="fa fa-square text-muted mr-2"></i> Not invoiced</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.section-deck -->

      <!-- .card -->
      <div class="card">
        <!-- .card-header -->
        <div class="card-header border-0">Time tracking</div>
        <!-- /.card-header -->

        {% include ui/time-tracking-01.html %}

        <!-- .card-footer -->
        <div class="card-footer">
          <a href="#" class="card-footer-item">View report <i class="fa fa-fw fa-angle-right"></i></a>
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.page-section -->
  </div>
  <!-- /.page-inner -->

  <!-- .page-sidebar -->
  <div class="page-sidebar">
    <!-- .sidebar-header -->
    <header class="sidebar-header d-sm-none">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item">
          <a class="prevent-default" href="#" onclick="Looper.toggleSidebar()">
            <i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Back
          </a>
        </li>
      </ol>
    </header>
    <!-- /.sidebar-header -->

    <!-- .nav-tabs -->
    <ul class="nav nav-tabs nav-fill" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#team-profile" role="tab" aria-controls="team-profile" aria-selected="true">Contributors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#message-files" role="tab" aria-controls="message-files" aria-selected="false">Files</a>
      </li>
    </ul>
    <!-- /.nav-tabs -->

    <!-- .sidebar-section-fill -->
    <div class="sidebar-section-fill">
      <!-- Tab panes -->
      <div class="tab-content">
        <!-- #team-profile -->
        <div id="team-profile" class="tab-pane fade show active" role="tabpanel" aria-labelledby="team-profile">
          {% assign limit = 8 %}
          {% assign offset = 10 %}
          {% assign max = limit | plus:offset | minus:1 %}
          {% include ui/member-list-02.html %}
        </div>
        <!-- /#team-profile -->
        <!-- #message-files -->
        <div id="message-files" class="tab-pane fade" role="tabpanel" aria-labelledby="message-files">
          {% include ui/sidebar-files-02.html %}
        </div>
        <!-- /#message-files -->
      </div>
      <!-- /Tab panes -->
    </div>
    <!-- /.sidebar-section-fill -->
  </div>
  <!-- /.page-sidebar -->
</div>
<!-- /.page -->
