{% extends "base.html.twig" %}

{% block Body %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header"><h2>{{ galerie.name }}</h2></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                {{ galerie.description }}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            {% for photo in galerie.media %}
                                <div class="col-3">
                                    <a href="{{ asset('/upload/galerie/' ~ photo.imageName) }}" target="_blank">
                                        <img class="embed-responsive-item rounded"
                                             src="{{ asset('/upload/galerie/' ~ photo.imageName) }}" alt="Card image"
                                             width="100%">
                                    </a>
                                    {#retour à la ligne#}
                                    <p><br></p>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
