{% extends 'base.html.twig' %}


{% block Body %}
<div class="row justify-content-between">
    <div class="col">
        <h2>Bienvenu dans la galerie photo</h2>
    </div>
    <div class="col-2">
        {% if not app.user%}
        <a class="btn btn-primary btn-md" href="{{ path('galeriephoto_create')}}" role="button">Nouvelle galerie</a>
        {% endif %}
    </div>
</div>
    <br><br>
    <div class="container">
            <div class="row justify-content-md-center">
                {# {% for article in articles %} #}
                <div class="col-6">
                    <div class="card">
                        <!-- .card-header -->
                        <div class="card-body">
                        <h5 class="card-title">Titre</h5>
                        </div><!-- /.card-body -->
                        <!-- 16:9 aspect ratio -->
                        <figure class="embed-responsive embed-responsive-16by9 mb-0">
                            <img class="embed-responsive-item" src="https://media.gettyimages.com/photos/illuminated-hashtag-sign-on-table-in-fashion-studio-picture-id909598172" alt="Card image">
                        </figure><!-- /.embed-responsive -->
                        <!-- .card-body -->
                        <div class="card-body">
                        <p class="card-text"> 
                            
                                blba
                            
                        </p>
                        </div><!-- /.card-body -->
                        <!-- .card-footer -->
                        <div class="card-footer">
                            <div class="row">
                                <div class="col">
                                    <div class="card-footer-content text-muted"> 
                                        <a class="btn btn-primary btn-md" href="#" role="button">Consulter</a>
                                    </div>
                                </div>
                                {% if app.user%}
                                    <div class="col-2">
                                        <div class="card-footer-content text-muted"> 
                                            <a class="btn btn-primary btn-md" href="#" role="button">Editer</a>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="card-footer-content text-muted"> 
                                            <a class="btn btn-primary btn-md" href="#" role="button">Supprimer</a>
                                        </div>
                                    </div>
                                {% else %}
                                {% endif %}
                            </div>
                            
                            
                        </div><!-- /.card-footer -->
                </div>
                </div>
                {#{% endfor %}#}
            </div>
        </div>
        

{% endblock %}
