{% extends "base.html.twig" %}

{% block Body %}
<h2>Encadrement</h2>

<div class="container">

        <div class="row justify-content-md-center">
            <div class="col-6">
                    <div class="card">
                        <!-- .card-header -->
                        <div class="card-body">
                        <h5 class="card-title">Titre</h5>
                        </div><!-- /.card-body -->
                        <!-- .card-body -->
                        <div class="card-body">
                        <p class="card-text"> 
                            
                               Essai
                            
                        </p>
                        </div><!-- /.card-body -->
                    </div>
            </div>
        </div>
    


        <div class="row justify-content-md-center">
            {% for personne in personnes %}
            <div class="col-6">
                <div class="card">
                    <!-- .card-header -->
                    <div class="card-body">
                    <h5 class="card-title">{{ personne.name }}</h5>
                    </div><!-- /.card-body -->
                    <!-- 16:9 aspect ratio -->
                    <figure class="embed-responsive embed-responsive-16by9 mb-0">
                        <img class="embed-responsive-item" src="{{ personne.imagename }}" alt="Card image">
                    </figure><!-- /.embed-responsive -->
                    <!-- .card-body -->
                    <div class="card-body">
                    <p class="card-text"> 
                        
                            {{ personne.description|raw }}
                        
                    </p>
                    </div><!-- /.card-body -->
                </div>
            </div>
            {% endfor %}
        </div>
</div>
    

{% endblock %}