{% extends "base.html.twig" %}

{% block title %}VIKA Encadrement{% endblock %}
{% block Body %}
<h1>Essai Encadrement</h1>
{{ form_start(formEncadrement) }}

{{ form_end(formEncadrement) }}
{% endblock %}