{% extends "base.html.twig" %}

{% block title %}VIKA Encadrement{% endblock %}
{% block Body %}
<h1>Essai Encadrement</h1>
{{ form_start(formEncadrement) }}

<button type="submit" class="btn btn-success">
        {%if editMode %}
            Enregister modification(s)
        {% else %}
            Ajouter l'article
        {% endif %}
    </button>

{{ form_end(formEncadrement) }}
{% endblock %}