{% extends 'base.html.twig' %}


{% block Body %}
<div class="container-fluid">
        <div class="card">
                <!-- .card-body -->
                <div class="card-body">
        <h2>{{ contentPage.title }}</h2>
        <div class="content">
            {{ contentPage.content | raw }}
        </div>
        {% if (is_granted('ROLE_ADMIN')) %}
        <a class="btn btn-primary btn-md" href="{{ path('VikaContentEdit', {'path':'philosophie'}) }}" role="button">Editer</a>
        {% endif %}
                </div>
        </div>
</div>
{% endblock %}
