{% extends 'base.html.twig' %}


{% block Body %}

        <h2>{{ contentPage.title }}</h2>
        <div class="content">
            {{ contentPage.content | raw }}
        </div>
        {% if (is_granted('ROLE_ADMIN')) %}
        <a class="btn btn-primary btn-md" href="{{ path('VikaContentEdit', {'path':'philosophie'}) }}" role="button">Editer</a>
        {% endif %}

{% endblock %}
