{% extends 'base.html.twig' %}


{% block Body %}
<div class="container-fluid">
    <h2>{{ contentPage.title }}</h2>
    <h4>{{ contentPage.subtitle }}</h4>

    <div class="card">

        <!-- .card-body -->


        <div class="card-body">

            <div class="content">
                {{ contentPage.content | raw }}
            </div>
            {% if (is_granted('ROLE_ADMIN')) %}
            <div align="right"><a class="btn btn-primary btn-md"
                                  href="{{ path('VikaContentEdit', {'path':contentPage.path}) }}" role="button">Editer</a>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}