<!-- team members -->
<div class="avatar-group">
  <a href="#" class="user-avatar user-avatar-sm" data-toggle="tooltip" title="Andrew Kim">
    <img src="assets/images/avatars/uifaces6.jpg" alt="">
  </a>
  <a href="#" class="user-avatar user-avatar-sm" data-toggle="tooltip" title="Bryan Morgan">
    <img src="assets/images/avatars/uifaces8.jpg" alt="">
  </a>
  <a href="#" class="user-avatar user-avatar-sm" data-toggle="tooltip" title="Larry Robinson">
    <img src="assets/images/avatars/uifaces7.jpg" alt="">
  </a>
  <a href="#" class="user-avatar user-avatar-sm" data-toggle="tooltip" title="Beverly Simpson">
    <img src="assets/images/avatars/uifaces9.jpg" alt="">
  </a>
  <a href="#" class="user-avatar user-avatar-sm" data-toggle="tooltip" title="Robinson">
    <img src="assets/images/avatars/uifaces10.jpg" alt="">
  </a>
  <a href="#" class="tile tile-sm tile-circle" data-toggle="modal" data-target="#membersModal">+{{project.members}}</a>
</div>
<!-- /team members -->
