<!-- .card -->
<div class="card mt-4">
  <!-- .card-body -->
  <div class="card-body">
    <h2 class="card-title">Contacts</h2>

    <!-- .table-responsive -->
    <div class="table-responsive">
      <table class="table table-hover" style="min-width: 678px">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="align-middle">Alexane Collins</td>
            <td class="align-middle">fhauck@gmail.com</td>
            <td class="align-middle">(062) 109-9222</td>
            <td class="align-middle text-right">
              <button type="button" class="btn btn-sm btn-icon btn-secondary" data-toggle="modal" data-target="#clientContactEditModal">
                <i class="fa fa-pencil-alt"></i>
                <span class="sr-only">Edit</span>
              </button>
              <button type="button" class="btn btn-sm btn-icon btn-secondary">
                <i class="far fa-trash-alt"></i>
                <span class="sr-only">Remove</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.table-responsive -->
  </div>
  <!-- /.card-body -->
  <!-- .card-footer -->
  <div class="card-footer">
    <a href="#clientContactNewModal" class="card-footer-item" data-toggle="modal">
      <i class="fa fa-plus-circle mr-1"></i> Add contact
    </a>
  </div>
  <!-- /.card-footer -->
</div>
<!-- /.card -->
