<!-- .modal -->
<form id="clientContactNewForm">
<div class="modal fade" id="clientContactNewModal" tabindex="-1" role="dialog" aria-labelledby="clientContactNewModalLabel" aria-hidden="true">
  <!-- .modal-dialog -->
  <div class="modal-dialog" role="document">
    <!-- .modal-content -->
    <div class="modal-content">
      <!-- .modal-header -->
      <div class="modal-header">
        <h6 id="clientContactNewModalLabel" class="modal-title inline-editable">
          <span class="sr-only">Contact name</span>
          <input type="text" class="form-control form-control-lg" placeholder="Name (e.g. John Doe)" required>
        </h6>
      </div>
      <!-- /.modal-header -->

      <!-- .modal-body -->
      <div class="modal-body">
        <!-- .form-group -->
        <div class="form-group">
          <div class="form-label-group">
            <input type="email" id="cnEmail" class="form-control" placeholder="Email" required>
            <label for="cnEmail">Email</label>
          </div>
        </div>
        <!-- /.form-group -->
        <!-- .form-group -->
        <div class="form-group">
          <div class="form-label-group">
            <input type="tel" id="cnPhone" class="form-control" placeholder="Phone">
            <label for="cnPhone">Phone</label>
          </div>
        </div>
        <!-- /.form-group -->
      </div>
      <!-- /.modal-body -->

      <!-- .modal-footer -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
      </div>
      <!-- /.modal-footer -->
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
</form>
<!-- /.modal -->
