<!-- .dropdown -->
<div class="dropdown">
  <button class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span>This Year</span>
    <i class="fa fa-fw fa-caret-down"></i>
  </button>
  <div class="dropdown-arrow"></div>
  <!-- .dropdown-menu -->
  <div class="dropdown-menu dropdown-menu-md stop-propagation">
    <!-- .custom-control -->
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="clientExpensesDateFilter0" name="clientExpensesDateFilter" value="0">
      <label class="custom-control-label" for="clientExpensesDateFilter0">Last 7 days</label>
    </div>
    <!-- /.custom-control -->
    <!-- .custom-control -->
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="clientExpensesDateFilter1" name="clientExpensesDateFilter" value="1">
      <label class="custom-control-label" for="clientExpensesDateFilter1">Last 3 days</label>
    </div>
    <!-- /.custom-control -->
    <!-- .custom-control -->
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="clientExpensesDateFilter2" name="clientExpensesDateFilter" value="2">
      <label class="custom-control-label" for="clientExpensesDateFilter2">This month</label>
    </div>
    <!-- /.custom-control -->
    <!-- .custom-control -->
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="clientExpensesDateFilter3" name="clientExpensesDateFilter" value="3">
      <label class="custom-control-label" for="clientExpensesDateFilter3">Last month</label>
    </div>
    <!-- /.custom-control -->
    <!-- .custom-control -->
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="clientExpensesDateFilter4" name="clientExpensesDateFilter" value="4" checked>
      <label class="custom-control-label" for="clientExpensesDateFilter4">This year</label>
    </div>
    <!-- /.custom-control -->
  </div>
  <!-- /.dropdown-menu -->
</div>
<!-- /.dropdown -->
