<!-- .dropdown-menu -->
<div class="dropdown-menu dropdown-menu-rich dropdown-menu-right">
  <h6 class="dropdown-header stop-propagation">
    <span>Messages</span>
    <a href="#">Mark all as read</a>
  </h6>
  <!-- .dropdown-scroll -->
  <div class="dropdown-scroll perfect-scrollbar">
    {% for message in site.data.messages limit:6 offset:2 %}
    <!-- .dropdown-item -->
    {% if message.isRead %}
    <a href="#" class="dropdown-item">
    {% else %}
    <a href="#" class="dropdown-item unread">
    {% endif %}
      {% if message.hasAvatar %}
      <div class="user-avatar">
        <img src="assets/images/avatars/{{message.avatar}}" alt="">
      </div>
      {% else %}
      <div class="tile tile-circle bg-{{message.color}}">{{message.initial}}</div>
      {% endif %}
      <div class="dropdown-item-body">
        <p class="subject">{{message.team}}</p>
        <p class="text text-truncate">{{message.subject}}</p>
        <span class="date">{{message.time}}</span>
      </div>
    </a>
    <!-- /.dropdown-item -->
    {% endfor %}
  </div>
  <!-- /.dropdown-scroll -->
  <a href="page-messages.html" class="dropdown-footer">All messages <i class="fas fa-fw fa-long-arrow-alt-right"></i></a>
</div>
<!-- /.dropdown-menu -->
