<!-- .feed -->
<div class="feed">
  <!-- .feed-post -->
  <div class="feed-post card">
    <!-- .card-header -->
    <div class="card-header card-header-fluid">
      <a href="#" class="btn-account" role="button">
        <div class="user-avatar user-avatar-lg">
          <img src="assets/images/avatars/profile.jpg" alt="">
        </div>
        <div class="account-summary">
          <p class="account-name">Beni arisandi</p>
          <p class="account-description">3 Hours ago</p>
        </div>
      </a>
      {% include ui/feed-dropdown.html %}
    </div>
    <!-- /.card-header -->
    <!-- .card-body -->
    <div class="card-body">
      <p>Hey there! this is a post with engagement, <a href="#" class="mention">@stilearning</a> ratione doloremque eos <a href="#" class="hashtag">#looper</a> aliquid ipsam, molestias cumque asperiores mollitia nam corrupti dolore recusandae nihil?</p>

      <!-- .feed-summary -->
      <div class="feed-summary">
        <a href="#" class="feed-summary-item mr-auto">
          <div class="avatar-group mr-2">
            <figure class="user-avatar user-avatar-xs">
              <img src="assets/images/avatars/uifaces5.jpg" alt="">
            </figure>
            <figure class="user-avatar user-avatar-xs">
              <img src="assets/images/avatars/uifaces6.jpg" alt="">
            </figure>
            <figure class="user-avatar user-avatar-xs">
              <img src="assets/images/avatars/uifaces7.jpg" alt="">
            </figure>
          </div> 6.3K likes
        </a>
        <a href="#" class="feed-summary-item">826 comments</a>
        <a href="#" class="feed-summary-item">&middot;</a>
        <a href="#" class="feed-summary-item">2.9K shares</a>
      </div>
      <!-- .feed-summary -->
    </div>
    <!-- /.card-body -->

    <!-- .card-footer -->
    <div class="card-footer">
      <div class="card-footer-item">
        <button type="button" class="btn btn-reset text-nowrap text-muted"><i class="fa fa-fw fa-heart"></i> Like</button>
      </div>
      <div class="card-footer-item">
        <button type="button" class="btn btn-reset text-nowrap text-muted"><i class="fa fa-fw fa-comment"></i> Comment</button>
      </div>
      <div class="card-footer-item">
        <button type="button" class="btn btn-reset text-nowrap text-muted"><i class="fa fa-fw fa-share"></i> Share</button>
      </div>
    </div>
    <!-- /.card-footer -->
  </div>
  <!-- /.feed-post -->

  <!-- .feed-comments -->
  <div class="feed-comments card">
    <!-- .card-header -->
    <div class="card-header d-flex justify-content-between">
      <a href="#">View more comments</a>
      <span class="text-muted">72 of 826</span>
    </div>
    <!-- /.card-header -->
    <!-- .conversations -->
    <div role="log" class="conversations">
      <!-- .conversation-list -->
      <ul class="conversation-list">
        <!-- .conversation-inbound -->
        <li class="conversation-inbound">
          <!-- .conversation-avatar -->
          <div class="conversation-avatar">
            <a href="#" class="user-avatar">
              <img src="assets/images/avatars/profile.jpg" alt="">
            </a>
          </div>
          <!-- /.conversation-avatar -->
          <!-- .conversation-message -->
          <div class="conversation-message">
            <div class="conversation-meta">
              <a href="#"><strong>Beni arisandi</strong></a>
              <span class="mention ml-1">Author</span>
              <small class="time ml-1">1hr</small>
            </div>
            <div class="conversation-message-text">Quaerat eum quia ad, obcaecati ex placeat autem, molestiae iusto ab ipsum eius dicta dolores corporis debitis quasi! Neque, modi impedit iusto!</div>
            <div class="conversation-meta">
              <a href="#">Like</a> &middot; <a href="#">Reply</a> &middot; <a href="#">Edit</a> &middot; <a href="#">Delete</a>
            </div>
          </div>
          <!-- /.conversation-message -->
        </li>
        <!-- /.conversation-inbound -->

        <!-- .conversation-inbound -->
        <li class="conversation-inbound">
          <!-- .conversation-avatar -->
          <div class="conversation-avatar">
            <a href="#" class="tile tile-circle bg-muted">
              <i class="oi oi-person"></i>
            </a>
          </div>
          <!-- /.conversation-avatar -->
          <!-- .conversation-message -->
          <div class="conversation-message">
            <div class="conversation-meta">
              <a href="#"><strong>Diane Peters</strong></a>
              <small class="time ml-1">32m</small>
            </div>
            <div class="conversation-message-text">Consectetur quis veritatis aut maiores omnis, expedita officiis delectus perspiciatis a dolores.</div>
            <div class="conversation-meta">
              <a href="#">Like</a> &middot; <a href="#">Reply</a> &middot; <a href="#">Edit</a> &middot; <a href="#">Delete</a>
            </div>
            <!-- Nested .conversation-list -->
            <ul class="conversation-list">
              <!-- .conversation-inbound -->
              <li class="conversation-inbound">
                <div class="conversation-message">
                  <div class="conversation-meta">
                    <a href="#"><i class="fa fa-reply fa-rotate-180"></i></a>
                    <a href="#" class="user-avatar user-avatar-xs mx-1">
                      <img src="assets/images/avatars/uifaces16.jpg" alt="">
                    </a>
                    <a href="#">
                      Betty Simmons &middot; 5 Replies
                    </a> &middot; 12m
                  </div>
                </div>
              </li>
              <!-- /.conversation-inbound -->
            </ul>
            <!-- /Nested .conversation-list -->
          </div>
          <!-- /.conversation-message -->
        </li>
        <!-- /.conversation-inbound -->

        <!-- .conversation-inbound -->
        <li class="conversation-inbound">
          <!-- .conversation-avatar -->
          <div class="conversation-avatar">
            <a href="#" class="user-avatar">
              <img src="assets/images/avatars/uifaces11.jpg" alt="">
            </a>
          </div>
          <!-- /.conversation-avatar -->
          <!-- .conversation-message -->
          <div class="conversation-message">
            <div class="conversation-meta">
              <a href="#"><strong>Jennifer Gray</strong></a>
              <small class="time ml-1">Edited 14m</small>
            </div>
            <div class="conversation-message-text">Officiis numquam, repellat nam tempore sit aliquid nostrum autem excepturi quis nihil.</div>
            <div class="conversation-meta">
              <a href="#">Like</a> &middot; <a href="#">Reply</a> &middot; <a href="#">Edit</a> &middot; <a href="#">Delete</a>
            </div>
            <!-- Nested .conversation-list -->
            <ul class="conversation-list">
              <!-- .conversation-inbound -->
              <li class="conversation-inbound">
                <!-- .conversation-avatar -->
                <div class="conversation-avatar">
                  <a href="#" class="user-avatar user-avatar-sm">
                    <img src="assets/images/avatars/uifaces15.jpg" alt="">
                  </a>
                </div>
                <!-- /.conversation-avatar -->
                <!-- .conversation-message -->
                <div class="conversation-message">
                  <div class="conversation-meta">
                    <a href="#"><strong>Russell Gilbert</strong></a>
                    <small class="time ml-1">4m</small>
                  </div>
                  <div class="conversation-message-text">Enim laborum, architecto molestias velit quod tempora!</div>
                  <div class="conversation-meta">
                    <a href="#">Like</a> &middot; <a href="#">Reply</a> &middot; <a href="#">Edit</a> &middot; <a href="#">Delete</a>
                  </div>
                </div>
                <!-- /.conversation-message -->
              </li>
              <!-- /.conversation-inbound -->

              <!-- .conversation-inbound -->
              <li class="conversation-inbound">
                <!-- .conversation-avatar -->
                <div class="conversation-avatar">
                  <a href="#" class="user-avatar user-avatar-sm">
                    <img src="assets/images/avatars/profile.jpg" alt="">
                  </a>
                </div>
                <!-- /.conversation-avatar -->
                <!-- .conversation-message -->
                <div class="conversation-message">
                  <div class="conversation-meta">
                    <a href="#"><strong>Beni Arisandi</strong></a>
                    <span class="mention ml-1">Author</span>
                    <small class="time ml-1">Just now</small>
                  </div>
                  <div class="conversation-message-text"><a href="#"><strong></strong></a> Adipisicing elit.</div>
                  <div class="conversation-meta">
                    <a href="#">Like</a> &middot; <a href="#">Reply</a> &middot; <a href="#">Edit</a> &middot; <a href="#">Delete</a>
                  </div>
                </div>
                <!-- /.conversation-message -->
              </li>
              <!-- /.conversation-inbound -->

              <!-- .conversation-action -->
              <li class="conversation-action mt-3">
                {% include ui/publisher-conversation-sm.html %}
              </li>
              <!-- /.conversation-action -->
            </ul>
            <!-- /Nested .conversation-list -->
          </div>
          <!-- /.conversation-message -->
        </li>
        <!-- /.conversation-inbound -->

        <!-- .conversation-inbound -->
        <li class="conversation-inbound">
          <!-- .conversation-avatar -->
          <div class="conversation-avatar">
            <a href="#" class="user-avatar">
              <img src="assets/images/avatars/uifaces12.jpg" alt="">
            </a>
          </div>
          <!-- /.conversation-avatar -->
          <!-- .conversation-message -->
          <div class="conversation-message">
            <div class="conversation-meta">
              <a href="#"><strong>Zachary Fowler</strong></a>
              <small class="time ml-1">5m</small>
            </div>
            <div class="conversation-message-text">Ad earum dolore excepturi itaque officia.</div>
            <div class="conversation-meta">
              <a href="#">Like</a> &middot; <a href="#">Reply</a> &middot; <a href="#">Edit</a> &middot; <a href="#">Delete</a>
            </div>
            <!-- Nested .conversation-list -->
            <ul class="conversation-list">
              <!-- .conversation-inbound -->
              <li class="conversation-inbound">
                <div class="conversation-message">
                  <div class="conversation-meta">
                    <a href="#"><i class="fa fa-reply fa-rotate-180"></i></a>
                    <a href="#">View 8 Replies</a>
                  </div>
                </div>
              </li>
              <!-- /.conversation-inbound -->
            </ul>
            <!-- /Nested .conversation-list -->
          </div>
          <!-- /.conversation-message -->
        </li>
        <!-- /.conversation-inbound -->

        <!-- .conversation-action -->
        <li class="conversation-action mt-3">
          {% include ui/publisher-conversation.html %}
        </li>
        <!-- /.conversation-action -->
      </ul>
      <!-- /.conversation-list -->
    </div>
    <!-- /.conversations -->
  </div>
  <!-- /.feed-comments -->
</div>
<!-- /.feed -->
