<!-- .card-figure -->
<div class="card-figure">
  <!-- .card-figure -->
  <figure class="figure">
    <!-- .figure-img -->
    <div class="figure-img">
      <img class="img-fluid" src="assets/images/dummy/{{image}}" alt="Card image cap">
      <a href="assets/images/dummy/{{imageLg}}" class="img-link" data-size="{{dataSize}}">
        <span class="tile tile-circle bg-danger"><span class="oi oi-eye"></span></span>
        <span class="img-caption d-none">Card image cap</span>
      </a>
    </div>
    <!-- /.figure-img -->
  </figure>
  <!-- /.card-figure -->
</div>
<!-- /.card-figure -->
