<!-- .card-figure -->
<div class="card card-figure">
  <!-- .card-figure -->
  <figure class="figure">
    <!-- .figure-img -->
    <div class="figure-img figure-attachment">
      <img src="assets/images/dummy/img-5.jpg" alt="Card image cap">
      <a href="assets/images/dummy/img-5.jpg" class="img-link" data-size="600x450">
        <span class="tile tile-circle bg-danger"><span class="oi oi-eye"></span></span>
        <span class="img-caption d-none">Card image cap</span>
      </a>
    </div>
    <!-- /.figure-img -->
    <figcaption class="figure-caption">
      <ul class="list-inline d-flex text-muted mb-0">
        <li class="list-inline-item text-truncate mr-auto">Cajun Chicken Egg Pasta</li>
        <li class="list-inline-item">
          <button type="button" class="btn btn-reset" title="Download"><span class="oi oi-data-transfer-download"></span></button>
        </li>
      </ul>
    </figcaption>
  </figure>
  <!-- /.card-figure -->
</div>
<!-- /.card-figure -->
