<!-- .list-group -->
<div class="list-group list-group-reflow list-group-flush list-group-divider">
  <!-- .list-group-header -->
  <div class="list-group-header">8 Members</div>
  <!-- /.list-group-header -->
  {% for people in site.data.people %}
  {% if forloop.index >= offset %}
  {% if forloop.index <= max %}
  <!-- .list-group-item -->
  <div class="list-group-item">
    <!-- .list-group-item-figure -->
    <div class="list-group-item-figure align-items-start">
      <a href="#" class="user-avatar">
        <img src="assets/images/avatars/{{people.avatar}}" alt="{{people.name}}">
        <span class="avatar-badge {{people.badge}}" title="{{people.badge}}""></span>
      </a>
    </div>
    <!-- /.list-group-item-figure -->
    <!-- .list-group-item-body -->
    <div class="list-group-item-body">
      <h4 class="list-group-item-title"><a href="#">{{people.name}}</a></h4>
      <p class="list-group-item-text">{{people.job}}</p>
    </div>
    <!-- /.list-group-item-body -->
    <!-- .list-group-item-figure -->
    <div class="list-group-item-figure align-items-start">
      <!-- .dropdown -->
      <div class="dropdown">
        <button class="btn btn-sm btn-icon btn-light" data-toggle="dropdown">
          <i class="fa fa-fw fa-ellipsis-v"></i>
        </button>
        <div class="dropdown-arrow"></div>
        <div class="dropdown-menu dropdown-menu-right">
          <button type="button" class="dropdown-item">Message</button>
          <button type="button" class="dropdown-item">Invite to a team</button>
          <button type="button" class="dropdown-item">Copy member ID</button>
          <div class="dropdown-divider"></div>
          <button type="button" class="dropdown-item">Remove</button>
        </div>
      </div>
      <!-- /.dropdown -->
    </div>
    <!-- /.list-group-item-figure -->
  </div>
  <!-- /.list-group-item -->
  {% endif %}
  {% endif %}
  {% endfor %}
</div>
<!-- /.list-group -->
