{% for people in site.data.people %}
{% if forloop.index >= offset %}
{% if forloop.index <= max %}
<!-- .card -->
<div class="card mb-2">
  <!-- .card-body -->
  <div class="card-body">
    <!-- grid row -->
    <div class="row align-items-center">
      <!-- grid column -->
      <div class="col-auto">
        <a href="user-profile.html" class="user-avatar user-avatar-lg">
          <img src="assets/images/avatars/{{people.avatar}}" alt="">
          <span class="avatar-badge {{people.badge}}" title="{{people.badge}}""></span>
        </a>
      </div>
      <!-- /grid column -->
      <!-- grid column -->
      <div class="col">
        <h3 class="card-title">
          <a href="user-profile.html">{{people.name}}</a> <small class="text-muted">@{{people.username}}</small>
        </h3>
        <h6 class="card-subtitle text-muted">{{people.job}}</h6>
      </div>
      <!-- /grid column -->
      <!-- /grid column -->
      <div class="col-auto">
        <button type="button" class="btn btn-icon btn-secondary mr-1" data-toggle="tooltip" title="Private message">
          <i class="far fa-comment-alt"></i>
        </button>
        <!-- .dropdown -->
        <div class="dropdown d-inline-block">
          <button class="btn btn-icon btn-secondary" data-toggle="dropdown">
            <i class="fa fa-fw fa-ellipsis-h"></i>
          </button>
          <div class="dropdown-arrow"></div>
          <div class="dropdown-menu dropdown-menu-right">
            <button type="button" class="dropdown-item">Invite to a team</button>
            <button type="button" class="dropdown-item">Copy member ID</button>
            <div class="dropdown-divider"></div>
            <button type="button" class="dropdown-item">Remove</button>
          </div>
        </div>
        <!-- /.dropdown -->
      </div>
      <!-- /grid column -->
    </div>
    <!-- /grid row -->
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
{% endif %}
{% endif %}
{% endfor %}
