<!-- metric row -->
<div class="metric-row">
  <!-- metric column -->
  <div class="col">
    <!-- .metric -->
    <div class="metric metric-bordered align-items-center">
      <p class="metric-value h3">
        <sub><i class="oi oi-people fa-lg"></i></sub>
      </p>
      <h2 class="metric-label">No teams yet</h2>
    </div>
    <!-- /.metric -->
  </div>
  <!-- /metric column -->
  <!-- metric column -->
  <div class="col">
    <!-- .metric -->
    <div class="metric metric-bordered align-items-center">
      <p class="metric-value h3">
        <sub><i class="oi oi-fork fa-lg"></i></sub>
      </p>
      <h2 class="metric-label">No projects yet</h2>
    </div>
    <!-- /.metric -->
  </div>
  <!-- /metric column -->
  <!-- metric column -->
  <div class="col">
    <!-- .metric -->
    <div class="metric metric-bordered align-items-center">
      <p class="metric-value h3">
        <sub><i class="fa fa-tasks fa-lg"></i></sub>
      </p>
      <h2 class="metric-label">No active tasks yet</h2>
    </div>
    <!-- /.metric -->
  </div>
  <!-- /metric column -->
  <!-- metric column -->
  <div class="col">
    <!-- .metric -->
    <div class="metric metric-bordered align-items-center">
      <p class="metric-value h3">
        <sub><i class="oi oi-timer fa-lg"></i></sub>
      </p>
      <h2 class="metric-label">No ongoing tasks yet</h2>
    </div>
    <!-- /.metric -->
  </div>
  <!-- /metric column -->
</div>
<!-- /metric row -->
