<!-- metric row -->
<div class="metric-row">
  <!-- metric column -->
  <div class="col-xl-2 col-sm-4 col-6">
    <!-- .metric -->
    <div class="metric">
      <h2 class="metric-label">Hours Spent</h2>
      <p class="metric-value h1">2,467</p>
    </div>
    <!-- /.metric -->
  </div>
  <!-- /metric column -->
  <!-- metric column -->
  <div class="col-xl-2 col-sm-4 col-6">
    <!-- .metric -->
    <div class="metric">
      <h2 class="metric-label">Clients</h2>
      <p class="metric-value h1">56</p>
    </div>
    <!-- /.metric -->
  </div>
  <!-- /metric column -->
  <!-- metric column -->
  <div class="col-xl-2 col-sm-4 col-6">
    <!-- .metric -->
    <div class="metric">
      <h2 class="metric-label">Projects</h2>
      <p class="metric-value h1">43</p>
    </div>
    <!-- /.metric -->
  </div>
  <!-- /metric column -->
  <!-- metric column -->
  <div class="col-xl-2 col-sm-4 col-6">
    <!-- .metric -->
    <div class="metric">
      <h2 class="metric-label">Teams</h2>
      <p class="metric-value h1">12</p>
    </div>
    <!-- /.metric -->
  </div>
  <!-- /metric column -->
  <!-- metric column -->
  <div class="col-xl-2 col-sm-4 col-6">
    <!-- .metric -->
    <div class="metric">
      <h2 class="metric-label">Active Tasks</h2>
      <p class="metric-value h1">64</p>
    </div>
    <!-- /.metric -->
  </div>
  <!-- /metric column -->
  <!-- metric column -->
  <div class="col-xl-2 col-sm-4 col-6">
    <!-- .metric -->
    <div class="metric">
      <h2 class="metric-label">Ongoing Tasks</h2>
      <p class="metric-value h1">8</p>
    </div>
    <!-- /.metric -->
  </div>
  <!-- /metric column -->
</div>
<!-- /metric row -->
