<!-- metric row -->
<div class="metric-row">
  <!-- metric column -->
  <div class="col">
    <!-- .metric -->
    <div class="metric metric-bordered">
      <h2 class="metric-label">Budget</h2>
      <p class="metric-value h1">
        <sup>$</sup>
        <span class="value">5,000</span>
      </p>
    </div>
    <!-- /.metric -->
  </div>
  <!-- /metric column -->
  <!-- metric column -->
  <div class="col">
    <!-- .metric -->
    <div class="metric metric-bordered">
      <h2 class="metric-label">Invoiced</h2>
      <p class="metric-value h1">
        <sup>$</sup>
        <span class="value">3,600</span>
      </p>
    </div>
    <!-- /.metric -->
  </div>
  <!-- /metric column -->
  <!-- metric column -->
  <div class="col">
    <!-- .metric -->
    <div class="metric metric-bordered">
      <h2 class="metric-label">Expenses</h2>
      <p class="metric-value h1">
        <sup>$</sup>
        <span class="value">450</span>
      </p>
    </div>
    <!-- /.metric -->
  </div>
  <!-- /metric column -->
  <!-- metric column -->
  <div class="col">
    <!-- .metric -->
    <div class="metric metric-bordered">
      <h2 class="metric-label">Progress</h2>
      <p class="metric-value h1">
        <span class="value">93</span>
        <sup>%</sup>
      </p>
    </div>
    <!-- /.metric -->
  </div>
  <!-- /metric column -->
</div>
<!-- /metric row -->
