<!-- .section-block -->
<div class="section-block">
  <!-- .metric-row -->
  <div class="metric-row metric-flush">
    <!-- metric column -->
    <div class="col">
      <!-- .metric -->
      <a href="page-team-members.html" class="metric metric-bordered align-items-center">
        <h2 class="metric-label">Members</h2>
        <p class="metric-value h3">
          <sub><i class="oi oi-people"></i></sub>
          <span class="value">12</span>
        </p>
      </a>
      <!-- /.metric -->
    </div>
    <!-- /metric column -->
    <!-- metric column -->
    <div class="col">
      <!-- .metric -->
      <a href="page-team-projects.html" class="metric metric-bordered align-items-center">
        <h2 class="metric-label">Projects</h2>
        <p class="metric-value h3">
          <sub><i class="oi oi-fork"></i></sub>
          <span class="value">26</span>
        </p>
      </a>
      <!-- /.metric -->
    </div>
    <!-- /metric column -->
    <!-- metric column -->
    <div class="col">
      <!-- .metric -->
      <a href="page-team-projects.html" class="metric metric-bordered align-items-center">
        <h2 class="metric-label">Active Projects</h2>
        <p class="metric-value h3">
          <sub><i class="oi oi-timer fa-lg"></i></sub>
          <span class="value">5</span>
        </p>
      </a>
      <!-- /.metric -->
    </div>
    <!-- /metric column -->
  </div>
  <!-- /.metric-row -->
</div>
<!-- /.section-block -->
