<!-- .page-cover -->
<header class="page-cover">
  <div class="text-center">
    <a href="user-profile.html" class="user-avatar user-avatar-xl">
      <img src="assets/images/avatars/profile.jpg" alt="">
    </a>
    <h2 class="h4 mt-2 mb-0">Beni Arisandi</h2>
    <div class="my-1">
      <i class="fa fa-star text-yellow"></i>
      <i class="fa fa-star text-yellow"></i>
      <i class="fa fa-star text-yellow"></i>
      <i class="fa fa-star text-yellow"></i>
      <i class="far fa-star text-yellow"></i>
    </div>
    <p class="text-muted">Project Manager @CreativeDivision</p>
    <p>Huge fan of HTML, CSS and Javascript. Web design and open source lover.</p>
  </div>

  <!-- .cover-controls -->
  <div class="cover-controls cover-controls-bottom">
    <a href="#" class="btn btn-light" data-toggle="modal" data-target="#followersModal">2,159 Followers</a>
    <a href="#" class="btn btn-light" data-toggle="modal" data-target="#followingModal">136 Following</a>
  </div>
  <!-- /.cover-controls -->
</header>
<!-- /.page-cover -->

<!-- Followers Modal -->
{% include ui/modal-followers.html %}
<!-- /Followers Modal -->

<!-- Following Modal -->
{% include ui/modal-following.html %}
<!-- /Following Modal -->

