<!-- .lits-group -->
<div class="lits-group list-group-flush">
  {% for project in site.data.projects %}
  {% if project.finished == false %}
  <!-- .lits-group-item -->
  <div class="list-group-item">
    <!-- .lits-group-item-figure -->
    <div class="list-group-item-figure">
      <div class="has-badge">
        <a href="page-project.html" class="tile tile-md bg-{{project.color}}">{{project.initial}}</a>
        <a href="#team" class="user-avatar user-avatar-xs">
          <img src="assets/images/avatars/{{project.team}}" alt="">
        </a>
      </div>
    </div>
    <!-- .lits-group-item-figure -->
    <!-- .lits-group-item-body -->
    <div class="list-group-item-body">
      <h5 class="card-title">
        <a href="page-project.html">{{project.name}}</a>
      </h5>
      <p class="card-subtitle text-muted mb-1">Progress in {{project.completed | times: 100 | divided_by: project.tasks | round}}% - Last update {{project.lastUpdate}}</p>
      <!-- .progress -->
      <div class="progress progress-xs bg-transparent">
        <div class="progress-bar bg-{{project.color}}" role="progressbar" aria-valuenow="{{project.completed}}" aria-valuemin="0" aria-valuemax="100" style="width: {{project.completed | times: 100 | divided_by: project.tasks | round}}%">
          <span class="sr-only">{{project.completed | times: 100 | divided_by: project.tasks | round}}% Complete</span>
        </div>
      </div>
      <!-- /.progress -->
    </div>
    <!-- .lits-group-item-body -->
  </div>
  <!-- /.lits-group-item -->
  {% endif %}
  {% endfor %}
</div>
<!-- /.lits-group -->
