<!-- .media -->
<div class="media">
  <figure class="user-avatar user-avatar-md mr-2">
    <img src="assets/images/avatars/profile.jpg" alt="">
  </figure>
  <!-- .media-body -->
  <div class="media-body">
    <!-- .publisher -->
    <div class="publisher keep-focus focus">
      <label for="publisherInput7" class="publisher-label">Add comment</label>
      <!-- .publisher-input -->
      <div class="publisher-input">
        <textarea id="publisherInput7" class="form-control" placeholder="Write a comment"></textarea>
      </div>
      <!-- /.publisher-input -->
      <!-- .publisher-actions -->
      <div class="publisher-actions">
        <!-- .publisher-tools -->
        <div class="publisher-tools mr-auto">
          <div class="btn btn-light btn-icon fileinput-button">
            <i class="fa fa-paperclip"></i>
            <input type="file" id="attachment7" name="attachment7[]" multiple>
          </div>
          <button type="button" class="btn btn-light btn-icon"><i class="far fa-smile"></i></button>
        </div>
        <!-- /.publisher-tools -->
        <button type="submit" class="btn btn-primary">Publish</button>
      </div>
      <!-- /.publisher-actions -->
    </div>
    <!-- /.publisher -->
  </div>
  <!-- /.media-body -->
</div>
<!-- /.media -->
