<!-- .publisher -->
<div class="publisher">
  <!-- .publisher-input -->
  <div class="publisher-input pr-0">
    <input class="form-control" placeholder="+ Enter list title">
  </div>
  <!-- /.publisher-input -->
  <!-- .publisher-actions -->
  <div class="publisher-actions">
    <!-- .publisher-tools -->
    <div class="publisher-tools pb-0">
      <button type="submit" class="btn btn-primary">Add List</button>
      <button type="button" class="btn btn-light">Cancel</button>
    </div>
    <!-- /.publisher-tools -->
  </div>
  <!-- /.publisher-actions -->
</div>
<!-- /.publisher -->
