<!-- .media -->
<div class="media">
  <figure class="user-avatar user-avatar-md">
    <img src="assets/images/avatars/profile.jpg" alt="">
  </figure>
  <!-- .media-body -->
  <div class="media-body">
    <!-- .publisher -->
    {% if include.keepFocus %}
    <div class="publisher keep-focus focus">
    {% else %}
    <div class="publisher">
    {% endif %}
      <!-- .publisher-input -->
      <div class="publisher-input">
        <textarea class="form-control" placeholder="What happening?"></textarea>
      </div>
      <!-- /.publisher-input -->
      <!-- .publisher-actions -->
      <div class="publisher-actions">
        <!-- .publisher-tools -->
        <div class="publisher-tools mr-auto">
          <div class="btn btn-light btn-icon fileinput-button">
            <i class="fa fa-paperclip"></i>
            <input type="file" id="pfAttachment" name="pfAttachment[]" multiple>
          </div>
          <button type="button" class="btn btn-light btn-icon"><i class="far fa-smile"></i></button>
        </div>
        <!-- /.publisher-tools -->
        <button type="submit" class="btn btn-primary">Publish</button>
      </div>
      <!-- /.publisher-actions -->
    </div>
    <!-- /.publisher -->
  </div>
  <!-- /.media-body -->
</div>
<!-- /.media -->
