<!-- .list-group -->
<div class="list-group list-group-flush list-group-divider">
  <!-- .list-group-item -->
  <div class="list-group-item">
    <div class="list-group-item-figure">
      <a href="#" class="tile tile-circle bg-success"><span class="fa fa-file-archive"></span></a>
    </div>
    <div class="list-group-item-body">
      <h4 class="list-group-item-title"><a href="#">Business services</a></h4>
      <p class="list-group-item-text">Jan 28, 2018</p>
    </div>
    <div class="list-group-item-figure">
      <button class="btn btn-sm btn-icon btn-light"><i class="oi oi-data-transfer-download"></i></button>
    </div>
  </div>
  <!-- /.list-group-item -->
  <!-- .list-group-item -->
  <div class="list-group-item">
    <div class="list-group-item-figure">
      <a href="#" class="tile tile-circle bg-danger"><span class="fa fa-file-video"></span></a>
    </div>
    <div class="list-group-item-body">
      <h4 class="list-group-item-title"><a href="#">Miscellaneous expenses</a></h4>
      <p class="list-group-item-text">Jan 21, 2018</p>
    </div>
    <div class="list-group-item-figure">
      <button class="btn btn-sm btn-icon btn-light"><i class="oi oi-data-transfer-download"></i></button>
    </div>
  </div>
  <!-- /.list-group-item -->
  <!-- .list-group-item -->
  <div class="list-group-item">
    <div class="list-group-item-figure">
      <a href="#" class="tile tile-circle bg-purple"><span class="fa fa-folder"></span></a>
    </div>
    <div class="list-group-item-body">
      <h4 class="list-group-item-title"><a href="#">Education & Children</a></h4>
      <p class="list-group-item-text">Jan 19, 2018</p>
    </div>
    <div class="list-group-item-figure">
      <button class="btn btn-sm btn-icon btn-light"><i class="oi oi-data-transfer-download"></i></button>
    </div>
  </div>
  <!-- /.list-group-item -->
  <!-- .list-group-item -->
  <div class="list-group-item">
    <div class="list-group-item-figure">
      <a href="#" class="tile tile-circle bg-info"><span class="fa fa-file-image"></span></a>
    </div>
    <div class="list-group-item-body">
      <h4 class="list-group-item-title"><a href="#">Auto & Transport</a></h4>
      <p class="list-group-item-text">Jan 12, 2018</p>
    </div>
    <div class="list-group-item-figure">
      <button class="btn btn-sm btn-icon btn-light"><i class="oi oi-data-transfer-download"></i></button>
    </div>
  </div>
  <!-- /.list-group-item -->
</div>
<!-- /.list-group -->
