<!-- .card -->
<div class="card card-reflow border-bottom">
  <!-- .card-body -->
  <div class="card-body text-center">
    <!-- team avatar -->
    <a href="#" class="user-avatar user-avatar-xl my-3">
      <img src="assets/images/avatars/team4.jpg" alt="">
    </a>
    <!-- /team avatar -->

    <h3 class="card-title text-truncate"><a href="#">Creative Division</a></h3>
    <h6 class="card-subtitle text-muted mb-3">London &middot; Mar 10, 2018</h6>

    <!-- grid row -->
    <div class="row">
      <!-- grid column -->
      <div class="col-4">
        <!-- .metric -->
        <div class="metric">
          <h6 class="metric-value">42</h6>
          <p class="metric-label mt-1">Projects</p>
        </div>
        <!-- /.metric -->
      </div>
      <!-- /grid column -->
      <!-- grid column -->
      <div class="col-4">
        <!-- .metric -->
        <div class="metric">
          <h6 class="metric-value">34</h6>
          <p class="metric-label mt-1">Completed</p>
        </div>
        <!-- /.metric -->
      </div>
      <!-- /grid column -->
      <!-- grid column -->
      <div class="col-4">
        <!-- .metric -->
        <div class="metric">
          <h6 class="metric-value">8</h6>
          <p class="metric-label mt-1">On Going</p>
        </div>
        <!-- /.metric -->
      </div>
      <!-- /grid column -->
    </div>
    <!-- /grid row -->
  </div>
  <!-- /.card-body -->

  <!-- .card-footer -->
  <div class="card-footer">
    <!-- .card-footer-item -->
    <div class="card-footer-item card-footer-item-bordered">
      <!-- .metric -->
      <div class="metric">
        <p class="metric-label mb-1">Clients</p>
        <h6 class="metric-value">29</h6>
      </div>
      <!-- /.metric -->
    </div>
    <!-- /.card-footer-item -->
    <!-- .card-footer-item -->
    <div class="card-footer-item card-footer-item-bordered">
      <!-- .metric -->
      <div class="metric">
        <p class="metric-label mb-1">Revenue</p>
        <h6 class="metric-value">634.43K</h6>
      </div>
      <!-- /.metric -->
    </div>
    <!-- /.card-footer-item -->
  </div>
  <!-- /.card-footer -->
</div>
<!-- /.card -->
