<!-- .card -->
<div class="card card-fluid">
  <!-- .card-body -->
  <div class="card-body">
    <!-- team avatar -->
    <div class="media align-items-center mb-3">
      <a href="page-team.html" class="tile tile-circle tile-lg bg-teal mr-3">{{initial}}</a>
      <div class="media-body">
        <h3 class="card-title text-truncate"><a href="page-team.html">{{team}}</a></h3>
        <h6 class="card-subtitle text-muted">{{type}}</h6>
      </div>
      <a href="page-conversations.html" class="btn btn-icon btn-light" data-toggle="tooltip" title="Chat with teams">
        <i class="oi oi-chat"></i>
      </a>
    </div><!-- /.media -->
    <p>We make stunning and cool responsive web and app design which suitable for any project purpose for your business.</p>
    <!-- /team avatar -->
    <hr>
    <!-- team rating -->
    <p class="rating rating-sm">
      <i class="fa fa-star text-yellow"></i>
      <i class="fa fa-star text-yellow"></i>
      <i class="fa fa-star text-yellow"></i>
      <i class="fa fa-star text-yellow"></i>
      <i class="fa fa-star text-yellow"></i>
    </p>
    <!-- /team rating -->

    <!-- team details -->
    <ul class="list-icons mb-3">
      <li>
        <span class="list-icon"><span class="fa fa-map-marker text-muted"></span></span> Jakarta
      </li>
      <li>
        <span class="list-icon"><span class="fa fa-flag text-muted"></span></span> Since May 21, 2016
      </li>
    </ul>
    <!-- /team details -->

    <!-- team members -->
    <div class="avatar-group">
      <a href="#" class="user-avatar" data-toggle="tooltip" title="Andrew Kim">
        <img src="assets/images/avatars/uifaces16.jpg" alt="">
      </a>
      <a href="#" class="user-avatar" data-toggle="tooltip" title="Bryan Morgan">
        <img src="assets/images/avatars/uifaces17.jpg" alt="">
      </a>
      <a href="#" class="user-avatar" data-toggle="tooltip" title="Larry Robinson">
        <img src="assets/images/avatars/uifaces18.jpg" alt="">
      </a>
      <a href="#" class="user-avatar" data-toggle="tooltip" title="Beverly Simpson">
        <img src="assets/images/avatars/uifaces19.jpg" alt="">
      </a>
      <a href="#" class="user-avatar" data-toggle="tooltip" title="Robinson">
        <img src="assets/images/avatars/uifaces20.jpg" alt="">
      </a>
      <a href="#" class="tile tile-circle" data-toggle="modal" data-target="#membersModal">+16</a>
    </div>
    <!-- /team members -->
  </div>
  <!-- /.card-body -->

  <!-- .card-footer -->
  <div class="card-footer">
    <a href="#" class="card-footer-item card-footer-item-bordered text-muted">
      <strong>63</strong>
      <span class="d-block">Projects</span>
    </a>
    <a href="#" class="card-footer-item card-footer-item-bordered text-muted">
      <strong>11</strong>
      <span class="d-block">On Going</span>
    </a>
    <a href="#" class="card-footer-item card-footer-item-bordered text-muted">
      <strong>65</strong>
      <span class="d-block">Tasks</span>
    </a>
  </div>
  <!-- /.card-footer -->
</div>
<!-- /.card -->
