<!-- .timeline -->
<ul class="timeline timeline-fluid">
  <!-- .timeline-item -->
  <li class="timeline-item">
    <!-- .timeline-figure -->
    <div class="timeline-figure">
      <span class="tile tile-circle tile-sm">
        <i class="far fa-calendar-alt fa-lg"></i>
      </span>
    </div>
    <!-- /.timeline-figure -->
    <!-- .timeline-body -->
    <div class="timeline-body">
      <!-- .media -->
      <div class="media">
        <!-- .media-body -->
        <div class="media-body">
          <p class="mb-0"><a href="#">Jeffrey Wells</a> created a <a href="#">schedule</a></p>
          <span class="timeline-date">About a minute ago</span>
        </div>
        <!-- /.media-body -->
      </div>
      <!-- /.media -->
    </div>
    <!-- /.timeline-body -->
  </li>
  <!-- /.timeline-item -->

  <!-- .timeline-item -->
  <li class="timeline-item">
    <!-- .timeline-figure -->
    <div class="timeline-figure">
      <span class="tile tile-circle tile-sm">
        <i class="oi oi-chat fa-lg"></i>
      </span>
    </div>
    <!-- /.timeline-figure -->
    <!-- .timeline-body -->
    <div class="timeline-body">
      <!-- .media -->
      <div class="media">
        <!-- .media-body -->
        <div class="media-body">
          <p class="mb-0"><a href="#">Anna Vargas</a> logged a <a href="#">chat</a> with team</p>
          <span class="timeline-date">3 hours ago</span>
        </div>
        <!-- /.media-body -->
      </div>
      <!-- /.media -->
    </div>
    <!-- /.timeline-body -->
  </li>
  <!-- /.timeline-item -->

  <!-- .timeline-item -->
  <li class="timeline-item">
    <!-- .timeline-figure -->
    <div class="timeline-figure">
      <span class="tile tile-circle tile-sm">
        <i class="fa fa-tasks fa-lg"></i>
      </span>
    </div>
    <!-- /.timeline-figure -->
    <!-- .timeline-body -->
    <div class="timeline-body">
      <!-- .media -->
      <div class="media">
        <!-- .media-body -->
        <div class="media-body">
          <p class="mb-0"><a href="#">Arthur Carroll</a> created a <a href="#">task</a></p>
          <span class="timeline-date">8:14pm</span>
        </div>
        <!-- /.media-body -->
      </div>
      <!-- /.media -->
    </div>
    <!-- /.timeline-body -->
  </li>
  <!-- /.timeline-item -->

  <!-- .timeline-item -->
  <li class="timeline-item">
    <!-- .timeline-figure -->
    <div class="timeline-figure">
      <span class="tile tile-circle tile-sm">
        <i class="fas fa-user-plus fa-lg"></i>
      </span>
    </div>
    <!-- /.timeline-figure -->
    <!-- .timeline-body -->
    <div class="timeline-body">
      <!-- .media -->
      <div class="media">
        <!-- .media-body -->
        <div class="media-body">
          <p class="mb-0"><a href="#">Sara Carr</a> invited to <a href="#">Stilearn Admin</a> project</p>
          <span class="timeline-date">7:21pm</span>
        </div>
        <!-- /.media-body -->
      </div>
      <!-- /.media -->
    </div>
    <!-- /.timeline-body -->
  </li>
  <!-- /.timeline-item -->

  <!-- .timeline-item -->
  <li class="timeline-item">
    <!-- .timeline-figure -->
    <div class="timeline-figure">
      <span class="tile tile-circle tile-sm">
        <i class="fa fa-folder fa-lg"></i>
      </span>
    </div>
    <!-- /.timeline-figure -->
    <!-- .timeline-body -->
    <div class="timeline-body">
      <!-- .media -->
      <div class="media">
        <!-- .media-body -->
        <div class="media-body">
          <p class="mb-0"><a href="#">Angela Peterson</a> added <a href="#">Looper Admin</a> to collection</p>
          <span class="timeline-date">5:21pm</span>
        </div>
        <!-- /.media-body -->
      </div>
      <!-- /.media -->
    </div>
    <!-- /.timeline-body -->
  </li>
  <!-- /.timeline-item -->

  <!-- .timeline-item -->
  <li class="timeline-item">
    <!-- .timeline-figure -->
    <div class="timeline-figure">
      <span class="tile tile-circle tile-sm">
        <i class="oi oi-person fa-lg"></i>
      </span>
    </div>
    <!-- /.timeline-figure -->
    <!-- .timeline-body -->
    <div class="timeline-body">
      <!-- .media -->
      <div class="media">
        <!-- .media-body -->
        <div class="media-body">
          <div class="avatar-group mb-2">
            <a href="#" class="user-avatar user-avatar-sm"><img src="assets/images/avatars/uifaces4.jpg" alt=""></a>
            <a href="#" class="user-avatar user-avatar-sm"><img src="assets/images/avatars/uifaces5.jpg" alt=""></a>
            <a href="#" class="user-avatar user-avatar-sm"><img src="assets/images/avatars/uifaces6.jpg" alt=""></a>
            <a href="#" class="user-avatar user-avatar-sm"><img src="assets/images/avatars/uifaces7.jpg" alt=""></a>
          </div>
          <p class="mb-0"><a href="#">Willie Dixon</a> and 3 others followed you</p>
          <span class="timeline-date">4:32pm</span>
        </div>
        <!-- /.media-body -->
      </div>
      <!-- /.media -->
    </div>
    <!-- /.timeline-body -->
  </li>
  <!-- /.timeline-item -->
</ul>
<!-- /.timeline -->
