<!-- .timeline -->
<ul class="timeline timeline-dashed-line">
  <!-- .timeline-item -->
  <li class="timeline-item">
    <!-- .timeline-figure -->
    <div class="timeline-figure">
      <span class="tile tile-circle tile-xs bg-success"><i class="fa fa-check"></i></span>
    </div>
    <!-- /.timeline-figure -->
    <!-- .timeline-body -->
    <div class="timeline-body">
      <h6 class="timeline-heading">Invoice created</h6>
      <span class="timeline-date">08/18/2018 – 12:42 PM</span>
    </div>
    <!-- /.timeline-body -->
  </li>
  <!-- /.timeline-item -->

  <!-- .timeline-item -->
  <li class="timeline-item">
    <!-- .timeline-figure -->
    <div class="timeline-figure">
      <span class="tile tile-circle tile-xs bg-success"><i class="fa fa-check"></i></span>
    </div>
    <!-- /.timeline-figure -->
    <!-- .timeline-body -->
    <div class="timeline-body">
      <h6 class="timeline-heading">Invoice sent <a href="#" class="text-muted"><small>details</small></a></h6>
      <span class="timeline-date">08/18/2018 – 12:42 PM</span>
    </div>
    <!-- /.timeline-body -->
  </li>
  <!-- /.timeline-item -->

  <!-- .timeline-item -->
  <li class="timeline-item">
    <!-- .timeline-figure -->
    <div class="timeline-figure">
      <span class="tile tile-circle tile-xs bg-success"><i class="fa fa-check"></i></span>
    </div>
    <!-- /.timeline-figure -->
    <!-- .timeline-body -->
    <div class="timeline-body">
      <h6 class="timeline-heading">Invoice viewed</h6>
      <span class="timeline-date">08/19/2018 – 09:11 AM</span>
    </div>
    <!-- /.timeline-body -->
  </li>
  <!-- /.timeline-item -->

  <!-- .timeline-item -->
  <li class="timeline-item">
    <!-- .timeline-figure -->
    <div class="timeline-figure">
      <span class="tile tile-circle tile-xs bg-success"><i class="fa fa-check"></i></span>
    </div>
    <!-- /.timeline-figure -->
    <!-- .timeline-body -->
    <div class="timeline-body">
      <h6 class="timeline-heading">Invoice partial paid <a href="#" class="text-muted"><small>details</small></a></h6>
      <span class="timeline-date">08/19/2018 – 10:36 AM</span>
    </div>
    <!-- /.timeline-body -->
  </li>
  <!-- /.timeline-item -->

  <!-- .timeline-item -->
  <li class="timeline-item">
    <!-- .timeline-figure -->
    <div class="timeline-figure">
      <span class="tile tile-circle tile-xs bg-success"><i class="fa fa-check"></i></span>
    </div>
    <!-- /.timeline-figure -->
    <!-- .timeline-body -->
    <div class="timeline-body">
      <h6 class="timeline-heading">Invoice sent <a href="#" class="text-muted"><small>details</small></a></h6>
      <span class="timeline-date">12/21/2018 – 12:42 PM</span>
    </div>
    <!-- /.timeline-body -->
  </li>
  <!-- /.timeline-item -->

  <!-- .timeline-item -->
  <li class="timeline-item">
    <!-- .timeline-figure -->
    <div class="timeline-figure">
      <span class="tile tile-circle tile-xs"><i class="fa fa-check d-none"></i></span>
    </div>
    <!-- /.timeline-figure -->
    <!-- .timeline-body -->
    <div class="timeline-body">
      <h6 class="timeline-heading">Invoice viewed</h6>
    </div>
    <!-- /.timeline-body -->
  </li>
  <!-- /.timeline-item -->

  <!-- .timeline-item -->
  <li class="timeline-item">
    <!-- .timeline-figure -->
    <div class="timeline-figure">
      <span class="tile tile-circle tile-xs"><i class="fa fa-check d-none"></i></span>
    </div>
    <!-- /.timeline-figure -->
    <!-- .timeline-body -->
    <div class="timeline-body">
      <h6 class="timeline-heading">Invoice fully paid</h6>
    </div>
    <!-- /.timeline-body -->
  </li>
  <!-- /.timeline-item -->
</ul>
<!-- /.timeline -->
