<!-- .card -->
<div class="card card-fluid">
  <img src="assets/images/dummy/img-8.jpg" alt="" class="card-img-top img-fluid">
  <!-- .card-body -->
  <div class="card-body pt-2">
    <!-- grid row -->
    <div class="row align-items-center mb-3">
      <!-- grid column -->
      <div class="col-auto">
        <!-- .user-avatar -->
        <a href="user-profile.html" class="user-avatar user-avatar-floated user-avatar-xl">
          <img src="assets/images/avatars/uifaces6.jpg" alt="">
        </a>
        <!-- /.user-avatar -->
      </div>
      <!-- /grid column -->
      <!-- grid column -->
      <!-- .col -->
      <div class="col">
        <h3 class="card-title"><a href="user-profile.html">Jonathan Stewart</a></h3>
        <h6 class="card-subtitle text-muted">UI/UX Designer</h6>
      </div>
      <!-- /.col -->
      <!-- /grid column -->
      <!-- grid column -->
      <div class="col-auto">
        <button class="btn btn-secondary"><i class="fas fa-user-plus"></i> Follow</button>
      </div>
      <!-- /grid column -->
    </div>
    <!-- /grid row -->

    <!-- grid row -->
    <div class="row text-center">
      <!-- grid column -->
      <div class="col">
        <!-- .metric -->
        <div class="metric">
          <h6 class="metric-value">54</h6>
          <p class="metric-label">Projects</p>
        </div>
        <!-- /.metric -->
      </div>
      <!-- /grid column -->
      <!-- grid column -->
      <div class="col">
        <!-- .metric -->
        <div class="metric">
          <h6 class="metric-value">53</h6>
          <p class="metric-label">Completed</p>
        </div>
        <!-- /.metric -->
      </div>
      <!-- /grid column -->
      <!-- grid column -->
      <div class="col">
        <!-- .metric -->
        <div class="metric">
          <h6 class="metric-value">2</h6>
          <p class="metric-label">On Going</p>
        </div>
        <!-- /.metric -->
      </div>
      <!-- /grid column -->
    </div>
    <!-- /grid row -->
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
