<!-- .card -->
<div class="card card-fluid">
  <img src="assets/images/dummy/img-8.jpg" alt="" class="card-img-top img-fluid">
  <!-- .card-body -->
  <div class="card-body text-center">
    <!-- .mb-3 -->
    <div class="mb-3">
      <!-- .user-avatar -->
      <a href="user-profile.html" class="user-avatar user-avatar-floated user-avatar-xl align-baseline">
        <img src="assets/images/avatars/uifaces5.jpg" alt="">
      </a>
      <!-- /.user-avatar -->

      <h3 class="card-title mt-2"><a href="user-profile.html">Johnny Mitchell</a></h3>
      <h6 class="card-subtitle text-muted">Copywriter</h6>
    </div>
    <!-- /.mb-3 -->

    <!-- grid row -->
    <div class="row">
      <!-- grid column -->
      <div class="col">
        <!-- .metric -->
        <div class="metric">
          <h6 class="metric-value">54</h6>
          <p class="metric-label">Projects</p>
        </div>
        <!-- /.metric -->
      </div>
      <!-- /grid column -->
      <!-- grid column -->
      <div class="col">
        <!-- .metric -->
        <div class="metric">
          <h6 class="metric-value">53</h6>
          <p class="metric-label">Completed</p>
        </div>
        <!-- /.metric -->
      </div>
      <!-- /grid column -->
      <!-- grid column -->
      <div class="col">
        <!-- .metric -->
        <div class="metric">
          <h6 class="metric-value">2</h6>
          <p class="metric-label">On Going</p>
        </div>
        <!-- /.metric -->
      </div>
      <!-- /grid column -->
    </div>
    <!-- /grid row -->
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
