<!-- .card -->
<div class="card card-fluid">
  <!-- .card-body -->
  <div class="card-body text-center">
    <!-- .user-avatar -->
    <a href="user-profile.html" class="user-avatar user-avatar-xl my-3">
      <img src="assets/images/avatars/uifaces4.jpg" alt="">
    </a>
    <!-- /.user-avatar -->

    <h3 class="card-title text-truncate"><a href="user-profile.html">Sara Hayes</a></h3>
    <h6 class="card-subtitle text-muted mb-3">Product Designer @CreativeDivision</h6>
    <p>
      <a href="#" class="btn btn-primary circle">View Profile <i class="fa fa-arrow-right ml-2"></i></a>
    </p>
  </div>
  <!-- /.card-body -->

  <!-- .card-footer -->
  <div class="card-footer">
    <!-- .card-footer-item -->
    <div class="card-footer-item card-footer-item-bordered">
      <!-- .metric -->
      <div class="metric">
        <h6 class="metric-value">54</h6>
        <p class="metric-label">Projects</p>
      </div>
      <!-- /.metric -->
    </div>
    <!-- .card-footer-item -->
    <!-- /.card-footer-item -->
    <div class="card-footer-item card-footer-item-bordered">
      <!-- .metric -->
      <div class="metric">
        <h6 class="metric-value">53</h6>
        <p class="metric-label">Completed</p>
      </div>
      <!-- /.metric -->
    </div>
    <!-- .card-footer-item -->
    <!-- /.card-footer-item -->
    <div class="card-footer-item card-footer-item-bordered">
      <!-- .metric -->
      <div class="metric">
        <h6 class="metric-value">2</h6>
        <p class="metric-label">On Going</p>
      </div>
      <!-- /.metric -->
    </div>
    <!-- /.card-footer-item -->
  </div>
  <!-- /.card-footer -->
</div>
<!-- /.card -->
