<!-- .card -->
<div class="card card-fluid">
  <!-- .card-body -->
  <div class="card-body">
    <!-- grid row -->
    <div class="media align-items-center">
      <!-- grid column -->
      <div class="col-auto">
        <!-- .user-avatar -->
        <a href="user-profile.html" class="user-avatar user-avatar-xl">
          <img src="assets/images/avatars/profile.jpg" alt="">
        </a>
        <!-- /.user-avatar -->
      </div>
      <!-- /grid column -->
      <!-- grid column -->
      <div class="col">
        <h3 class="card-title text-truncate"><a href="user-profile.html">Beni Arisandi</a></h3>
        <h6 class="card-subtitle text-muted">UI/UX Designer</h6>
      </div>
      <!-- /grid column -->
      <!-- grid column -->
      <div class="col-auto">
        <button type="button" class="btn btn-icon btn-secondary mr-1" data-toggle="tooltip" title="Private message">
          <i class="far fa-comment-alt"></i>
        </button>
        <!-- .dropdown -->
        <div class="dropdown d-inline-block">
          <button class="btn btn-icon btn-secondary" data-toggle="dropdown">
            <i class="fa fa-fw fa-ellipsis-h"></i>
          </button>
          <div class="dropdown-arrow"></div>
          <div class="dropdown-menu dropdown-menu-right">
            <button type="button" class="dropdown-item">Invite to a team</button>
            <button type="button" class="dropdown-item">Copy member ID</button>
            <div class="dropdown-divider"></div>
            <button type="button" class="dropdown-item">Remove</button>
          </div>
        </div>
        <!-- /.dropdown -->
      </div>
      <!-- /grid column -->
    </div>
    <!-- /grid row -->
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
