{% extends 'base.html.twig' %}

{% block title %}New VikaEvent{% endblock %}

{% block Body %}
    <h1>Create new VikaEvent</h1>

    {{ include('vika_event/_form.html.twig') }}

    <a href="{{ path('vika_event_index') }}">back to list</a>
{% endblock %}
