<!DOCTYPE html>
<html>

     <body> 
            <!-- Header-->
             <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                 <ol class="carousel-indicators">
                 <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                 <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                 <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                 </ol>
                 <div class="carousel-inner" role="listbox">
                 <!-- Slide One - Set the background image for this slide in the line below -->
                 <div class="carousel-item active" style="background-image: url('Karate1.jpg')">
                     <div class="carousel-caption d-none d-md-block">
                     <h3 class="display-4">Gichin Funakoshi</h3>
                     <p class="lead">Le karate-do est une philosophie, Une attitude devant et un regard sur la vie et le monde…</p>
                     </div>
                 </div>
                 
                 <!-- Slide Two - Set the background image for this slide in the line below -->
                 <div class="carousel-item" style="background-image: url('KarateKid.jpg'); background-size: 90% 120%">
                     <div class="carousel-caption d-none d-md-block">
                     <h3 class="display-4">Stage</h3>
                     <p class="lead">Du 15 - 30 juillet.</p>
                     </div>
                 </div>
                 <!-- Slide Three - Set the background image for this slide in the line below -->
                 <div class="carousel-item" style="background-image: url('Karate2.jpg')">
                     <div class="carousel-caption d-none d-md-block">
                     <h3 class="display-4">Jean-claude Van damme</h3>
                     <p class="lead">Il ne faut pas écouter les bruits du monde, mais le silence de l'âme.</p>
                     </div>
                 </div>
                 </div>
                 <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                     <span class="sr-only">Previous</span>
                     </a>
                 <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                     <span class="carousel-control-next-icon" aria-hidden="true"></span>
                     <span class="sr-only">Next</span>
                     </a>
             </div>
             <!-- Header-->
            </body>  
</html>