<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}VIKA{% endblock %}</title>
    <!-- Begin SEO tag -->
    <title> Page With Navs | Looper - Bootstrap 4 Admin Theme </title>
    <meta property="og:title" content="Page With Navs">
    <meta name="author" content="Beni Arisandi">
    <meta property="og:locale" content="en_US">
    <meta name="description" content="Responsive admin theme build on top of Bootstrap 4">
    <meta property="og:description" content="Responsive admin theme build on top of Bootstrap 4">
    <link rel="canonical" href="http://uselooper.com">
    <meta property="og:url" content="http://uselooper.com">
    <meta property="og:site_name" content="Looper - Bootstrap 4 Admin Theme">
    <script type="application/ld+json">
        {
            "name": "Looper - Bootstrap 4 Admin Theme",
            "description": "Responsive admin theme build on top of Bootstrap 4",
            "author":
            {
                "@type": "Person",
                "name": "Beni Arisandi"
            },
            "@type": "WebSite",
            "url": "",
            "headline": "Page With Navs",
            "@context": "http://schema.org"
        }
    </script><!-- End SEO tag -->

    
    <script>
        var skin = localStorage.getItem('skin') || 'default';
        var unusedLink = document.querySelector('link[data-skin]:not([data-skin="'+ skin +'"])');

        unusedLink.setAttribute('rel', '');
        unusedLink.setAttribute('disabled', true);
    </script>
    <!-- END THEME STYLES -->

    <!-- Lien LogoSocial Barre de navigation -->
    <link href="LogoSocial.css" rel="stylesheet" type="text/css">

    {% block stylesheets %}
        <link rel="stylesheet" href="assets/vendor/summernote/summernote-bs4.css">
        <link rel="stylesheet" href="assets/vendor/katex/katex.css">
        <link rel="stylesheet" href="assets/vendor/quill/quill.snow.css">
        <link rel="stylesheet" href="assets/vendor/simplemde/simplemde.min.css">
        {#    summernote/summernote-bs4.css#}
        {#    - highlightjs/styles/github.css#}
        {#    - katex/katex.min.css#}
        {#    - quill/quill.snow.css#}
        {#    - simplemde/simplemde.min.css#}
    {% endblock %}
</head>
<body>
{% include "OutilsTemplates/Header.html.twig" %}
{% include "security/login.html.twig" %}
<div class="app">
    <main class="app-main">
        <!-- .wrapper -->
        <div class="wrapper">
            <!-- .page -->
            <div class="page">

                {% block Template %}{% endblock %}
                {#   {% if not app.user%}#}
                {# {% else %} #}
                {% include "OutilsTemplates/NavBarre.html.twig" %}
                {# {% endif %} #}

                <!-- .page-inner -->
                <div class="page-inner">
                    {% block Body %}{% endblock %}
                </div>
            </div><!-- /.page -->
        </div><!-- /.wrapper -->
        {% include "OutilsTemplates/Footer.html.twig" %}
    </main>
</div>



{% block javascripts %}


    <!-- BEGIN BASE JS -->
    <script src="looper/dist/assets/vendor/jquery/jquery.min.js"></script>
    <script src="looper/dist/assets/vendor/bootstrap/js/popper.min.js"></script>
    <script src="looper/dist/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- END BASE JS -->

    <!-- BEGIN PLUGINS JS -->
    <script src="looper/dist/assets/vendor/pace/pace.min.js"></script>
    <script src="looper/dist/assets/vendor/stacked-menu/stacked-menu.min.js"></script>
    <script src="looper/dist/assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="looper/dist/assets/vendor/flatpickr/flatpickr.min.js"></script>
    <script src="looper/dist/assets/vendor/easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="looper/dist/assets/vendor/chart.js/Chart.min.js"></script>
    <script src="assets/vendor/moment/moment.min.js"></script>
    <script src="assets/vendor/fullcalendar/fullcalendar.min.js"></script>
    <!-- END PLUGINS JS -->
    <!-- BEGIN THEME JS -->
    <script src="looper/dist/assets/javascript/theme.min.js"></script> <!-- END THEME JS -->
                                                                       <!-- BEGIN PAGE LEVEL JS -->
    <script src="looper/dist/assets/javascript/pages/dashboard-demo.js"></script>
    <script src="assets/javascript/pages/fullcalendar-demo.js"></script>
    <script src="assets/javascript/pages/table-demo.js"></script>
    <!-- END PAGE LEVEL JS -->
    <script src="looper/dist/assets/vendor/summernote/summernote-bs4.min.js"></script>
    <script src="looper/dist/assets/vendor/highlightjs/highlight.pack.js"></script>
    <script src="looper/dist/assets/vendor/katex/katex.min.js"></script>
    <script src="looper/dist/assets/vendor/quill/quill.min.js"></script>
    <script src="looper/dist/assets/vendor/simplemde/simplemde.min.js"></script>
    <script src="looper/dist/assets/vendor/ace/min/ace.js"></script>
    <script src="looper/dist/assets/vendor/ace/min/ext-statusbar.js"></script>

    <script src="assets/javascript/pages/summernote-demo.js"></script>
    <script src="assets/javascript/pages/ace-demo.js"></script>
    {#pluginsJs:#}
    {#- summernote/summernote-bs4.min.js#}
    {#- highlightjs/highlight.pack.js#}
    {#- katex/katex.min.js#}
    {#- quill/quill.min.js#}
    {#- simplemde/simplemde.min.js#}
    {#- ace/min/ace.js#}
    {#- ace/min/ext-statusbar.js#}
    {#pageJs:#}
    {#- pages/summernote-demo.js#}
    {#- pages/ace-demo.js#}
{% endblock %}

</body>
</html>
