<!-- .card -->
<div class="card card-fluid">
  <!-- .card-body -->
  <div class="card-body">
    <h4 class="card-title">At.js</h4>
    <h6 class="card-subtitle mb-4">Add Github like mentions autocomplete to your application.</h6>

    <!-- form -->
    <form>
      <!-- .form-group -->
      <div class="form-group">
        <textarea id="inputor" class="form-control autosize">At.js, a github-like autocomplete library :s</textarea>
      </div>
      <!-- /.form-group -->

      <!-- .form-group -->
      <div class="form-group">
        <div id="editable" class="border rounded p-3" contentEditable="true">
          <p>
            <strong>And!!</strong> it support <strong style="font-size: 20px">ContentEditable</strong> mode too!!
            <img src="https://assets-cdn.github.com/images/icons/emoji/smile.png" height="20" width="20" alt="">
            <img src="https://assets-cdn.github.com/images/icons/emoji/smiley.png" height="20" width="20" alt="">
            <img src="https://assets-cdn.github.com/images/icons/emoji/coffee.png" height="20" width="20" alt="">
          </p>
          <p>
            Try here now!
            <img src="https://assets-cdn.github.com/images/icons/emoji/point_right.png" height="20" width="20" alt="">
            <span>emoji :w</span>
            <span>mention @a</span>
            <span>issue #</span>
          </p>
        </div>
      </div>
      <!-- /.form-group -->
    </form>
    <!-- /form -->

  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
