<!-- .card -->
<div class="card">
  <!-- .card-body -->
  <div class="card-body">
    <!-- .form -->
    <form>
      <!-- .fieldset -->
      <fieldset>
        <legend>Appended inputs</legend>
        <p class="text-muted">Can do what prepended inputs does.</p>

        <!-- .form-group -->
        <div class="form-group">
          <label for="ai1">Appended icon w/ validation</label>
          <!-- .input-group -->
          <div class="input-group has-clearable is-valid">
            <button type="button" class="close" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle"></i></span></button>
            <input type="text" class="form-control" id="ai1" placeholder="e.g developer-team">
            <label class="input-group-append" for="ai1">
              <span class="input-group-text">
                <span class="far fa-building"></span>
              </span>
            </label>
          </div>
          <!-- /.input-group -->
        </div>
        <!-- /.form-group -->

        <!-- .form-group -->
        <div class="form-group">
          <label for="ai2">Appended spinner</label>
          <!-- .input-group -->
          <div class="input-group has-spinner">
            <div class="spinner-border spinner-border-sm text-primary show" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <input type="text" class="form-control" id="ai2" placeholder="e.g developer-team">
            <div class="input-group-append">
              <span class="input-group-text">
                <span class="far fa-building"></span>
              </span>
            </div>
          </div>
          <!-- /.input-group -->
        </div>
        <!-- /.form-group -->

        <!-- .form-group -->
        <div class="form-group">
          <label for="ai3">Appended text</label>
          <!-- .input-group -->
          <div class="input-group input-group-alt">
            <input type="text" class="form-control" id="ai3" placeholder="Subscription fee">
            <div class="input-group-append">
              <span class="input-group-text">$ / month</span>
            </div>
          </div>
          <!-- /.input-group -->
        </div>
        <!-- /.form-group -->
      </fieldset>
      <!-- /.fieldset -->
    </form>
    <!-- /.form -->
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
