<!-- .card -->
<div class="card card-fluid">
  <!-- .card-body -->
  <div class="card-body">
    <h4 class="card-title">Tribute</h4>
    <h6 class="card-subtitle mb-4">A cross-browser @mention engine.</h6>

    <!-- form -->
    <form>
      <!-- .form-group -->
      <div class="form-group">
        <input type="text"
          class="form-control"
          placeholder="Volunteer someone to participate. Start typing with @"
          autocomplete="off"
          data-toggle="tribute"
          data-remote="assets/data/tribute.json">
      </div>
      <!-- /.form-group -->

      <!-- .form-group -->
      <div class="form-group">
        <textarea
          class="form-control"
          placeholder="Start typing with @"
          data-toggle="tribute"
          data-remote="assets/data/tribute.json"
          data-item-template="true"></textarea>
      </div>
      <!-- /.form-group -->

      <!-- .form-group -->
      <div class="form-group">
        <div
          class="border rounded p-3"
          data-toggle="tribute"
          data-remote="assets/data/tribute.json"
          data-item-template="true"
          data-select-template="true">
            <a href="#" class="mention">@rue74</a> Destroying things is much easier than making them.
        </div>
      </div>
      <!-- /.form-group -->
    </form>
    <!-- /form -->
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
