<!-- .section-block -->
<div class="section-block">
  <h2 class="section-title">Easy Pie Chart</h2>
  <p class="text-muted">Lightweight jQuery plugin to draw simple, animated pie charts for single values.</p>
</div>
<!-- /.section-block -->

<!-- grid row -->
<div class="row">
  <!-- grid column -->
  <div class="col-12 col-sm-6 col-xl-3">
    <!-- .card -->
    <div class="card card-fluid">
      <div class="card-body">
        <!-- easy-pie-chart -->
        <div class="text-center">
          <div class="easypiechart mb-1" data-toggle="easypiechart" data-percent="50" data-bar-color="#346CB0" data-track-color="false">
            <span>45%</span>
          </div>
          <span>New visits</span>
        </div>
        <!-- /easy-pie-chart -->
      </div>
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->

  <!-- grid column -->
  <div class="col-12 col-sm-6 col-xl-3">
    <!-- .card -->
    <div class="card card-fluid">
      <div class="card-body">
        <!-- easy-pie-chart -->
        <div class="text-center">
          <div class="easypiechart mb-1" data-toggle="easypiechart" data-percent="60" data-bar-color="#00A28A" data-track-color="#E7F6F4">
            <span>60%</span>
          </div>
          <span>Bounce rate</span>
        </div>
        <!-- /easy-pie-chart -->
      </div>
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->

  <!-- grid column -->
  <div class="col-12 col-sm-6 col-xl-3">
    <!-- .card -->
    <div class="card card-fluid">
      <div class="card-body">
        <!-- easy-pie-chart -->
        <div class="text-center">
          <div class="chart-inline-group">
            <div class="easypiechart mb-1" data-toggle="easypiechart" data-percent="75" data-bar-color="#B76BA3" data-track-color="false" data-scale-color="false" data-rotate="225"></div>
            <div class="easypiechart mb-1" data-toggle="easypiechart" data-percent="60" data-size="90" data-bar-color="#5F4B8B" data-track-color="false" data-scale-color="false" data-rotate="225"></div>
            <div class="easypiechart mb-1" data-toggle="easypiechart" data-percent="75" data-size="60" data-bar-color="#A7C796" data-track-color="false" data-scale-color="false" data-rotate="225"></div>
          </div>
          <span>Returning</span>
        </div>
        <!-- /easy-pie-chart -->
      </div>
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->

  <!-- grid column -->
  <div class="col-12 col-sm-6 col-xl-3">
    <!-- .card -->
    <div class="card card-fluid">
      <div class="card-body">
        <!-- easy-pie-chart -->
        <div class="text-center">
          <div class="easypiechart mb-1" data-toggle="easypiechart" data-percent="85" data-bar-color="#F9AC2F" data-track-color="#FEF7EC" data-scale-color='false'>
            <span>85%</span>
          </div>
          <span>Conversions</span>
        </div>
        <!-- /easy-pie-chart -->
      </div>
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->
</div>
<!-- /grid row -->
