<!-- .section-block -->
<div class="section-block">
  <h2 class="section-title">Knobs</h2>
  <p class="text-muted">Nice, downward compatible, touchable, jQuery dial.</p>
</div>
<!-- /.section-block -->

<!-- grid row -->
<div class="row">
  <!-- grid column -->
  <div class="col-md-4 col-sm-6">
    <!-- .card -->
    <div class="card card-fluid">
      <!-- .card-header -->
      <div class="card-header">Disable display input</div>
      <!-- /.card-header -->
      <!-- .card-body -->
      <div class="card-body text-center">
        <input data-toggle="knob" data-displayInput=false value="35">
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->

  <!-- grid column -->
  <div class="col-md-4 col-sm-6">
    <!-- .card -->
    <div class="card card-fluid">
      <!-- .card-header -->
      <div class="card-header">'cursor' mode</div>
      <!-- /.card-header -->
      <!-- .card-body -->
      <div class="card-body text-center">
        <input data-toggle="knob" data-cursor="true" data-fgcolor="#5F4B8B" data-thickness=.3 value="29">
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->

  <!-- grid column -->
  <div class="col-md-4 col-sm-6">
    <!-- .card -->
    <div class="card card-fluid">
      <!-- .card-header -->
      <div class="card-header">Display previous value</div>
      <!-- /.card-header -->
      <!-- .card-body -->
      <div class="card-body text-center">
        <input data-toggle="knob" data-min="-100" data-displayprevious="true" value="44">
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->

  <!-- grid column -->
  <div class="col-md-4 col-sm-6">
    <!-- .card -->
    <div class="card card-fluid">
      <!-- .card-header -->
      <div class="card-header">Angle offset</div>
      <!-- /.card-header -->
      <!-- .card-body -->
      <div class="card-body text-center">
        <input data-toggle="knob" data-angleoffset=90 data-linecap=round value="35">
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->

  <!-- grid column -->
  <div class="col-md-4 col-sm-6">
    <!-- .card -->
    <div class="card card-fluid">
      <!-- .card-header -->
      <div class="card-header">offset and arc</div>
      <!-- /.card-header -->
      <!-- .card-body -->
      <div class="card-body text-center">
        <input data-toggle="knob" data-angleoffset=-125 data-anglearc=250 data-fgcolor="#B76BA3" data-rotation="anticlockwise" value="35">
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->

  <!-- grid column -->
  <div class="col-md-4 col-sm-6">
    <!-- .card -->
    <div class="card card-fluid">
      <!-- .card-header -->
      <div class="card-header">4-digit, step 0.1</div>
      <!-- /.card-header -->
      <!-- .card-body -->
      <div class="card-body text-center">
        <input data-toggle="knob" data-min="-10000" data-displayprevious="true" data-max="10000" data-step=".1" value="0">
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->

  <!-- grid column -->
  <div class="col-md-4 col-sm-6">
    <!-- .card -->
    <div class="card card-fluid">
      <!-- .card-header -->
      <div class="card-header">Overloaded 'draw' method #1</div>
      <!-- /.card-header -->
      <!-- .card-body -->
      <div class="card-body text-center">
        <input data-toggle="knob" data-width="100%" data-displayprevious="true" data-skin="tron" data-cursor="true" value="75" data-thickness=".2">
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->

  <!-- grid column -->
  <div class="col-md-4 col-sm-6">
    <!-- .card -->
    <div class="card card-fluid">
      <!-- .card-header -->
      <div class="card-header">Overloaded 'draw' method #2</div>
      <!-- /.card-header -->
      <!-- .card-body -->
      <div class="card-body text-center">
        <input data-toggle="knob" data-width="100%" data-displayprevious="true" data-fgcolor="#5F4B8B" data-skin="tron" data-thickness=".2" value="75">
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->

  <!-- grid column -->
  <div class="col-md-4 col-sm-6">
    <!-- .card -->
    <div class="card card-fluid">
      <!-- .card-header -->
      <div class="card-header">Overloaded 'draw' method #3</div>
      <!-- /.card-header -->
      <!-- .card-body -->
      <div class="card-body text-center">
        <input data-toggle="knob" data-width="100%" data-angleoffset="180" data-fgcolor="#F7C46C" data-skin="tron" data-thickness=".1" value="35">
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->

  <!-- grid column -->
  <div class="col-md-4 col-sm-6">
    <!-- .card -->
    <div class="card card-fluid">
      <!-- .card-header -->
      <div class="card-header">Responsive</div>
      <!-- /.card-header -->
      <!-- .card-body -->
      <div class="card-body text-center">
        <input data-toggle="knob" data-width="100%" value="35">
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->

  <!-- grid column -->
  <div class="col-md-4 col-sm-6">
    <!-- .card -->
    <div class="card card-fluid">
      <!-- .card-header -->
      <div class="card-header">Readonly</div>
      <!-- /.card-header -->
      <!-- .card-body -->
      <div class="card-body text-center">
        <input data-toggle="knob" data-fgcolor="#EA6759" data-thickness=".4" value="22" readonly>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->

  <!-- grid column -->
  <div class="col-md-4 col-sm-6">
    <!-- .card -->
    <div class="card card-fluid">
      <!-- .card-header -->
      <div class="card-header">Dynamic</div>
      <!-- /.card-header -->
      <!-- .card-body -->
      <div class="card-body text-center">
        <input type="text" class="knob-dyn" data-width="200" data-cursor="true" data-fgcolor="#00A28A" data-bgcolor="transparent" value="56">
      </div>
      <!-- /.card-body -->
      <!-- .card-footer -->
      <div class="card-footer">
        <a href="#" class="card-footer-item" onclick="$('.knob-dyn').knob();">Knobify!</a>
      </div>
      <!-- /.card-footer -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->
</div>
<!-- /grid row -->
