<!-- .section-block -->
<div class="section-block">
  <h3 class="section-title">Single-line list</h3>
</div>
<!-- /.section-block -->

<!-- .section-block -->
<div class="section-block">
  <!-- grid row -->
  <div class="row">
    <!-- grid column -->
    <div class="col-lg-6">
      <!-- .list-group -->
      <div class="list-group list-group-bordered mb-3">
        <a href="#" class="list-group-item list-group-item-action">
          <div class="list-group-item-figure">
            <div class="tile bg-success"><span class="oi oi-chat"></span></div>
          </div>
          <div class="list-group-item-body">Dapibus ac facilisis in</div>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="list-group-item-figure">
            <div class="tile bg-danger"><span class="oi oi-data-transfer-upload"></span></div>
          </div>
          <div class="list-group-item-body">Morbi leo risus</div>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="list-group-item-figure">
            <div class="tile bg-warning"><span class="oi oi-tags"></span></div>
          </div>
          <div class="list-group-item-body">Porta ac consectetur ac</div>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="list-group-item-figure">
            <div class="tile bg-info"><span class="oi oi-cart"></span></div>
          </div>
          <div class="list-group-item-body">Vestibulum at eros</div>
        </a>
      </div>
      <!-- /.list-group -->
    </div>
    <!-- /grid column -->

    <!-- grid column -->
    <div class="col-lg-6">
      <!-- .list-group -->
      <div class="list-group list-group-bordered mb-3">
        <div class="list-group-item">
          <div class="list-group-item-figure">
            <a href="#" class="tile tile-circle bg-success">
              <i class="oi oi-chat"></i>
            </a>
          </div>
          <div class="list-group-item-body">Dapibus ac facilisis in</div>
          <div class="list-group-item-figure">
            <button class="btn btn-sm btn-icon btn-light"><i class="fa fa-info-circle"></i></button>
          </div>
        </div>
        <div class="list-group-item">
          <div class="list-group-item-figure">
            <a href="#" class="tile tile-circle bg-danger">
              <i class="oi oi-data-transfer-upload"></i>
            </a>
          </div>
          <div class="list-group-item-body">Morbi leo risus</div>
          <div class="list-group-item-figure">
            <button class="btn btn-sm btn-icon btn-light"><i class="fa fa-info-circle"></i></button>
          </div>
        </div>
        <div class="list-group-item">
          <div class="list-group-item-figure">
            <a href="#" class="tile tile-circle bg-warning">
              <i class="oi oi-tags"></i>
            </a>
          </div>
          <div class="list-group-item-body">Porta ac consectetur ac</div>
          <div class="list-group-item-figure">
            <button class="btn btn-sm btn-icon btn-light"><i class="fa fa-info-circle"></i></button>
          </div>
        </div>
        <div class="list-group-item">
          <div class="list-group-item-figure">
            <a href="#" class="tile tile-circle bg-info">
              <i class="oi oi-cart"></i>
            </a>
          </div>
          <div class="list-group-item-body">Vestibulum at eros</div>
          <div class="list-group-item-figure">
            <button class="btn btn-sm btn-icon btn-light"><i class="fa fa-info-circle"></i></button>
          </div>
        </div>
      </div>
      <!-- /.list-group -->
    </div>
    <!-- /grid column -->

    <!-- grid column -->
    <div class="col-lg-6">
      <!-- .list-group -->
      <div class="list-group list-group-bordered mb-3">
        <a href="#" class="list-group-item list-group-item-action">
          <div class="list-group-item-figure">
            <div class="tile tile-circle bg-primary">BA</div>
          </div>
          <div class="list-group-item-body">Beni Arisandi</div>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="list-group-item-figure">
            <div class="tile tile-circle bg-yellow">DP</div>
          </div>
          <div class="list-group-item-body">Diane Peters</div>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="list-group-item-figure">
            <div class="tile tile-circle bg-purple">JG</div>
          </div>
          <div class="list-group-item-body">Jennifer Gray</div>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="list-group-item-figure">
            <div class="tile tile-circle bg-red">ZF</div>
          </div>
          <div class="list-group-item-body">Zachary Fowler</div>
        </a>
      </div>
      <!-- /.list-group -->
    </div>
    <!-- /grid column -->

    <!-- grid column -->
    <div class="col-lg-6">
      <!-- .list-group -->
      <div class="list-group list-group-bordered mb-3">
        <a href="#" class="list-group-item list-group-item-action">
          <div class="list-group-item-figure">
            <div class="user-avatar">
              <img src="assets/images/avatars/profile.jpg" alt="">
            </div>
          </div>
          <div class="list-group-item-body">Beni Arisandi</div>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="list-group-item-figure">
            <div class="tile tile-circle bg-muted"><i class="oi oi-person"></i></div>
          </div>
          <div class="list-group-item-body">Diane Peters</div>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="list-group-item-figure">
            <div class="user-avatar">
              <img src="assets/images/avatars/uifaces11.jpg" alt="">
            </div>
          </div>
          <div class="list-group-item-body">Jennifer Gray</div>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="list-group-item-figure">
            <div class="user-avatar">
              <img src="assets/images/avatars/uifaces12.jpg" alt="">
            </div>
          </div>
          <div class="list-group-item-body">Zachary Fowler</div>
        </a>
      </div>
      <!-- /.list-group -->
    </div>
    <!-- /grid column -->
  </div>
  <!-- /grid row -->
</div>
<!-- /.section-block -->
