<!-- .card -->
<div id="checkboxes" class="card">
  <!-- .card-body -->
  <div class="card-body">
    <!-- .form -->
    <form>
      <!-- .fieldset -->
      <fieldset>
        <legend>Checkboxes</legend>

        <!-- .form-group -->
        <div class="form-group">
          <label class="d-block">Inline checkbox</label>
          <div class="custom-control custom-control-inline custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="ckb1">
            <label class="custom-control-label" for="ckb1">Basic checkbox</label>
          </div>
          <div class="custom-control custom-control-inline custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="ckb2" data-indeterminate="true">
            <label class="custom-control-label" for="ckb2">Indeterminate</label>
          </div>
          <div class="custom-control custom-control-inline custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="ckb3" checked>
            <label class="custom-control-label" for="ckb3">Checked</label>
          </div>
        </div>
        <!-- /.form-group -->

        <!-- .form-group -->
        <div class="form-group">
          <label class="d-block">Hidden label</label>
          <div class="custom-control-stacked">
            <div class="custom-control custom-control-inline custom-control-nolabel custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="ckb4">
              <label class="custom-control-label" for="ckb4">Basic checkbox</label>
            </div>
            <div class="custom-control custom-control-inline custom-control-nolabel custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="ckb5" data-indeterminate="true">
              <label class="custom-control-label" for="ckb5">Indeterminate</label>
            </div>
            <div class="custom-control custom-control-inline custom-control-nolabel custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="ckb6" checked>
              <label class="custom-control-label" for="ckb6">Checked</label>
            </div>
          </div>
        </div>
        <!-- /.form-group -->

        <!-- .form-group -->
        <div class="form-group">
          <label>Available for block?</label>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="ckb7">
            <label class="custom-control-label" for="ckb7">Yes, this is a block checkbox</label>
          </div>
        </div>
        <!-- /.form-group -->

        <!-- .form-group -->
        <div class="form-group">
          <label>Helper content</label>
          <div class="custom-control custom-checkbox mb-1">
            <input type="checkbox" class="custom-control-input" id="ckb8">
            <label class="custom-control-label" for="ckb8">Shipping address is the same as my billing address</label>
            <div class="text-muted">Reduces the number of fields required to check out. The billing address can still be edited.</div>
          </div>
          <div class="custom-control custom-checkbox mb-1">
            <input type="checkbox" class="custom-control-input" id="ckb9">
            <label class="custom-control-label" for="ckb9">Save this information for next time</label>
            <div class="text-muted">This is a help text to guide users to explain the choice you will be making.</div>
          </div>
        </div>
        <!-- /.form-group -->

        <!-- .form-group -->
        <div class="form-group">
          <label>States</label>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="ckb10" disabled>
            <label class="custom-control-label" for="ckb10">Option is disabled</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input is-valid" id="ckb11">
            <label class="custom-control-label" for="ckb11">Maximal project</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input is-invalid" id="ckb12">
            <label class="custom-control-label" for="ckb12">Autosave</label>
            <div class="invalid-feedback"><i class="fa fa-exclamation-circle fa-fw"></i> Can't update your setting, please try again.</div>
          </div>
        </div>
        <!-- /.form-group -->
      </fieldset>
      <!-- /.fieldset -->
    </form>
    <!-- /.form -->
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
