<!-- .card -->
<div id="floating-label" class="card">
  <!-- .card-body -->
  <div class="card-body">
    <!-- .form -->
    <form>
      <!-- .fieldset -->
      <fieldset>
        <legend>Floating label</legend>

        <!-- .form-group -->
        <div class="form-group">
          <div class="form-label-group">
            <input type="email" class="form-control" id="fl1" value="johndoe@looper.com" placeholder="Email address" required>
            <label for="fl1">Email address</label>
          </div>
        </div>
        <!-- /.form-group -->

        <!-- .form-group -->
        <div class="form-group">
          <div class="form-label-group">
            <select class="custom-select" id="fls1" required>
              <option value="">Choose...</option>
              <option>United States</option>
            </select>
            <label for="fls1">Country</label>
          </div>
        </div>
        <!-- /.form-group -->

        <!-- .form-group -->
        <div class="form-group">
          <div class="form-label-group">
            <input type="password" class="form-control" id="fl2" placeholder="Password" required>
            <label for="fl2">Password</label>
          </div>
        </div>
        <!-- /.form-group -->
      </fieldset>
      <!-- /.fieldset -->
    </form>
    <!-- /.form -->
  </div>
  <!-- /.card-body -->

  <!-- .card-body -->
  <div class="card-body border-top">
    <!-- .form -->
    <form>
      <!-- .fieldset -->
      <fieldset>
        <legend>States</legend>

        <!-- .form-group -->
        <div class="form-group">
          <div class="form-label-group">
            <input type="email" class="form-control" id="fl3" placeholder="Email address" disabled>
            <label for="fl3">Email address</label>
          </div>
        </div>
        <!-- /.form-group -->

        <!-- .form-group -->
        <div class="form-group">
          <div class="form-label-group">
            <input type="email" class="form-control" id="fl4" value="readonly@looper.com" placeholder="Email address" readonly>
            <label for="fl4">Email address</label>
          </div>
        </div>
        <!-- /.form-group -->

        <!-- .form-group -->
        <div class="form-group">
          <div class="form-label-group has-spinner">
            <span class="spinner-border spinner-border-sm text-primary show"></span>
            <input type="email" class="form-control" id="fl5" value="hasloading@looper.com" placeholder="Email address">
            <label for="fl5">Email address</label>
          </div>
        </div>
        <!-- /.form-group -->

        <!-- .form-group -->
        <div class="form-group">
          <div class="form-label-group">
            <input type="email" class="form-control is-valid" id="fl6" value="johndoe@looper.com" placeholder="Email address">
            <label for="fl6">Email address</label>
          </div>
        </div>
        <!-- /.form-group -->

        <!-- .form-group -->
        <div class="form-group">
          <div class="form-label-group">
            <input type="password" class="form-control is-invalid" id="fl7" value="secrettt" placeholder="Password">
            <label for="fl7">Password</label>
            <div class="invalid-feedback"><i class="fa fa-exclamation-circle fa-fw"></i> Sorry, that password isn't right.</div>
          </div>
        </div>
        <!-- /.form-group -->
      </fieldset>
      <!-- /.fieldset -->
    </form>
    <!-- /.form -->
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
