<!-- .card -->
<div id="input-group" class="card">
  <!-- .card-body -->
  <div class="card-body">
    <!-- .form -->
    <form>
      <!-- .fieldset -->
      <fieldset>
        <legend>Prepended inputs</legend>

        <!-- .form-group -->
        <div class="form-group">
          <label for="pi1">Prepended icon</label>
          <!-- .input-group -->
          <div class="input-group">
            <label class="input-group-prepend" for="pi1">
              <span class="input-group-text">
                <span class="far fa-building"></span>
              </span>
            </label>
            <input type="text" class="form-control" id="pi1" placeholder="e.g developer-team">
          </div>
          <!-- /.input-group -->
        </div>
        <!-- /.form-group -->

        <!-- .form-group -->
        <div class="form-group">
          <label for="pi2">Prepended icon w/ clearable</label>
          <!-- .input-group -->
          <div class="input-group has-clearable">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
            </button>
            <label class="input-group-prepend" for="pi2">
              <span class="input-group-text">
                <span class="oi oi-magnifying-glass"></span>
              </span>
            </label>
            <input type="text" class="form-control" id="pi2" placeholder="Type something..." value="Moonlight">
          </div>
          <!-- /.input-group -->
        </div>
        <!-- /.form-group -->
      </fieldset>
      <!-- /.fieldset -->
    </form>
    <!-- /.form -->
  </div>
  <!-- /.card-body -->

  <!-- .card-body -->
  <div class="card-body border-top">
    <!-- .form -->
    <form>
      <!-- .fieldset -->
      <fieldset>
        <!-- .form-group -->
        <div class="form-group">
          <label for="pi3">Prepended text</label>
          <!-- .input-group -->
          <div class="input-group input-group-alt">
            <div class="input-group-prepend">
              <span class="input-group-text">http://</span>
            </div>
            <input type="text" class="form-control" id="pi3" placeholder="uselooper.com">
          </div>
          <!-- /.input-group -->
        </div>
        <!-- /.form-group -->

        <!-- .form-group -->
        <div class="form-group">
          <label for="pi4">Prepended label</label>
          <!-- .input-group -->
          <div class="input-group input-group-alt">
            <label class="input-group-prepend" for="pi4">
              <span class="input-group-text">Email address:</span>
            </label>
            <input type="email" class="form-control" id="pi4" placeholder="johndoe@looper.com">
          </div>
          <!-- /.input-group -->
        </div>
        <!-- /.form-group -->
      </fieldset>
      <!-- /.fieldset -->
    </form>
    <!-- /.form -->
  </div>
  <!-- /.card-body -->

  <!-- .card-body -->
  <div class="card-body border-top">
    <!-- .form -->
    <form>
      <!-- .fieldset -->
      <fieldset>
        <!-- .form-group -->
        <div class="form-group">
          <label for="pi5">Prepended select</label>
          <!-- .input-group -->
          <div class="input-group input-group-alt">
            <div class="input-group-prepend">
              <select class="custom-select">
                <option value="">Country</option>
                <option value="1" selected>United States (+1)</option>
              </select>
            </div>
            <input type="text" class="form-control" id="pi5" placeholder="(201) 555-0123">
          </div>
          <!-- /.input-group -->
        </div>
        <!-- /.form-group -->

        <!-- .form-group -->
        <div class="form-group">
          <label for="pi6">Prepended select & icon</label>
          <!-- .input-group -->
          <div class="input-group input-group-alt">
            <!-- .input-group-prepend -->
            <div class="input-group-prepend">
              <select class="custom-select">
                <option value="">Filter By</option>
                <option value="1">Tags</option>
                <option value="2">Vendor</option>
                <option value="3">Variants</option>
                <option value="4">Prices</option>
                <option value="5">Sales</option>
              </select>
            </div>
            <!-- /.input-group-prepend -->
            <!-- .input-group -->
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <span class="oi oi-magnifying-glass"></span>
                </span>
              </div>
              <input type="text" class="form-control" id="pi6" placeholder="Search record">
            </div>
            <!-- /.input-group -->
          </div>
          <!-- /.input-group -->
        </div>
        <!-- /.form-group -->
      </fieldset>
      <!-- /.fieldset -->
    </form>
    <!-- /.form -->
  </div>
  <!-- /.card-body -->

  <!-- .card-body -->
  <div class="card-body border-top">
    <!-- .form -->
    <form>
      <!-- .fieldset -->
      <fieldset>
        <!-- .form-group -->
        <div class="form-group">
          <label for="pi7">Prepended button</label>
          <!-- .input-group -->
          <div class="input-group input-group-alt">
            <div class="input-group-prepend">
              <button class="btn btn-secondary" type="button">Look Up</button>
            </div>
            <input type="text" class="form-control" id="pi7">
          </div>
          <!-- /.input-group -->
        </div>
        <!-- /.form-group -->

        <!-- .form-group -->
        <div class="form-group">
          <label for="pi8">Prepended button & icon</label>
          <!-- .input-group -->
          <div class="input-group input-group-alt">
            <div class="input-group-prepend dropdown">
              <button class="btn btn-secondary" type="button" data-toggle="dropdown">Filter by <span class="caret"></span></button>
              <div class="dropdown-arrow"></div>
              <div class="dropdown-menu">
                <a href="#" class="dropdown-item">Price</a>
                <a href="#" class="dropdown-item">Trending</a>
                <a href="#" class="dropdown-item">Orders</a>
                <a href="#" class="dropdown-item">Likes</a>
              </div>
            </div>
            <!-- .input-group -->
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <span class="oi oi-magnifying-glass"></span>
                </span>
              </div>
              <input type="text" class="form-control" id="pi8" placeholder="Search">
            </div>
            <!-- /.input-group -->
          </div>
          <!-- /.input-group -->
        </div>
        <!-- /.form-group -->
      </fieldset>
      <!-- /.fieldset -->
    </form>
    <!-- /.form -->
  </div>
  <!-- /.card-body -->

  <!-- .card-body -->
  <div class="card-body border-top">
    <!-- .form -->
    <form>
      <!-- .fieldset -->
      <fieldset>
        <!-- .form-group -->
        <div class="form-group">
          <label for="pi9">Prepended badge</label>
          <!-- .input-group -->
          <div class="input-group">
            <label class="input-group-prepend" for="pi9">
              <span class="badge">$</span>
            </label>
            <input type="text" class="form-control" id="pi9">
          </div>
          <!-- /.input-group -->
        </div>
        <!-- /.form-group -->

        <!-- .form-group -->
        <div class="form-group">
          <label for="pi10">Prepended multiple badge</label>
          <!-- .input-group -->
          <div class="input-group">
            <label class="input-group-prepend" for="pi10">
              <span class="badge">apple <a href="#" data-dismiss="badge">&times;</a></span>
              <span class="badge">banana <a href="#">&times;</a></span>
            </label>
            <input type="text" class="form-control" id="pi10">
          </div>
          <!-- /.input-group -->
        </div>
        <!-- /.form-group -->
      </fieldset>
      <!-- /.fieldset -->
    </form>
    <!-- /.form -->
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
