<!-- .card -->
<div class="card">
  <!-- .card-body -->
  <div class="card-body">
    <!-- .form -->
    <form>
      <!-- .fieldset -->
      <fieldset>
        <legend>Both inputs</legend>

        <!-- .form-group -->
        <div class="form-group">
          <!-- .input-group -->
          <div class="input-group">
            <label class="input-group-prepend" for="bi1">
              <span class="input-group-text">http://</span>
            </label>
            <input type="text" class="form-control" id="bi1" placeholder="e.g. uselooper">
            <div class="input-group-append">
              <span class="input-group-text">@domain.com</span>
            </div>
          </div>
          <!-- /.input-group -->
        </div>
        <!-- /.form-group -->

        <!-- .form-group -->
        <div class="form-group">
          <!-- .input-group -->
          <div class="input-group input-group-alt">
            <label class="input-group-prepend" for="bi2">
              <span class="input-group-text">http://</span>
            </label>
            <input type="text" class="form-control" id="bi2" placeholder="e.g. uselooper">
            <div class="input-group-append">
              <span class="input-group-text">@domain.com</span>
            </div>
          </div>
          <!-- /.input-group -->
        </div>
        <!-- /.form-group -->

        <!-- .form-group -->
        <div class="form-group">
          <!-- .input-group -->
          <div class="input-group">
            <label class="input-group-prepend" for="bi3">
              <span class="badge">$</span>
            </label>
            <input type="number" class="form-control" id="bi3" placeholder="Amount (to the nearest dollar)">
            <label class="input-group-append">
              <span class="badge">.00</span>
            </label>
          </div>
          <!-- /.input-group -->
        </div>
        <!-- /.form-group -->
      </fieldset>
      <!-- /.fieldset -->
    </form>
    <!-- /.form -->
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
