<!-- .section-block -->
<div class="section-block">
  <h3 id="publisher" class="section-title">Publisher</h3>
  <p class="text-muted">Advanced longform text input form element.</p>
</div>
<!-- /.section-block -->

<!-- .section-block -->
<div class="section-block">
  <!-- .card -->
  <div class="card">
    <!-- .card-body -->
    <div class="card-body">
      {% include ui/publisher-01.html %}
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

  <!-- .card -->
  <div class="card">
    <!-- .card-body -->
    <div class="card-body">
      {% include ui/publisher-02.html %}
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

  <!-- .card -->
  <div class="card">
    <!-- .card-body -->
    <div class="card-body">
      {% include ui/publisher-03.html %}
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

  <!-- .card -->
  <div class="card">
    <!-- .card-body -->
    <div class="card-body">
      {% include ui/publisher-04.html %}
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

  <!-- .card -->
  <div class="card">
    <!-- .card-body -->
    <div class="card-body">
      {% include ui/publisher-05.html %}
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.section-block -->
