<!-- .card -->
<div id="rating" class="card">
  <!-- .card-body -->
  <div class="card-body">
    <h3 class="card-title">Rating</h3>
    <h6 class="card-subtitle text-muted">Support all icons and colors provided by Looper</h6>
  </div>
  <!-- /.card-body -->

  <!-- .list-group -->
  <div class="list-group list-group-flush list-group-bordered">
    <!-- .list-group-item -->
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span>Default rating</span>
      <!-- .rating -->
      <span class="rating">
        <input type="radio" name="rating1" id="ratingd5" value="5">
        <label for="ratingd5"><span class="fa fa-star"></span></label>

        <input type="radio" name="rating1" id="ratingd4" value="4">
        <label for="ratingd4"><span class="fa fa-star"></span></label>

        <input type="radio" name="rating1" id="ratingd3" value="3" checked>
        <label for="ratingd3"><span class="fa fa-star"></span></label>

        <input type="radio" name="rating1" id="ratingd2" value="2">
        <label for="ratingd2"><span class="fa fa-star"></span></label>

        <input type="radio" name="rating1" id="ratingd1" value="1">
        <label for="ratingd1"><span class="fa fa-star"></span></label>
      </span>
      <!-- /.rating -->
    </div>
    <!-- /.list-group-item -->

    <!-- .list-group-item -->
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span>Readonly</span>
      <!-- .rating -->
      <span class="rating has-readonly">
        <input type="radio" name="rating2" id="ratingr5" value="5" disabled>
        <label for="ratingr5"><span class="fa fa-star"></span></label>

        <input type="radio" name="rating2" id="ratingr4" value="4" disabled checked>
        <label for="ratingr4"><span class="fa fa-star"></span></label>

        <input type="radio" name="rating2" id="ratingr3" value="3" disabled>
        <label for="ratingr3"><span class="fa fa-star"></span></label>

        <input type="radio" name="rating2" id="ratingr2" value="2" disabled>
        <label for="ratingr2"><span class="fa fa-star"></span></label>

        <input type="radio" name="rating2" id="ratingr1" value="1" disabled>
        <label for="ratingr1"><span class="fa fa-star"></span></label>
      </span>
      <!-- /.rating -->
    </div>
    <!-- /.list-group-item -->

    <!-- .list-group-item -->
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span>Use heart icon</span>
      <!-- .rating -->
      <span class="rating rating-red">
        <input type="radio" name="rating3" id="ratingh3" value="3">
        <label for="ratingh3"><span class="fa fa-heart"></span></label>

        <input type="radio" name="rating3" id="ratingh2" value="2" checked>
        <label for="ratingh2"><span class="fa fa-heart"></span></label>

        <input type="radio" name="rating3" id="ratingh1" value="1">
        <label for="ratingh1"><span class="fa fa-heart"></span></label>
      </span>
      <!-- /.rating -->
    </div>
    <!-- /.list-group-item -->

    <!-- .list-group-item -->
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span>Another icon</span>
      <!-- .rating -->
      <span class="rating rating-teal">
        <input type="radio" name="rating4" id="ratingt3" value="3">
        <label for="ratingt3"><span class="fa fa-trophy"></span></label>

        <input type="radio" name="rating4" id="ratingt2" value="2" checked>
        <label for="ratingt2"><span class="fa fa-trophy"></span></label>

        <input type="radio" name="rating4" id="ratingt1" value="1">
        <label for="ratingt1"><span class="fa fa-trophy"></span></label>
      </span>
      <!-- /.rating -->
    </div>
    <!-- /.list-group-item -->

    <!-- .list-group-item -->
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span>Toggleable single element</span>
      <!-- .rating -->
      <span class="rating rating-indigo">
        <input type="checkbox" name="rating5" id="ratings1" value="1" checked>
        <label for="ratings1"><span class="fa fa-bookmark"></span></label>
      </span>
      <!-- /.rating -->
    </div>
    <!-- /.list-group-item -->

    <!-- .list-group-header -->
    <div class="list-group-header">Sizes</div>
    <!-- /.list-group-header -->

    <!-- .list-group-item -->
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span>Small</span>
      <!-- .rating -->
      <span class="rating rating-sm">
        <input type="radio" name="rating6" id="ratingSm5" value="5">
        <label for="ratingSm5"><span class="fa fa-star"></span></label>

        <input type="radio" name="rating6" id="ratingSm4" value="4">
        <label for="ratingSm4"><span class="fa fa-star"></span></label>

        <input type="radio" name="rating6" id="ratingSm3" value="3" checked>
        <label for="ratingSm3"><span class="fa fa-star"></span></label>

        <input type="radio" name="rating6" id="ratingSm2" value="2">
        <label for="ratingSm2"><span class="fa fa-star"></span></label>

        <input type="radio" name="rating6" id="ratingSm1" value="1">
        <label for="ratingSm1"><span class="fa fa-star"></span></label>
      </span>
      <!-- /.rating -->
    </div>
    <!-- /.list-group-item -->

    <!-- .list-group-item -->
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span>Large</span>
      <!-- .rating -->
      <span class="rating rating-lg">
        <input type="radio" name="rating7" id="ratingLg5" value="5">
        <label for="ratingLg5"><span class="fa fa-star"></span></label>

        <input type="radio" name="rating7" id="ratingLg4" value="4">
        <label for="ratingLg4"><span class="fa fa-star"></span></label>

        <input type="radio" name="rating7" id="ratingLg3" value="3" checked>
        <label for="ratingLg3"><span class="fa fa-star"></span></label>

        <input type="radio" name="rating7" id="ratingLg2" value="2">
        <label for="ratingLg2"><span class="fa fa-star"></span></label>

        <input type="radio" name="rating7" id="ratingLg1" value="1">
        <label for="ratingLg1"><span class="fa fa-star"></span></label>
      </span>
      <!-- /.rating -->
    </div>
    <!-- /.list-group-item -->
  </div>
  <!-- /.list-group -->
</div>
<!-- /.card -->
