<!-- .section-block -->
<div class="section-block">
  <h3 class="section-title">Simplemde</h3>
  <p class="text-muted">A simple, beautiful, and embeddable JavaScript Markdown editor.</p>
</div>
<!-- /.section-block -->

<!-- .card -->
<div class="card card-fluid">
  <!-- .card-header -->
  <div class="card-header">Autosaving: true</div>
  <!-- /.card-header -->
  <!-- #simplemde -->
  <textarea data-toggle="simplemde"
    data-spellChecker="false"
    data-autosave='{
      "enabled": true,
      "unique_id": "SimpleMDEDemo"
    }'></textarea>
  <!-- /#simplemde -->
</div>
<!-- /.card -->
