<!-- .section-block -->
<div class="section-block">
  <h3 class="section-title">Summernote</h3>
  <p class="text-muted">Super simple WYSIWYG editor that helps you create WYSIWYG editors online.</p>
</div>
<!-- /.section-block -->

<!-- .card -->
<div class="card card-fluid">
  <!-- #summernote-basic -->
  <div data-toggle="summernote"
    data-placeholder="Write here..."
    data-height="200"></div>
  <!-- /#summernote-basic -->
</div>
<!-- /.card -->

<!-- .card -->
<div class="card card-fluid">
  <div class="card-body">
    <!-- #summernote-airmode -->
    <div data-toggle="summernote" data-air-mode="true">
      <p>This is an Air-mode editable area.</p>
      <ul>
        <li>Select a text to reveal the toolbar.</li>
        <li>Edit rich document on-the-fly, so elastic!</li>
      </ul>
      <p>End of air-mode area</p>
    </div>
    <!-- /#summernote-airmode -->
  </div>
</div>
<!-- /.card -->

<!-- .card -->
<div class="card card-fluid">
  <!-- #summernote-click2edit -->
  <div id="summernote-click2edit" class="card-body">
    <h5>Hi,</h5>
    <blockquote>We are summernote.</blockquote>
    <p>Click edit button to change me.</p>
    <p class="lead">Super simple WYSIWYG editor on bootstrap.</p>
  </div>
  <!-- /#summernote-click2edit -->
  <!-- .card-body -->
  <div class="card-body rounded-bottom border-top">
    <button id="summernote-edit" class="btn btn-primary">Edit</button>
    <button id="summernote-save" class="btn btn-primary d-none">Save Change</button>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
