<!-- .card -->
<div id="switcher" class="card">
  <!-- .card-body -->
  <div class="card-body">
    <h3 class="card-title">Switcher</h3>
  </div>
  <!-- /.card-body -->

  <!-- .list-group -->
  <div class="list-group list-group-flush list-group-bordered">
    <!-- .list-group-item -->
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span>Default</span>
      <!-- .switcher-control -->
      <label class="switcher-control">
        <input type="checkbox" class="switcher-input" checked>
        <span class="switcher-indicator"></span>
      </label>
      <!-- /.switcher-control -->
    </div>
    <!-- /.list-group-item -->

    <!-- .list-group-item -->
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span>Disabled</span>
      <!-- .switcher-control -->
      <label class="switcher-control">
        <input type="checkbox" class="switcher-input" checked disabled>
        <span class="switcher-indicator"></span>
      </label>
      <!-- /.switcher-control -->
    </div>
    <!-- /.list-group-item -->

    <!-- .list-group-item -->
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span>Success</span>
      <!-- .switcher-control -->
      <label class="switcher-control switcher-control-success">
        <input type="checkbox" class="switcher-input" checked>
        <span class="switcher-indicator"></span>
      </label>
      <!-- /.switcher-control -->
    </div>
    <!-- /.list-group-item -->

    <!-- .list-group-item -->
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span>Danger</span>
      <!-- .switcher-control -->
      <label class="switcher-control switcher-control-danger">
        <input type="checkbox" class="switcher-input" checked>
        <span class="switcher-indicator"></span>
      </label>
      <!-- /.switcher-control -->
    </div>
    <!-- /.list-group-item -->

    <!-- .list-group-header -->
    <div class="list-group-header">Switcher radio</div>
    <!-- /.list-group-header -->

    <!-- .list-group-item -->
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span>Toggle radio #1</span>
      <!-- .switcher-control -->
      <label class="switcher-control">
        <input type="radio" name="switchRadio" class="switcher-input">
        <span class="switcher-indicator"></span>
      </label>
      <!-- /.switcher-control -->
    </div>
    <!-- /.list-group-item -->

    <!-- .list-group-item -->
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span>Toggle radio #2</span>
      <!-- .switcher-control -->
      <label class="switcher-control">
        <input type="radio" name="switchRadio" class="switcher-input" checked>
        <span class="switcher-indicator"></span>
      </label>
      <!-- /.switcher-control -->
    </div>
    <!-- /.list-group-item -->

    <!-- .list-group-header -->
    <div class="list-group-header">Sizing & labels</div>
    <!-- /.list-group-header -->

    <!-- .list-group-item -->
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span>Large size</span>
      <!-- .switcher-control -->
      <label class="switcher-control switcher-control-lg">
        <input type="checkbox" class="switcher-input" checked>
        <span class="switcher-indicator"></span>
      </label>
      <!-- /.switcher-control -->
    </div>
    <!-- /.list-group-item -->
    <!-- .list-group-item -->
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span>Label icon</span>
      <!-- .switcher-control -->
      <label class="switcher-control">
        <input type="checkbox" class="switcher-input" checked>
        <span class="switcher-indicator"></span>
        <span class="switcher-label-on"><i class="fas fa-check"></i></span>
        <span class="switcher-label-off"><i class="fas fa-times"></i></span>
      </label>
      <!-- /.switcher-control -->
    </div>
    <!-- /.list-group-item -->
    <!-- .list-group-item -->
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span>Large + label</span>
      <div>
        <!-- .switcher-control -->
        <label class="switcher-control switcher-control-success switcher-control-lg">
          <input type="checkbox" class="switcher-input" checked>
          <span class="switcher-indicator"></span>
          <span class="switcher-label-on"><i class="fas fa-check"></i></span>
          <span class="switcher-label-off"><i class="fas fa-times"></i></span>
        </label>
        <!-- /.switcher-control -->
        <!-- .switcher-control -->
        <label class="switcher-control switcher-control-danger switcher-control-lg">
          <input type="checkbox" class="switcher-input" checked>
          <span class="switcher-indicator"></span>
          <span class="switcher-label-on"><i class="fas fa-lock"></i></span>
          <span class="switcher-label-off"><i class="fas fa-unlock"></i></span>
        </label>
        <!-- /.switcher-control -->
      </div>
    </div>
    <!-- /.list-group-item -->
    <!-- .list-group-item -->
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span>Label text</span>
      <!-- .switcher-control -->
      <label class="switcher-control switcher-control-lg">
        <input type="checkbox" class="switcher-input" checked>
        <span class="switcher-indicator"></span>
        <span class="switcher-label-on">ON</span>
        <span class="switcher-label-off">OFF</span>
      </label>
      <!-- /.switcher-control -->
    </div>
    <!-- /.list-group-item -->
  </div>
  <!-- /.list-group -->
</div>
<!-- /.card -->
