<!-- .card -->
<div class="card card-fluid">
  <!-- .card-body -->
  <div class="card-body">
    <h4 class="card-title">Text Mask</h4>
    <h6 class="card-subtitle mb-4">It can create input masks for phone, date, currency, zip code, percentage, email, and literally anything!</h6>

    <!-- form -->
    <form>
      <!-- .row -->
      <div class="row mb-3">
        <label for="maskUsphone" class="col-lg-3 text-lg-right">US Phone</label>
        <div class="col-lg-8 col-xl-6">
          <input type="text" id="maskUsphone" name="maskUsphone" class="form-control" autocomplete="off" data-mask="usphone" placeholder="(555) 495-3947">
        </div>
      </div>
      <!-- /.row -->

      <!-- .row -->
      <div class="row mb-3">
        <label for="maskUsphonecode" class="col-lg-3 text-lg-right">US Phone with code</label>
        <div class="col-lg-8 col-xl-6">
          <input type="text" id="maskUsphonecode" name="maskUsphonecode" class="form-control" autocomplete="off" data-mask="usphonecode" placeholder="+1 (555) 495-3947">
        </div>
      </div>
      <!-- /.row -->

      <!-- .row -->
      <div class="row mb-3">
        <label for="maskDate" class="col-lg-3 text-lg-right">Date</label>
        <div class="col-lg-8 col-xl-6">
          <input type="text" id="maskDate" name="maskDate" class="form-control" autocomplete="off" data-mask="date" placeholder="09/25/1970">
        </div>
      </div>
      <!-- /.row -->

      <!-- .row -->
      <div class="row mb-3">
        <label for="maskDateAuto" class="col-lg-3 text-lg-right">Date (auto corrected)</label>
        <div class="col-lg-8 col-xl-6">
          <input type="text" id="maskDateAuto" name="maskDateAuto" class="form-control" autocomplete="off" data-mask="date" data-auto-correct-date="mm/dd/yyyy" placeholder="Please enter a date">
        </div>
      </div>
      <!-- /.row -->

      <!-- .row -->
      <div class="row mb-3">
        <label for="maskCurrency" class="col-lg-3 text-lg-right">Currency</label>
        <div class="col-lg-8 col-xl-6">
          <input type="text" id="maskCurrency" name="maskCurrency" class="form-control text-right" autocomplete="off" data-mask="currency" placeholder="Enter an amount">
        </div>
      </div>
      <!-- /.row -->

      <!-- .row -->
      <div class="row mb-3">
        <label for="maskCurrencyDecimal" class="col-lg-3 text-lg-right">Currency (allow decimal)</label>
        <div class="col-lg-8 col-xl-6">
          <input type="text" id="maskCurrencyDecimal" name="maskCurrencyDecimal" class="form-control text-right" autocomplete="off" data-mask="currency" data-allow-decimal="true" data-decimal-limit="2" placeholder="Enter an amount">
        </div>
      </div>
      <!-- /.row -->

      <!-- .row -->
      <div class="row mb-3">
        <label for="maskPercentage" class="col-lg-3 text-lg-right">Percentage</label>
        <div class="col-lg-8 col-xl-6">
          <input type="text" id="maskPercentage" name="maskPercentage" class="form-control text-right" autocomplete="off" data-mask="percentage" data-integer-limit="3" data-allow-decimal="true" data-decimal-limit="2" placeholder="Enter an amount">
        </div>
      </div>
      <!-- /.row -->

      <!-- .row -->
      <div class="row mb-3">
        <label for="maskEmail" class="col-lg-3 text-lg-right">Email</label>
        <div class="col-lg-8 col-xl-6">
          <input type="text" id="maskEmail" name="maskEmail" class="form-control" autocomplete="off" data-mask="email" placeholder="john@smith.com">
        </div>
      </div>
      <!-- /.row -->

      <!-- .row -->
      <div class="row mb-3">
        <label for="maskUszip" class="col-lg-3 text-lg-right">US zip code</label>
        <div class="col-lg-8 col-xl-6">
          <input type="text" id="maskUszip" name="maskUszip" class="form-control" autocomplete="off" data-mask="uszip" placeholder="94303">
        </div>
      </div>
      <!-- /.row -->

      <!-- .row -->
      <div class="row mb-3">
        <label for="maskCazip" class="col-lg-3 text-lg-right">Canadian postal code</label>
        <div class="col-lg-8 col-xl-6">
          <input type="text" id="maskCazip" name="maskCazip" class="form-control" autocomplete="off" data-mask="cazip" placeholder="K1A 0B2">
        </div>
      </div>
      <!-- /.row -->

      <!-- .row -->
      <div class="row mb-3">
        <label for="maskCc" class="col-lg-3 text-lg-right">Credit card</label>
        <div class="col-lg-8 col-xl-6">
          <input type="text" id="maskCc" name="maskCc" class="form-control" autocomplete="off" data-mask="cc" placeholder="4242 4242 4242 4242">
        </div>
      </div>
      <!-- /.row -->
    </form>
    <!-- /form -->
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
