<!-- .card -->
<div class="card card-fluid">
  <!-- .card-body -->
  <div class="card-body">
    <h4 class="card-title">Typeahead</h4>
    <h6 class="card-subtitle mb-4">A fast and fully-featured autocomplete library.</h6>

    <!-- form -->
    <form>
      <!-- .form-group -->
      <div class="form-group">
        <label class="control-label" for="the-basics">The Basics</label>
        <input id="the-basics" type="text" class="form-control" placeholder="States of USA">
      </div>
      <!-- /.form-group -->

      <!-- .form-group -->
      <div class="form-group">
        <label class="control-label" for="bloodhound">Bloodhound <i tabindex="0" class="fa fa-info-circle text-gray" data-toggle="tooltip" data-container="body" title="Suggestion Engine"></i></label>
        <input id="bloodhound" type="text" class="form-control" placeholder="States of USA">
      </div>
      <!-- /.form-group -->

      <!-- .form-group -->
      <div class="form-group">
        <label class="control-label" for="prefetch">Prefetch</label>
        <input id="prefetch" type="text" class="form-control" placeholder="Countries">
      </div>
      <!-- /.form-group -->

      <!-- .form-group -->
      <div class="form-group">
        <label class="control-label" for="remote">Remote</label>
        <input id="remote" type="text" class="form-control" placeholder="Oscar winners for Best Picture">
      </div>
      <!-- /.form-group -->

      <!-- .form-group -->
      <div class="form-group">
        <label class="control-label" for="custom-templates">Custom Templates</label>
        <input id="custom-templates" type="text" class="form-control" placeholder="Oscar winners for Best Picture">
      </div>
      <!-- /.form-group -->

      <!-- .form-group -->
      <div class="form-group">
        <label class="control-label" for="default-suggestions">Default Suggestions</label>
        <input id="default-suggestions" type="text" class="form-control" placeholder="NFL Teams">
      </div>
      <!-- /.form-group -->

      <!-- .form-group -->
      <div class="form-group">
        <label class="control-label" for="multiple-datasets">Multiple Datasets</label>
        <input id="multiple-datasets" type="text" class="form-control" placeholder="NBA and NHL teams">
      </div>
      <!-- /.form-group -->

      <!-- .form-group -->
      <div class="form-group has-typeahead-scrollable">
        <label class="control-label" for="scrollable-dropdown-menu">Scrollable Dropdown Menu</label>
        <input id="scrollable-dropdown-menu" type="text" class="form-control" placeholder="Countries">
      </div>
      <!-- /.form-group -->

    </form>
    <!-- /form -->
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
