<!-- .section-block -->
<div class="section-block">
  <h3 id="visual-picker" class="section-title">Visual Picker</h3>
  <p class="text-muted">Radio buttons, checkboxes, or links that are visually enhanced.</p>
</div>
<!-- /.section-block -->

<!-- .section-block -->
<div class="section-block text-center text-sm-left">
  <!-- .visual-picker -->
  <div class="visual-picker has-peek">
    <!-- visual-picker input -->
    <input type="checkbox" id="vpc01">
    <!-- .visual-picker-figure -->
    <label class="visual-picker-figure" for="vpc01">
      <!-- .visual-picker-content -->
      <span class="visual-picker-content">
        <span class="tile tile-lg bg-info">
          <i class="fa fa-credit-card"></i>
        </span>
      </span>
      <!-- /.visual-picker-content -->
    </label>
    <!-- /.visual-picker-figure -->
    <!-- .visual-picker-peek -->
    <span class="visual-picker-peek">Credit Card</span>
  </div>
  <!-- /.visual-picker -->

  <!-- .visual-picker -->
  <div class="visual-picker has-peek">
    <!-- visual-picker input -->
    <input type="checkbox" id="vpc02" checked>
    <!-- .visual-picker-figure -->
    <label class="visual-picker-figure" for="vpc02">
      <!-- .visual-picker-content -->
      <span class="visual-picker-content">
        <span class="tile tile-lg bg-danger">
          <i class="fa fa-money-bill-alt"></i>
        </span>
      </span>
      <!-- /.visual-picker-content -->
    </label>
    <!-- /.visual-picker-figure -->
    <!-- .visual-picker-peek -->
    <span class="visual-picker-peek">My Wallet</span>
  </div>
  <!-- /.visual-picker -->

  <!-- .visual-picker -->
  <div class="visual-picker has-peek">
    <!-- visual-picker input -->
    <input type="checkbox" id="vpc03">
    <!-- .visual-picker-figure -->
    <label class="visual-picker-figure" for="vpc03">
      <!-- .visual-picker-content -->
      <span class="visual-picker-content">
        <span class="tile tile-lg bg-primary">
          <i class="fab fa-paypal"></i>
        </span>
      </span>
      <!-- /.visual-picker-content -->
    </label>
    <!-- /.visual-picker-figure -->
    <!-- .visual-picker-peek -->
    <span class="visual-picker-peek">Paypal</span>
  </div>
  <!-- /.visual-picker -->
</div>
<!-- /.section-block -->

<!-- .section-block -->
<div class="section-block">
  <h3 class="section-title">Fluid width</h3>

  <!-- .visual-picker -->
  <div class="visual-picker visual-picker-fluid" style="max-width: 392px;">
    <!-- visual-picker input -->
    <input type="checkbox" id="vpc04">
    <!-- .visual-picker-figure -->
    <label class="visual-picker-figure" for="vpc04">
      <!-- .visual-picker-content -->
      <span class="visual-picker-content">
        <span class="tile tile-lg bg-success">
          <i class="oi oi-people"></i>
        </span>
        <span class="d-block h5 mt-2">Teams</span>
      </span>
      <!-- /.visual-picker-content -->
    </label>
    <!-- /.visual-picker-figure -->
  </div>
  <!-- /.visual-picker -->
</div>
<!-- /.section-block -->

<!-- .section-block -->
<div class="section-block text-center text-sm-left">
  <h3 class="section-title">Visual radio with small size</h3>

  <!-- .visual-picker -->
  <div class="visual-picker visual-picker-sm has-peek px-3">
    <!-- visual-picker input -->
    <input type="radio" id="vpr01" name="vprSM">
    <!-- .visual-picker-figure -->
    <label class="visual-picker-figure" for="vpr01">
      <!-- .visual-picker-content -->
      <span class="visual-picker-content">
        <span class="tile tile-sm bg-info">
          <i class="oi oi-person"></i>
        </span>
      </span>
      <!-- /.visual-picker-content -->
    </label>
    <!-- /.visual-picker-figure -->
    <!-- .visual-picker-peek -->
    <span class="visual-picker-peek">Accounts</span>
  </div>
  <!-- /.visual-picker -->

  <!-- .visual-picker -->
  <div class="visual-picker visual-picker-sm has-peek px-3">
    <!-- visual-picker input -->
    <input type="radio" id="vpr02" name="vprSM" checked>
    <!-- .visual-picker-figure -->
    <label class="visual-picker-figure" for="vpr02">
      <!-- .visual-picker-content -->
      <span class="visual-picker-content">
        <span class="tile tile-sm bg-danger">
          <i class="fa fa-money-bill-alt"></i>
        </span>
      </span>
      <!-- /.visual-picker-content -->
    </label>
    <!-- /.visual-picker-figure -->
    <!-- .visual-picker-peek -->
    <span class="visual-picker-peek">My Wallet</span>
  </div>
  <!-- /.visual-picker -->

  <!-- .visual-picker -->
  <div class="visual-picker visual-picker-sm has-peek px-3">
    <!-- visual-picker input -->
    <input type="radio" id="vpr03" name="vprSM">
    <!-- .visual-picker-figure -->
    <label class="visual-picker-figure" for="vpr03">
      <!-- .visual-picker-content -->
      <span class="visual-picker-content">
        <span class="tile tile-sm bg-success">
          <i class="oi oi-people"></i>
        </span>
      </span>
      <!-- /.visual-picker-content -->
    </label>
    <!-- /.visual-picker-figure -->
    <!-- .visual-picker-peek -->
    <span class="visual-picker-peek">Teams</span>
  </div>
  <!-- /.visual-picker -->

  <!-- .visual-picker -->
  <div class="visual-picker visual-picker-sm has-peek px-3">
    <!-- visual-picker input -->
    <input type="radio" id="vpr04" name="vprSM">
    <!-- .visual-picker-figure -->
    <label class="visual-picker-figure" for="vpr04">
      <!-- .visual-picker-content -->
      <span class="visual-picker-content">
        <span class="tile tile-sm bg-warning">
          <i class="oi oi-question-mark"></i>
        </span>
      </span>
      <!-- /.visual-picker-content -->
    </label>
    <!-- /.visual-picker-figure -->
    <!-- .visual-picker-peek -->
    <span class="visual-picker-peek">Help Center</span>
  </div>
  <!-- /.visual-picker -->
</div>
<!-- /.section-block -->

<!-- .section-block -->
<div class="section-block text-center text-sm-left">
  <h3 class="section-title pt-0">Visual links</h3>
  <!-- .visual-picker -->
  <a href="#" class="visual-picker visual-picker-sm has-peek px-3">
    <!-- .visual-picker-figure -->
    <div class="visual-picker-figure">
      <!-- .visual-picker-content -->
      <span class="visual-picker-content">
        <span class="tile tile-sm bg-info">
          <i class="oi oi-person"></i>
        </span>
      </span>
      <!-- /.visual-picker-content -->
    </div>
    <!-- /.visual-picker-figure -->
    <!-- .visual-picker-peek -->
    <span class="visual-picker-peek">Accounts</span>
  </a>
  <!-- /.visual-picker -->

  <!-- .visual-picker -->
  <a href="#" class="visual-picker visual-picker-sm has-peek px-3">
    <!-- .visual-picker-figure -->
    <div class="visual-picker-figure">
      <!-- .visual-picker-content -->
      <span class="visual-picker-content">
        <span class="tile tile-sm bg-danger">
          <i class="fa fa-money-bill-alt"></i>
        </span>
      </span>
      <!-- /.visual-picker-content -->
    </div>
    <!-- /.visual-picker-figure -->
    <!-- .visual-picker-peek -->
    <span class="visual-picker-peek">My Wallet</span>
  </a>
  <!-- /.visual-picker -->

  <!-- .visual-picker -->
  <a href="#" class="visual-picker visual-picker-sm has-peek px-3">
    <!-- .visual-picker-figure -->
    <div class="visual-picker-figure">
      <!-- .visual-picker-content -->
      <span class="visual-picker-content">
        <span class="tile tile-sm bg-success">
          <i class="oi oi-people"></i>
        </span>
      </span>
      <!-- /.visual-picker-content -->
    </div>
    <!-- /.visual-picker-figure -->
    <!-- .visual-picker-peek -->
    <span class="visual-picker-peek">Teams</span>
  </a>
  <!-- /.visual-picker -->

  <!-- .visual-picker -->
  <a href="#" class="visual-picker visual-picker-sm has-peek px-3">
    <!-- .visual-picker-figure -->
    <div class="visual-picker-figure">
      <!-- .visual-picker-content -->
      <span class="visual-picker-content">
        <span class="tile tile-sm bg-warning">
          <i class="oi oi-question-mark"></i>
        </span>
      </span>
      <!-- /.visual-picker-content -->
    </div>
    <!-- /.visual-picker-figure -->
    <!-- .visual-picker-peek -->
    <span class="visual-picker-peek">Help Center</span>
  </a>
  <!-- /.visual-picker -->
</div>
<!-- /.section-block -->

<!-- .section-block -->
<div class="section-block text-center text-sm-left">
  <h3 class="section-title">Your plan</h3>

  <!-- .visual-picker -->
  <div class="visual-picker visual-picker-lg has-peek">
    <!-- visual-picker input -->
    <input type="radio" id="vpr05" name="vprLG">
    <!-- .visual-picker-figure -->
    <label class="visual-picker-figure" for="vpr05">
      <!-- .visual-picker-content -->
      <span class="visual-picker-content">
        <span class="h3 d-block">Free</span>
        <span>100GB Disk Space / 2GB Bandwidth</span>
      </span>
      <!-- /.visual-picker-content -->
    </label>
    <!-- /.visual-picker-figure -->
    <!-- .visual-picker-peek -->
    <span class="visual-picker-peek">Started</span>
  </div>
  <!-- /.visual-picker -->

  <!-- .visual-picker -->
  <div class="visual-picker visual-picker-lg has-peek">
    <!-- visual-picker input -->
    <input type="radio" id="vpr07" name="vprLG" checked>
    <!-- .visual-picker-figure -->
    <label class="visual-picker-figure" for="vpr07">
      <!-- .visual-picker-content -->
      <span class="visual-picker-content">
        <span class="h3 d-block">$49</span>
        <span>500GB Disk Space / 8GB Bandwidth</span>
      </span>
      <!-- /.visual-picker-content -->
    </label>
    <!-- /.visual-picker-figure -->
    <!-- .visual-picker-peek -->
    <span class="visual-picker-peek">Professional</span>
  </div>
  <!-- /.visual-picker -->

  <!-- .visual-picker -->
  <div class="visual-picker visual-picker-lg has-peek">
    <!-- visual-picker input -->
    <input type="radio" id="vpr08" name="vprLG">
    <!-- .visual-picker-figure -->
    <label class="visual-picker-figure" for="vpr08">
      <!-- .visual-picker-content -->
      <span class="visual-picker-content">
        <span class="h3 d-block">$99</span>
        <span>Unlimited Disk Space / Unlimited Bandwidth</span>
      </span>
      <!-- /.visual-picker-content -->
    </label>
    <!-- /.visual-picker-figure -->
    <!-- .visual-picker-peek -->
    <span class="visual-picker-peek">Bussiness</span>
  </div>
  <!-- /.visual-picker -->
</div>
<!-- /.section-block -->
