<!-- .section-block -->
<div class="section-block">
  <h2 class="section-title">Photoswipe</h2>
  <p class="text-muted">JavaScript image gallery for mobile and desktop.</p>
</div>
<!-- /.section-block -->

<!-- grid row -->
<div class="row pswp-gallery">
  <!-- grid column -->
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <!-- .card -->
    <div class="card card-figure">
      <!-- .card-figure -->
      <figure class="figure">
        <!-- .figure-img -->
        <div class="figure-img">
          <img class="img-fluid" src="assets/images/dummy/img-5.jpg" alt="Card image cap">
          <a href="assets/images/dummy/img-5.jpg" class="img-link" data-size="600x450">
            <span class="tile tile-circle bg-danger"><span class="oi oi-eye"></span></span>
            <span class="img-caption d-none">Image caption goes here</span>
          </a>
          <div class="figure-action">
            <a href="#" class="btn btn-block btn-sm btn-primary">View Details</a>
          </div>
        </div>
        <!-- /.figure-img -->
        <!-- .figure-caption -->
        <figcaption class="figure-caption">
          <ul class="list-inline text-muted mb-0">
            <li class="list-inline-item"><span class="oi oi-paperclip"></span> 0.62MB</li>
            <li class="list-inline-item float-right"><span class="oi oi-calendar"></span> {{site.time | date: "%b %d, %Y"}}</li>
          </ul>
        </figcaption>
        <!-- /.figure-caption -->
      </figure>
      <!-- /.card-figure -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->

  <!-- grid column -->
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <!-- .card -->
    <div class="card card-figure">
      <!-- .card-figure -->
      <figure class="figure">
        <!-- .figure-img -->
        <div class="figure-img">
          <img class="img-fluid" src="assets/images/dummy/img-6.jpg" alt="Card image cap">
          <a href="assets/images/dummy/img-6.jpg" class="img-link" data-size="600x450">
            <span class="tile tile-circle bg-danger"><span class="oi oi-eye"></span></span>
            <span class="img-caption d-none">Image caption goes here</span>
          </a>
          <div class="figure-action">
            <a href="#" class="btn btn-block btn-sm btn-primary">View Details</a>
          </div>
        </div>
        <!-- /.figure-img -->
        <!-- .figure-caption -->
        <figcaption class="figure-caption">
          <ul class="list-inline text-muted mb-0">
            <li class="list-inline-item"><span class="oi oi-paperclip"></span> 0.62MB</li>
            <li class="list-inline-item float-right"><span class="oi oi-calendar"></span> {{site.time | date: "%b %d, %Y"}}</li>
          </ul>
        </figcaption>
        <!-- /.figure-caption -->
      </figure>
      <!-- /.card-figure -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->

  <!-- grid column -->
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <!-- .card -->
    <div class="card card-figure">
      <!-- .card-figure -->
      <figure class="figure">
        <!-- .figure-img -->
        <div class="figure-img">
          <img class="img-fluid" src="assets/images/dummy/img-2.jpg" alt="Card image cap">
          <a href="assets/images/dummy/img-2.jpg" class="img-link" data-size="600x450">
            <span class="tile tile-circle bg-danger"><span class="oi oi-eye"></span></span>
            <span class="img-caption d-none">Image caption goes here</span>
          </a>
          <div class="figure-action">
            <a href="#" class="btn btn-block btn-sm btn-primary">View Details</a>
          </div>
        </div>
        <!-- /.figure-img -->
        <!-- .figure-caption -->
        <figcaption class="figure-caption">
          <ul class="list-inline text-muted mb-0">
            <li class="list-inline-item"><span class="oi oi-paperclip"></span> 0.62MB</li>
            <li class="list-inline-item float-right"><span class="oi oi-calendar"></span> {{site.time | date: "%b %d, %Y"}}</li>
          </ul>
        </figcaption>
        <!-- /.figure-caption -->
      </figure>
      <!-- /.card-figure -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->

  <!-- grid column -->
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <!-- .card -->
    <div class="card card-figure">
      <!-- .card-figure -->
      <figure class="figure">
        <!-- .figure-img -->
        <div class="figure-img">
          <img class="img-fluid" src="assets/images/dummy/img-3.jpg" alt="Card image cap">
          <a href="assets/images/dummy/img-3.jpg" class="img-link" data-size="600x450">
            <span class="tile tile-circle bg-danger"><span class="oi oi-eye"></span></span>
            <span class="img-caption d-none">Image caption goes here</span>
          </a>
          <div class="figure-action">
            <a href="#" class="btn btn-block btn-sm btn-primary">View Details</a>
          </div>
        </div>
        <!-- /.figure-img -->
        <!-- .figure-caption -->
        <figcaption class="figure-caption">
          <ul class="list-inline text-muted mb-0">
            <li class="list-inline-item"><span class="oi oi-paperclip"></span> 0.62MB</li>
            <li class="list-inline-item float-right"><span class="oi oi-calendar"></span> {{site.time | date: "%b %d, %Y"}}</li>
          </ul>
        </figcaption>
        <!-- /.figure-caption -->
      </figure>
      <!-- /.card-figure -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->

  <!-- grid column -->
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <!-- .card -->
    <div class="card card-figure">
      <!-- .card-figure -->
      <figure class="figure">
        <!-- .figure-img -->
        <div class="figure-img">
          <img class="img-fluid" src="assets/images/dummy/img-1.jpg" alt="Card image cap">
          <a href="assets/images/dummy/img-1.jpg" class="img-link" data-size="600x450">
            <span class="tile tile-circle bg-danger"><span class="oi oi-eye"></span></span>
            <span class="img-caption d-none">Image caption goes here</span>
          </a>
          <div class="figure-action">
            <a href="#" class="btn btn-block btn-sm btn-primary">View Details</a>
          </div>
        </div>
        <!-- /.figure-img -->
        <!-- .figure-caption -->
        <figcaption class="figure-caption">
          <ul class="list-inline text-muted mb-0">
            <li class="list-inline-item"><span class="oi oi-paperclip"></span> 0.62MB</li>
            <li class="list-inline-item float-right"><span class="oi oi-calendar"></span> {{site.time | date: "%b %d, %Y"}}</li>
          </ul>
        </figcaption>
        <!-- /.figure-caption -->
      </figure>
      <!-- /.card-figure -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /grid column -->
</div>
<!-- /grid row -->


{% include ui/photoswipe-element.html %}
